{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - confirm variation approved" %}
{% set pageId = "confirm-variation-approved-page" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Variation for " + licence.forename + " " + licence.surname + " approved"
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body" id="sent-to">
                The variation for {{ licence.forename }} {{ licence.surname }} has been approved with your digital signature.
            </p>
            <p class="govuk-body" id="notified-to">
                We have sent an email notification to the probation practitioner.
            </p>
            <p class="govuk-body">
                They will be able to print and issue the licence or post sentence supervision order.
            </p>

            <p class="govuk-body">
                {{ govukButton({
                    text: "Return to case list",
                    classes: "govuk-button--primary govuk-!-margin-bottom-0 govuk-body",
                    href: '/licence/vary-approve/list',
                    attributes: { 'data-qa': 'return-to-vary-approve-cases' }
                }) }}
            </p>
        </div>
    </div>
{% endblock %}
