{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - licence variation referred" %}
{% set pageId = "variation-referred-page" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Licence variation for " + licence.forename + " " + licence.surname + " declined"
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>
                The variation for {{ licence.forename }} {{licence.surname}} has been declined.
            </p>
            <p>
                We have sent an email to the probation practitioner to notify them.
            </p>
            <p>
                They can amend and resend the variation or discard it.
            </p>

            <p>
                {{ govukButton({
                    text: "Return to case list",
                    classes: "govuk-button--primary govuk-!-margin-bottom-0 govuk-body",
                    href: '/licence/vary-approve/list',
                    attributes: { 'data-qa': 'return-to-vary-approve-cases' }
                }) }}
            </p>

            <p>
                <a href="{{ exitSurveyLink }}" rel="noreferrer noopener" target="_blank" id="exit-survey" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
            </p>
        </div>
    </div>
{% endblock %}
