{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "partials/variedConditions.njk" import variedConditions %}
{% from "partials/variationDetails.njk" import variationDetails %}

{% set pageTitle = applicationName + " - variation summary" %}
{% set pageId = "variation-summary-page" %}
{% set backLinkHref = "/licence/vary-approve/id/" + licence.id + "/view" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Licence variation summary</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ variationDetails(licence, conversation) }}
            {{ variedConditions(conditionComparison) }}
        </div>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Approve variation",
                        attributes: { 'data-qa': 'approve-variation' }
                    }) }}

                    {{ govukButton({
                        text: "Reject or request amendments",
                        classes: "govuk-button--secondary",
                        attributes: { 'data-qa': 'refer-variation' },
                        href: '/licence/vary-approve/id/' + licence.id + '/refer'
                    }) }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
