{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro additionalInformationSummary(licence, isEditable, validationErrors) %}
    {% if not licence.isVariation %}
        {% set additionalInformationRows = []%}
        {% set error = validationErrors | findError('electronicMonitoringProvider-isToBeTaggedForProgramme') %}
        {% set electronicMonitoringProvider = licence.electronicMonitoringProvider %}

        {% if electronicMonitoringProvider.isToBeTaggedForProgramme == null %}
            {% set yesNo = 'Not yet entered' %}
        {% elseif electronicMonitoringProvider.isToBeTaggedForProgramme %}
            {% set yesNo = 'Yes' %}
        {% else %}
            {% set yesNo = 'No' %}
        {% endif %}
 
        {% if electronicMonitoringProvider.programmeName and electronicMonitoringProvider.isToBeTaggedForProgramme %}
            {% set pathfinderName = electronicMonitoringProvider.programmeName | escape %}
        {% else %}
            {% set pathfinderName = '' %}
        {% endif %}

        {% set pathfinderResponses = yesNo + "<br><br>" + pathfinderName %}

        {% set fieldId = 'electronicMonitoringProvider-isToBeTaggedForProgramme' | replace('.', '-') %}
        <div id="{{ fieldId }}" class="{% if error %} urgent-highlight {% endif %}">
            <h2 class="govuk-heading-m">Additional information</h2>
            <p>This information will not appear on the licence.</p>
            {% if error %}
                <p class="govuk-error-message">
                    <span>{{ error.text }}</span>
                </p>
            {% endif %}
            {{
                govukSummaryList({
                    attributes: { id: "additionalInformationSummaryList" },
                    rows: [{
                        key: { text: "Are they being tagged as a part of a pathfinder or programme?" },
                        value: { html: pathfinderResponses },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: 'Change',
                                    visuallyHiddenText: 'if they are being tagged as part of a pathfinder or programme.'
                                }
                            ] if isEditable else []
                        }
                    }]
                })
            }}
        </div>
    {% endif %}
{% endmacro %}