{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro additionalLicenceConditions(licence, additionalConditions, isEditable, validationErrors, title, hideHeading) %}
    {% set errorMessage = validationErrors | findError('additionalLicenceConditions') %}

    {% if hideHeading != true %}
        <div class="govuk-grid-row check-answers-header">
            <div class="govuk-grid-column-full">
                <h2 id="additional-licence-conditions-heading"
                    class="govuk-heading-m">{{ title or "Additional licence conditions" }}</h2>
            </div>
        </div>
    {% endif %}

    {% set conditionCount = additionalConditions.length %}
    {% set conditionWord = "condition" if (conditionCount) === 1 else "conditions" %}

    {% set rows = [] %}
    {% if hideHeading != true %}
        {% set rows = (rows.push({
            classes: 'govuk-summary-list__row--error' if errorMessage,
            key: {  text: "Select additional conditions" },
            value: { text: "" + conditionCount  + " " + conditionWord + " selected" },
            actions: {
                items: [
                    {
                        href: "/licence/create/id/" + licence.id + "/additional-licence-conditions?fromReview=true",
                        text: "Change",
                        visuallyHiddenText: "Add or remove conditions"
                    }
                ]
            } if isEditable
        }), rows) %}
    {% endif %}

    {% for conditionGroup in additionalConditions %}
        {% if conditionGroup.length == 1 %}
            {% set condition = conditionGroup[0] %}              
            {% set rows = (rows.push(
                  additionalCondition(licence, condition, additionalConditionHtml(condition), isEditable )
                 ), rows) %}
        {% else %}
            {% set conditionHtml = conditionGroup | sortConditionsById | map(additionalConditionHtml) | join %}
            {% set rows = (rows.push(
                additionalCondition(licence, conditionGroup[0], conditionHtml, isEditable )), rows) %}
        {% endif %}
    {% endfor %}

    {{ govukSummaryList({
        attributes: { id: 'additionalLicenceConditions' },
        classes: 'govuk-!-margin-bottom-9',
        rows: rows | sortConditionsBySequence
    }) }}

{% endmacro %}

{% macro additionalConditionHtml(condition) %}
    <div>
        {{ condition.expandedText }}
    </div>
    {% if condition.data.length %}
        <div class="govuk-!-font-weight-bold govuk-!-margin-top-3">
            {% for entry in condition.data | separatedDataByFieldName %}
                <span class="govuk-!-display-block govuk-!-margin-top-2">{{ entry | formatAddress }}</span>
            {% endfor %}
        </div>
    {% endif %}

    {% if condition.uploadSummary.length %}
        {{ includeExclusionZoneImage(condition) }}
    {% endif %}

{% endmacro %}

{% macro includeExclusionZoneImage(condition) %}
    <div id="exclusion-zone">
        <div class="upload-thumbnail">
            <img src="data:image/jpeg;base64, {{ condition.uploadSummary[0].thumbnailImage }}"
                 alt="Exclusion zone map"/>
        </div>
        <div class="upload-detail govuk-!-padding-bottom-3">
            {{ condition.uploadSummary[0].description }}
        </div>
    </div>
{% endmacro %}
