{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro additionalPssConditions(licence, isEditable, validationErrors) %}
    {% set errorMessage = validationErrors | findError('additionalPssConditions') %}
    {% macro additionalConditionHtml(expandedConditionText, data) %}
        <div>
            {{ expandedConditionText }}
        </div>
        {% if data.length %}
            <div class="govuk-!-font-weight-bold govuk-!-margin-top-3">
                {% for entry in data | separatedDataByFieldName %}
                    <span class="govuk-!-display-block govuk-!-margin-top-2">{{ entry | formatAddress }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endmacro %}

    <div class="govuk-grid-row check-answers-header">
        <div class="govuk-grid-column-three-quarters">
            <h2 id="additional-pss-conditions-heading" class="govuk-heading-m">Additional post sentence requirements details</h2>
        </div>
    </div>

    {% set additionalPssConditions = [] %}

    {# Add select additional PSS requirements + count of existing requirements #}
    {% set conditionWord = "requirement" if licence.additionalPssConditions.length === 1 else "requirements" %}
    {% set additionalPssConditions = (additionalPssConditions.push({
        classes: 'govuk-summary-list__row--error' if errorMessage,
        key: {  text: "Select additional requirements" },
        value: { text: "" + licence.additionalPssConditions.length + " " + conditionWord + " selected" },
        actions: {
            items: [
                {
                    href: "/licence/create/id/" + licence.id + "/additional-pss-conditions?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "Add or remove requirements"
                }
            ]
        } if isEditable
    }), additionalPssConditions) %}

    {% for condition in licence.additionalPssConditions %}
        {% set additionalPssConditions = (additionalPssConditions.push({
            key: {  text: condition.category },
            value: { html: additionalConditionHtml(condition.expandedText, condition.data) },
            actions: {
                items: [
                    {
                        href: "/licence/create/id/" + licence.id + "/additional-pss-conditions/condition/" + condition.id + "?fromReview=true",
                        text: "Change",
                        visuallyHiddenText: "Change requirement"
                    }
                ]
            } if condition | checkConditionRequiresInput and isEditable
        }), additionalPssConditions) %}
    {% endfor %}

    {% if additionalPssConditions.length > 0 %}
      {{ govukSummaryList({
        attributes: { id: 'additionalPssConditions' },
        classes: 'govuk-!-margin-bottom-9',
        rows: additionalPssConditions
      }) }}
    {% endif %}
{% endmacro %}
