{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro additionalLicenceConditions(licence, expandedLicenceConditions, isEditable) %}
    {% macro additionalConditionHtml(expandedConditionText, data) %}
        <div>
            {{ expandedConditionText }}
        </div>
        {% if data.length %}
            <div class="govuk-!-font-weight-bold govuk-!-margin-top-3">
                {% for entry in data | separatedDataByFieldName %}
                    <span class="govuk-!-display-block govuk-!-margin-top-2">{{ entry | formatAddress }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endmacro %}

    <div class="govuk-grid-row check-answers-header">
        <div class="govuk-grid-column-three-quarters">
            <h2 id="additional-licence-conditions-heading" class="govuk-heading-m">Additional conditions details</h2>
        </div>
    </div>

    {% set additionalLicenceConditions = [] %}

    {# Add select additional conditions and count of existing conditions #}
    {% set conditionWord = "condition" if expandedLicenceConditions.length === 1 else "conditions" %}
    {% set additionalLicenceConditions = (additionalLicenceConditions.push({
        key: {  text: "Select additional conditions" },
        value: { text: "" + expandedLicenceConditions.length + " " + conditionWord + " selected" },
        actions: {
            items: [
                {
                    href: "/licence/create/id/" + licence.id + "/additional-licence-conditions?fromReview=true",
                    text: "Change",
                    visuallyHiddenText: "name"
                }
            ]
        } if isEditable
    }), additionalLicenceConditions) %}

    {# Show the entered additional conditions in the remainder of this summary list #}
    {% for condition in expandedLicenceConditions %}
        {% set additionalLicenceConditions = (additionalLicenceConditions.push({
            key: {  text: condition.category },
            value: { html: additionalConditionHtml(condition.text, condition.data) },
            actions: {
                items: [
                    {
                        href: "/licence/create/id/" + licence.id + "/additional-licence-conditions/condition/" + condition.id + "?fromReview=true",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                ]
            } if condition | checkConditionRequiresInput and isEditable
        }), additionalLicenceConditions) %}
    {% endfor %}

    {% if additionalLicenceConditions.length > 0 %}
      {{ govukSummaryList({
        attributes: { id: 'additional-licence-conditions-details' },
        classes: 'govuk-!-margin-bottom-9',
        rows: additionalLicenceConditions
      }) }}
    {% endif %}
{% endmacro %}
