{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{%  macro bespokeConditions(licenceId, isEditable, title, hideHeading, bespokeConditions) %}
    {% set bespokeConditionRows = [] %}
    {% set conditionCount = bespokeConditions.length or 0 %}
    {% set buttonText = "Add or remove conditions" if conditionCount else "Add conditions" %}
    {% if hideHeading != true %}
        <div class="govuk-grid-row check-answers-header govuk-!-padding-top-9">
            <div class="govuk-grid-column-three-quarters">
                <h2 id="bespoke-conditions-heading"
                    class="govuk-heading-m">{{ title or "Bespoke licence conditions" }} ({{conditionCount}})</h2>
            </div>
            <div class="govuk-grid-column-one-quarter">
                {% if isEditable %}
                    {{ govukButton({
                        href: "/licence/create/id/" + licenceId + "/bespoke-conditions?fromReview=true",
                        text: buttonText,
                        classes: 'govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action float-right',
                        visuallyHiddenText: buttonText
                    }) }}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for condition in bespokeConditions %}
        {% set bespokeConditionRows = (bespokeConditionRows.push({
            key: { text: 'Bespoke condition' },
            value: { text: condition.text },
            actions: {
                items: [
                    {
                        href: "/licence/create/id/" + licenceId + "/bespoke-conditions?fromReview=true",
                        text: "Change",
                        visuallyHiddenText: "Change bespoke conditions"
                    }
                ]
            } if isEditable
        }), bespokeConditionRows) %}
    {% endfor %}


    {{ govukSummaryList({
        attributes: { id: 'bespoke-conditions-details' },
        classes: 'govuk-!-margin-bottom-9 govuk-!-margin-top-7',
        rows: bespokeConditionRows
    }) }}

{% endmacro %}
