{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro card(params) %}
<div id="{{ params.id }}" class="card{% if params.clickable %} card--clickable{% endif %}" data-qa="{{ params['data-qa'] }}">
    <h2 class="govuk-heading-m card__heading">
        {%- if params.href %}
            <a class="govuk-link card__link" href="{{ params.href }}">{{ params.heading | safe }}</a>
        {%- else %}
            {{ params.heading }}
        {%- endif %}
    </h2>
    {%- if params.description %}
        <p class="govuk-body card__description">{{ params.description | safe }}</p>
    {%- endif %}
    {%- if params.warning %}
        <p class="govuk-warning-text">{{ params.warning | safe }}</p>
    {%- endif %}
</div>
{% endmacro %}