{% extends "../layout.njk" %}

{% set pageTitle = applicationName + " - Report" %}
{% set pageId = "report" %}
{% set backLinkHref = "/" %}

{% block pageScripts %}
  <script type="module" src="/assets/dpr/all.mjs"></script>
  <script type="module">
    import { initAll } from '/assets/dpr/all.mjs'
    initAll()
  </script>
{% endblock %}

