{% from "moj/components/alert/macro.njk" import mojAlert %}

{% if showGetHelpAlert %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        {{ mojAlert({
          variant: "information",
          dismissible: false,
          html: serviceNowUrl
        }) }}
    </div>
{% endif %}
