{% from "moj/components/alert/macro.njk" import mojAlert %}

{% if showGetHelpAlert %}
    {% set helpContent %}
        The quickest way to get help using this service is to 
        <a href="{{ serviceNowUrl }}">fill in a support request form</a>.
    {% endset %}

    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
        {{ mojAlert({
          variant: "information",
          dismissible: false,
          html: helpContent
        }) }}
    </div>
{% endif %}
