{% from "moj/components/alert/macro.njk" import mojAlert %}

{% if showCommsBanner %}
    {% set classes = 'govuk-!-margin-bottom-0' %}
{% else %}
    {% set classes = '' %}
{% endif %}

{% if showGetHelpAlert %}
    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-7">
        {{ mojAlert({
          variant: "information",
          showTitleAsHeading: true,
          title: "Important",
          dismissible: false,
          classes: classes,
          html: 'The quickest way to get help using this service is to ' +
                '<a href="https://mojprod.service-now.com/moj_sp?id=sc_cat_item' +
                '&table=sc_cat_item' +
                '&sys_id=e389e8931b8bc65025dc6351f54bcb82' +
                '&recordUrl=com.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1' +
                '&sysparm_id=e389e8931b8bc65025dc6351f54bcb82">fill in a support request form</a>.'
        }) }}
    </div>
{% endif %}
