<header class="govuk-header govuk-!-display-none-print" role="banner" data-module="govuk-header" >
    <div id="header-contents" class="govuk-width-container">
        <div id="site-header-block">
            <div id="logo">
                <img alt="" src="/assets/images/crest.svg"/>
            </div>
            <a id="hmpps-title" href="{{ authHome }}" class="govuk-header__link govuk-!-padding-top-1 govuk-!-padding-bottom-1">
                HMPPS&nbsp;
            </a>
            <a id="main-title" href="/" class="govuk-header__link govuk-!-padding-top-1 govuk-!-padding-bottom-1">
                {{applicationName}}
            </a>
        </div>
        {% if user %}
            <div id="user-block" class="govuk-!-padding-top-1 govuk-!-padding-bottom-1">
                <div id="header-user-name" data-qa="header-user-name">
                    {{ user.displayName | initialiseName }}
                </div>
                <div class="govuk-!-padding-right-0">
                    <a class="sign-out-link" data-qa="signOut" href="/logout">Sign out</a>
                </div>
            </div>
        {% endif %}
    </div>
</header>
