{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% macro improveService(surveyUrl, serviceNowUrl) %}
    {{ mojAlert({
      variant: "information",
      title: "Help improve this service",
      showTitleAsHeading: true,
      dismissible: false,
      html: 'Licence for people released with time served are new to this service. 
      Your feedback will help make it better.
      <br>To give feedback you can:
        <ul>
            <li>
                <a href="' + surveyUrl + '" target="_blank" class="govvey">complete a short survey</a>
            </li>
            <li>
                <a href="' + serviceNowUrl + '" target="_blank" class="govvey">report a technical problem on Technology Portal</a>
            </li>
        </ul>',
      attributes: { 'data-qa': 'improve-service-alert' }
    }) }}
{% endmacro %}
