{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro inductionMeetingDetails(licence, isEditable, validationErrors, contactForChangeText) %}
    {% set apptDateTimeEntered = licence.appointmentTime | length > 0 %}

    <div class="govuk-grid-row check-answers-header">
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-!-margin-bottom-3 govuk-heading-m">Initial appointment details</h2>
        </div>
    </div>
    {% if contactForChangeText %}
        <p class="govuk-!-margin-bottom-3 govuk-body">{{contactForChangeText}}</p>
    {% endif %}

    {{ govukSummaryList({
        attributes: { id: 'induction-meeting-details' },
        classes: 'govuk-!-margin-bottom-9',
        rows: [
            {
                classes: 'govuk-summary-list__row--error' if validationErrors | findError('appointmentPerson'),
                key: { text: "Name" },
                value: { text: licence.appointmentPerson },
                actions: {
                    items: [
                        {
                            href: "/licence/create/id/" + licence.id + "/initial-meeting-name?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "name"
                        }
                    ]
                } if isEditable
            },
            {
                classes: 'govuk-summary-list__row--error' if validationErrors | findError('appointmentAddress'),
                key: { text: "Address" },
                value: { text: licence.appointmentAddress | formatAddress },
                actions: {
                    items: [
                        {
                            href: "/licence/create/id/" + licence.id + "/initial-meeting-place?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "address"
                        }
                    ]
                } if isEditable
            },
            {
                classes: 'govuk-summary-list__row--error' if validationErrors | findError('appointmentContact'),
                key: { text: "Contact phone number" },
                value: { text: licence.appointmentContact },
                actions: {
                    items: [
                        {
                            href: "/licence/create/id/" + licence.id + "/initial-meeting-contact?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "telephone"
                        }
                    ]
                } if isEditable
            },
            {
                classes: 'govuk-summary-list__row--error' if validationErrors | findError('appointmentTimeType'),
                key: { text: "Date/time" },
                value: { text: licence.appointmentTimeType | getAppointmentTimeType },
                actions: {
                    items: [
                        {
                            href: "/licence/create/id/" + licence.id + "/initial-meeting-time?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "date"
                        }
                    ]
                } if isEditable
            }if licence.appointmentTimeType !== 'SPECIFIC_DATE_TIME',
            {
                classes: 'govuk-summary-list__row--error' if validationErrors | findError('appointmentTime'),
                key: { text: "Date" },
                value: { text: licence.appointmentTime | datetimeToDateShort if apptDateTimeEntered else "Not yet entered" },
                actions: {
                    items: [
                        {
                            href: "/licence/create/id/" + licence.id + "/initial-meeting-time?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "date"
                        }
                    ]
                } if isEditable
            } if licence.appointmentTimeType === 'SPECIFIC_DATE_TIME',
            {
                classes: 'govuk-summary-list__row--error' if validationErrors | findError('appointmentTime'),
                key: { text: "Time" },
                value: { text: licence.appointmentTime | datetimeTo12HourTime if apptDateTimeEntered else "Not yet entered" },
                actions: {
                    items: [
                        {
                            href: "/licence/create/id/" + licence.id + "/initial-meeting-time?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "time"
                        }
                    ]
                } if isEditable
            } if licence.appointmentTimeType === 'SPECIFIC_DATE_TIME'
        ]
    }) }}
{% endmacro %}
