{% macro licenceDescription(typeCode) %}
    {% if typeCode === 'AP' %}
        Standard determinate
    {% elseif typeCode === 'AP_PSS' %}
        Standard determinate<br/>
        Post sentence supervision
    {% elseif typeCode === 'PSS' %}
        Post sentence supervision
    {% else %}
        {{ typeCode }}
    {% endif %}
{% endmacro %}
