{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<form method="get">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
                label: {
                    text: "First name"
                },
                id: "firstName",
                value: searchValues.firstName,
                name: "firstName"
            }) }}
        </div>
        <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
                label: {
                    text: "Last name"
                },
                id: "lastName",
                value: searchValues.lastName,
                name: "lastName"
            }) }}
        </div>
        <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
                label: {
                    text: "CRN"
                },
                id: "crn",
                value: searchValues.crn,
                name: "crn"
            }) }}
        </div>
        <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
                label: {
                    text: "Prison identifier"
                },
                id: "prisonerIdentifier",
                value: searchValues.prisonerIdentifier,
                name: "prisonerIdentifier"
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters ">
            <div>
                {{ govukButton({
                    classes: "govuk-button--primary",
                    text: "Search",
                    preventDoubleClick: true,
                    attributes: {  'data-qa': 'search-probation' }
                }) }}
            </div>
        </div>
    </div>
</form>
