{% macro statusBadge(params, statusConfig) %}
    <span class="status-badge {{ statusConfig[params.status].colour }} {{ params.size }}">
      {{ statusConfig[params.status].label }}
    </span>
{% endmacro %}
