{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro statusBadge(params, statusConfig) %}
  {{ govukTag({
      text: statusConfig[params.status].label,
      classes: "govuk-tag--" + statusConfig[params.status].colour + " status-badge"
    })
  }}
{% endmacro %}
