{% macro timePicker(params) %}
    <div class="govuk-form-group">
        {% if params.label %}
            <label for="{{ params.id }}" class="govuk-label {{ params.label.classes }}">
                {{ params.label.text }}
            </label>
        {% endif %}
        {% if params.hint %}
            <div id="{{ params.id }}-hint" class="govuk-hint {{ params.hint.classes }}">
                {{ params.hint.text }}
            </div>
        {% endif %}
        <div class="govuk-date-input" id="{{ params.id }}">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="{{ params.id }}-hour">
                        Hour
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ params.id }}-hour"
                           name="{{ params.namePrefix }}-hour" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="{{ params.id }}-month">
                        Minute
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ params.id }}-month"
                           name="{{ params.namePrefix }}-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="{{ params.id }}-year">
                        am or pm
                    </label>
                    <select class="govuk-select govuk-date-input__input govuk-input--width-2" id="{{ params.id }}-year"
                           name="{{ params.namePrefix }}-year">
                        <option value="am">am</option>
                        <option value="pm">pm</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
