{% from "customComponents/summaryCard/macro.njk" import summaryCard %}

{% macro variationDetails(licence, conversation) %}
    {% set isResidential = licence.curfewAddress and licence.curfewAddress.accommodationType == "RESIDENTIAL" %}
    {% set checksCompleted = licence.curfewAddress.postReleaseResidentialChecksCompleted %}
    {% set checksText = "Yes" if checksCompleted == true else "No" %}
    {% set comments = [] %}

    {% set comments = (comments.push({
        key: { text: "Have you discussed this variation request with your SPO?" },
        value: { text: licence.spoDiscussion }
    }), comments) %}

    {% set comments = (comments.push({
        key: { text: "Have you consulted with the victim liaison officer (VLO) for this case?" },
        value: { text: licence.vloDiscussion }
    }), comments) %}

    {% if isResidential %}
        {% set comments = (comments.push({
            key: { text: "Have you completed the residential address checks?" },
            value: { text: checksText }
        }), comments) %}

        {% if not checksCompleted %}
            {% set comments = (comments.push({
                key: { text: "Enter a reason why address checks have not been completed" },
                value: { text: licence.curfewAddress.postReleaseResidentialChecksNotCompletedReason }
            }), comments) %}
        {% endif %}
    {% endif %}

    {% for comment in conversation %}
        {% set comments = (comments.push({
            key: {
                text: "Add reasons for the variation" if comment.role === "COM" else "Feedback from approver",
                classes: "align-content-start"
            },
            value: {
                html: "
                    <div class='govuk-grid-row'>
                        <div class='govuk-grid-column-one-half'>
                            " + comment.comment + "
                        </div>
                        <div class='govuk-grid-column-one-half'>
                            By " + (comment.who | title)  +", " + (comment.when | datetimeToDate) + "
                        </div>
                    </div>
                "
            }
        }), comments) %}
    {% endfor %}


    {{ summaryCard({
        classes: "govuk-!-margin-bottom-6",
        titleText: "Variation details",
        rows: comments
    }) }}
{% endmacro %}
