{% from "customComponents/summaryCard/macro.njk" import summaryCard %}

{% macro variedConditions(conditionComparison) %}
    {% macro includeExclusionZoneImage(uploadSummary) %}
        <div id="exclusion-zone">
            <div class="upload-thumbnail">
                <img src="data:image/jpeg;base64, {{ uploadSummary.thumbnailImage }}"
                     alt="Exclusion zone map"/>
            </div>
            <div class="upload-detail govuk-!-padding-bottom-3">
                {{ uploadSummary.description }}
            </div>
        </div>
    {% endmacro %}

    {% macro buildConditionsSummaryCard(title, conditions) %}
        {% set rows = [] %}
        {% for condition in conditions %}
            {% set valueHtml %}
                {% if condition.uploadSummaries.length %}
                    {% for summary in condition.uploadSummaries %}
                        {{ summary.text | striptags(true) | escape }}
                        {{ includeExclusionZoneImage(summary) }}
                    {% endfor %}
                {% else %}
                    {{ condition.condition | striptags(true) | escape | nl2br }}
                {% endif %}
            {% endset %}

            {% set rows = (rows.push({
                key: {  text: condition.category },
                value: { html: valueHtml }
            }), rows) %}
        {% endfor %}

        {{ summaryCard({
            classes: "govuk-!-margin-bottom-6",
            titleText: title,
            rows: rows
        }) }}
    {% endmacro %}

    {% if conditionComparison.licenceConditionsAdded.length > 0 %}
        {{ buildConditionsSummaryCard('Licence conditions added', conditionComparison.licenceConditionsAdded) }}
    {% endif %}
    {% if conditionComparison.licenceConditionsRemoved.length > 0 %}
        {{ buildConditionsSummaryCard('Licence conditions removed', conditionComparison.licenceConditionsRemoved) }}
    {% endif %}
    {% if conditionComparison.licenceConditionsAmended.length > 0 %}
        {{ buildConditionsSummaryCard('Licence conditions amended', conditionComparison.licenceConditionsAmended) }}
    {% endif %}
    {% if conditionComparison.pssConditionsAdded.length > 0 %}
        {{ buildConditionsSummaryCard('Post sentence supervision requirement added', conditionComparison.pssConditionsAdded) }}
    {% endif %}
    {% if conditionComparison.pssConditionsRemoved.length > 0 %}
        {{ buildConditionsSummaryCard('Post sentence supervision requirement removed', conditionComparison.pssConditionsRemoved) }}
    {% endif %}
    {% if conditionComparison.pssConditionsAmended.length > 0 %}
        {{ buildConditionsSummaryCard('Post sentence supervision requirement amended', conditionComparison.pssConditionsAmended) }}
    {% endif %}
{% endmacro %}
