{% from "customComponents/summaryCard/macro.njk" import summaryCard %}

{% macro variationDetails(licence, conversation) %}
    {% set comments = [] %}
    {{ licence | dump }}

    {% set comments = (comments.push({
        key: { text: "Have you discussed this variation request with your SPO?" },
        value: { text: licence.spoDiscussion }
    }), comments) %}

    {% set comments = (comments.push({
        key: { text: "Have you consulted with the victim liaison officer (VLO) for this case?" },
        value: { text: licence.vloDiscussion }
    }), comments) %}

    {% for comment in conversation %}
        {% set comments = (comments.push({
            key: {
                text: "Add reasons for the variation" if comment.role === "COM" else "Feedback from approver",
                classes: "align-content-start"
            },
            value: {
                html: "
                    <div class='govuk-grid-row'>
                        <div class='govuk-grid-column-two-thirds '>
                            " + comment.comment + "
                        </div>
                        <div class='govuk-grid-column-one-third'>
                            <span class='govuk-body-s'>
                                Added by " + (comment.who | title)  +" <br> Added on " + (comment.when | datetimeToDate) + "
                            </span>
                        </div>
                    </div>
                "
            }
        }), comments) %}
    {% endfor %}


    {{ summaryCard({
        classes: "govuk-!-margin-bottom-6",
        titleText: "Variation details",
        rows: comments
    }) }}
{% endmacro %}
