{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro variationSummary(licence, isEditable) %}

    {% set isResidential = licence.curfewAddress and licence.curfewAddress.accommodationType == "RESIDENTIAL" %}
    {% set checksCompleted = licence.curfewAddress.postReleaseResidentialChecksCompleted %}
    {% set checksText = "Yes" if checksCompleted == true else "No" %}

    <div class="govuk-grid-row check-answers-header">
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Variation details</h2>
        </div>
    </div>

    {{ govukSummaryList({
        attributes: { id: 'variation-details' },
        classes: 'govuk-!-margin-bottom-9',
        rows: [
            {
                key: { text: "Have you have discussed this variation request with your SPO?" },
                value: { text: licence.spoDiscussion },
                actions: {
                    items: [
                        {
                            href: "/licence/vary/id/" + licence.id + "/spo-discussion?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "Have you have discussed this variation request with your SPO?"
                        }
                    ]
                } if isEditable
            },
            {
                key: { text: "Have you consulted with the victim liaison officer (VLO) for this case?" },
                value: { text: licence.vloDiscussion },
                actions: {
                    items: [
                        {
                            href: "/licence/vary/id/" + licence.id + "/vlo-discussion?fromReview=true",
                            text: "Change",
                            visuallyHiddenText: "Have you consulted with the victim liaison officer (VLO) for this case?"
                        }
                    ]
                } if isEditable
            },
            {
                key: { text: "Have you completed the residential address checks?" },
                value: { text: checksText },
                actions: {
                    items: [{
                        href: "/licence/vary/id/" + licence.id + "/hdc/address-checks?fromReview=true",
                        text: "Change",
                        visuallyHiddenText: "Completed residential address checks"
                    }]
                } if isEditable
            } if isResidential and (checksCompleted == true or checksCompleted == false),
            {
                key: { text: "Enter a reason why address checks have not been completed" },
                value: {
                    text: licence.curfewAddress.postReleaseResidentialChecksNotCompletedReason
                },
                actions: {
                    items: [{
                        href: "/licence/vary/id/" + licence.id + "/hdc/residential-checks-incomplete?fromReview=true",
                        text: "Change",
                        visuallyHiddenText: "Reason address checks not completed"
                    }]
                } if isEditable
            } if isResidential and (checksCompleted == true or checksCompleted == false) and checksCompleted == false
        ]
    }) }}
{% endmacro %}
