{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro activeCta(callToActions, licence, showTitle, csrfToken) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if callToActions.shouldShowVaryButton %}
                {% if showTitle %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-4">Vary this licence</h2>
                {% endif %}
                {{ govukButton({
                    text: "Vary licence",
                    classes: "govuk-button--primary govuk-!-margin-right-1 govuk-!-margin-top-6",
                    href: '/licence/vary/id/' + licence.id + '/confirm-vary-action',
                    attributes: { 'data-qa': 'vary-licence' }
                }) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro submittedCta(callToActions, licence, csrfToken) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if callToActions.shouldShowEditAndDiscardButton %}
                {% set class = "govuk-button--primary" %}
                {{ govukButton({
                    text: "Edit variation",
                    classes: class + " govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/confirm-amend-variation'
                }) }}
                {{ govukButton({
                    text: "Discard variation",
                    classes: "govuk-button--secondary",
                    href: '/licence/vary/id/' + licence.id + '/confirm-discard-variation'
                }) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
 
{% macro timelineCta(callToAction, licence, csrfToken) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% switch callToAction %}
            
            {% case 'PRINT_TO_ACTIVATE' %}
                {{ govukButton({
                    text: "Set licence to active",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    type: "submit",
                    attributes: { 'data-qa': 'view-and-print' },
                    preventDoubleClick: true
                }) }}
                {{ govukButton ({
                    text: "Return to case list",
                    classes: "govuk-button--secondary",
                    href: "/licence/vary/caseload",
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}
            
            {% case 'VIEW_OR_VARY' %}
                {{ govukButton({
                    text: "View or vary licence",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/view-active',
                    attributes: { 'data-qa': 'view-or-vary-licence' }
                }) }}
                {{ govukButton ({
                    text: "Return to case list",
                    classes: "govuk-button--secondary",
                    href: "/licence/vary/caseload",
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}

            {% case 'VIEW' %}
                {{ govukButton({
                    text: "View licence",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/view-active',
                    attributes: { 'data-qa': 'view-licence' }
                }) }}
                {{ govukButton ({
                    text: "Return to case list",
                    classes: "govuk-button--secondary",
                    href: "/licence/vary/caseload",
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}
            
            {% case 'EDIT' %}
                {{ govukButton({
                    text: "Edit variation",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/view',
                    attributes: { 'data-qa': 'edit-licence' }
                }) }}
                {{ govukButton ({
                    text: "Return to case list",
                    classes: "govuk-button--secondary",
                    href: "/licence/vary/caseload",
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}
            
            {% case 'REVIEW' %}
                {% if licence.kind === 'TIME_SERVED' %}
                    <div class="govuk-grid-column-full" data-qa="review-needed-txt">
                        {{ govukWarningText ({
                            text: "Review needed - This person was released with time served on a standard licence generated by the prison.",
                            classes: "govuk-grid-column-two-thirds"
                        }) }}
                    </div>
                {% else %}
                    <div class="govuk-grid-column-full" data-qa="review-needed-txt">
                        {{ govukWarningText ({
                            text: "Review needed – Standard licence generated by the prison as you did not get one approved in time for the prison's final release checks.",
                            classes: "govuk-grid-column-two-thirds"
                        }) }}
                    </div>
                {% endif %}
                <div class="govuk-button-group">
                    {{ govukButton ({
                        text: "Review licence",
                        classes: "govuk-button--primary govuk-!-margin-right-1",
                        href: '/licence/vary/id/' + licence.id + '/have-you-reviewed-this-licence'
                    }) }}
                    {{ govukButton ({
                        text: "Return to case list",
                        classes: "govuk-button--secondary",
                        href: "/licence/vary/caseload",
                        attributes: { 'data-qa': 'return-to-caselist' }
                    }) }}
                </div>
            
            {% endswitch %}
        </div>
    </div>
{% endmacro %}
