{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro cta(callToActions, licence, csrfToken) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if callToActions.shouldShowVaryButton %}
                {{ govukButton({
                    text: "Vary licence",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/confirm-vary-action',
                    attributes: { 'data-qa': 'vary-licence' }
                }) }}
            {% endif %}
            {% if callToActions.shouldShowPrintToActivateButton %}
                {{ govukButton({
                    text: "Set licence to active",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    type: "submit",
                    attributes: { 'data-qa': 'view-and-print' }
                }) }}
            {% endif %}
            {% if callToActions.shouldShowPrintButton %}
                {{ govukButton({
                    text: "Print",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '#'
                }) }}
            {% endif %}
            {% if callToActions.shouldShowViewOrVaryButton %}
                {{ govukButton({
                    text: "View or vary licence",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/view-active',
                    attributes: { 'data-qa': 'view-or-vary-licence' }
                }) }}
            {% endif %}
            {% if callToActions.shouldShowEditButton %}
                {{ govukButton({
                    text: "Edit variation",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/view',
                    attributes: { 'data-qa': 'edit-licence' }
                }) }}
            {% endif %}
            {% if callToActions.shouldShowEditAndDiscardButton %}
                {% set class = "govuk-button--secondary" if callToActions.shouldShowPrintButton else "govuk-button--primary" %}
                {{ govukButton({
                    text: "Edit variation",
                    classes: class + " govuk-!-margin-right-1",
                    href: '/licence/vary/id/' + licence.id + '/confirm-amend-variation'
                }) }}
                {{ govukButton({
                    text: "Discard variation",
                    classes: "govuk-button--secondary",
                    href: '/licence/vary/id/' + licence.id + '/confirm-discard-variation'
                }) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
