{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./statusBadge.njk" import statusBadge %}

{% macro offenderName(offenderName, link, index) %}
    <div class="caseload-offender-name">
        {% if link %}
            <a id="name-button-{{ index }}" href={{ link }} class="govuk-link govuk-heading-s search-highlight">{{ offenderName }}</a>
        {% else %}
            <span id="name-button-{{ index }}" class="govuk-heading-s search-highlight">{{ offenderName }}</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro casesTable(params) %}
{% set licencesHeader = [] %}
    {% if params.licences.length > 0 %}
        {% if params.tabType === 'attentionNeeded' %}
            {% set licencesHeader = (licencesHeader.push({
                    text: "NOMIS legal status",
                    attributes: {
                        "aria-sort": "descending"
                    }
                }), licencesHeader) %}
        {% endif %}
        {% set licencesHeader = (licencesHeader.push({
                        text: "Name",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Prison number",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Probation practitioner",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Release date",
                        attributes: {
                            "aria-sort":  "none" if params.tabType === 'attentionNeeded' else ("descending"  if params.probationView else  "ascending")
                        }
                    }), licencesHeader)
        %}
        {% if params.tabType === 'attentionNeeded' and params.hasSelectedMultiplePrisonCaseloads and params.isSearchPageView %}
            {% set licencesHeader = (licencesHeader.splice(-1, 0, {
                text: "Location",
                attributes: {
                    "aria-sort": "none"
                }
            }), licencesHeader) %}
        {% endif %}
        {% if params.tabType === 'releasesInNextTwoWorkingDays' %}
            {% set licencesHeader = (licencesHeader.push({
                        text: "Last worked on by",
                        attributes: {
                            "aria-sort":  "none" 
                        }
                }), licencesHeader)
            %}
        {% endif %}
        {% if params.tabType !== 'attentionNeeded' %}
            {% set licencesHeader = (licencesHeader.push({
                            text: "Status",
                            attributes: {
                                "aria-sort": "none"
                            }
                    }), licencesHeader)
            %}
        {% endif %}
        {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                caption: "Print an approved licence",
                captionClasses: "govuk-visually-hidden",
                head: licencesHeader,
                rows: params.licences
            }) }}
    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <br>
                <h3 class="govuk-heading-s" data-qa="no-match-message">No licences to display</h3>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro viewCases(params) %}
    {% set cases = params.cases | filterByTabType(params.tabType) %}
    {% set licences = [] %}

    {% for case in cases %}
        {% set caseData = [] %}
        {% if case.probationPractitioner.staffCode or case.probationPractitioner.name %}
            {% set comDetailsHtml = '<a class="govuk-link search-highlight" href="/licence/view/probation-practitioner/staffCode/' + case.probationPractitioner.staffCode + '?activeTab=' + params.activeTab+ '">' + case.probationPractitioner.name + '</a>' %}    
        {% else %}
            {% if case.hardStopKind === "TIME_SERVED" %}
                {% set comDetailsHtml = 'Not allocated yet' %}
            {% else %}
                {% set comDetailsHtml = 'Unallocated' %}
            {% endif %}
        {% endif %}
        {% if case.licenceVersionOf and(case.licenceStatus === 'IN_PROGRESS' or case.licenceStatus === 'SUBMITTED') %}
            {% set licenceStatusHtml = statusBadge({ status: case.licenceStatus, size: 'small' }, params.config) +
                                    "<div class='govuk-!-margin-top-2'> <img class='moj-banner__icon' src='/assets/images/statusBadge.svg'>" +
                                    "<a href='/licence/view/id/" + case.licenceVersionOf + "/show" + "?latestVersion=" + case.licenceId + "' class='govuk-link'>View last approved licence</a></div>" %}
        {% else %}
            {% set licenceStatusHtml = statusBadge({
                status: case.licenceStatus,
                size: 'small'
            }, params.config) %}
        {% endif %}
        {% if params.tabType === 'attentionNeeded' %}
            {% set caseData = (caseData.push({
                    attributes: {
                        id: 'nomis-legal-status-' + loop.index,
                        "data-sort-value": case.nomisLegalStatus
                    },
                    text: case.nomisLegalStatus | legalStatus | titlecase
                }), caseData) 
            %}
        {% endif %}

        {% if case.kind == 'HDC' %}
            {% set releaseDate = '<span class="urgent-highlight">' + case.releaseDateLabel + ': <br>' + case.releaseDate | cvlDateToDateShort + '</span><span class="urgent-highlight urgent-highlight-message">HDC release</span>' %}
        {% elseif case.hardStopKind == "TIME_SERVED" %}
            {% set releaseDate = '<span class="urgent-highlight">' + case.releaseDate | cvlDateToDateShort + '</span><span class="urgent-highlight urgent-highlight-message">Time-served release</span>' %}
        {% else %}
            {% set releaseDate = '<p>' + case.releaseDateLabel + ': <br>' + case.releaseDate | cvlDateToDateShort + '</p>' %}
        {% endif %}

        {% set caseData = (caseData.push({
                attributes: {
                    id: 'name-' + loop.index,
                    "data-sort-value": case.name
                },
                html: offenderName(case.name, case.link, loop.index),
                classes: "max-width max-width-220"
            },
            {
                attributes: {
                    id: 'nomis-id-' + loop.index,
                    "data-sort-value": case.prisonerNumber
                },
                text: case.prisonerNumber,
                classes: "max-width max-width-120 search-highlight"
            },
            {
                attributes: {
                    id: 'com-' + loop.index,
                    "data-sort-value": case.probationPractitioner.name
                },
                html: comDetailsHtml,
                classes: "max-width max-width-200"
            },
            {
                attributes: {
                    id: 'release-date-' + loop.index,
                    "data-sort-value": case.releaseDate | cvlDateToDateShort | dateToUnix
                },
                html: releaseDate 
            }
        ), caseData) %}
        {% if params.tabType === 'attentionNeeded' and params.hasSelectedMultiplePrisonCaseloads and params.isSearchPageView %}
            {% set caseData = (caseData.splice(-1, 0, 
                {
                    attributes: {
                    id: 'location-' + loop.index,
                    "data-sort-value": case.prisonDescription
                    },
                    text: case.prisonDescription,
                    classes: "max-width max-width-120"
                }), caseData) %}
        {% endif %}
        {% if params.tabType === 'releasesInNextTwoWorkingDays' %}
            {% set caseData = (caseData.push({
                        attributes: {
                            id: 'licence-last-worked-on-by-' + loop.index,
                            "data-sort-value": case.lastWorkedOnBy
                        },
                        text: case.lastWorkedOnBy
                    }), caseData) 
            %}
        {% endif %}
        {% if params.tabType !== 'attentionNeeded' %}
            {% set caseData = (caseData.push({
                        attributes: {
                            id: 'licence-status-' + loop.index,
                            "data-sort-value": case.licenceStatus | getStatusOrder
                        },
                        html: licenceStatusHtml
                    }), caseData) 
            %}
        {% endif %}
        {% set licences = (licences.push(caseData), licences) %}
    {% endfor %}
    {{ casesTable({licences: licences, tabType: params.tabType, probationView: false, hasSelectedMultiplePrisonCaseloads: params.hasSelectedMultiplePrisonCaseloads, isSearchPageView: params.isSearchPageView }) }}

{% endmacro %}