{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set alertContent %}
    If electronic monitoring is a licence condition, probation practitioners can now include the name of a pathfinder or programme.
    This allows the correct tag to be attached to a person leaving prison.
{% endset %}

<div class="govuk-grid-column-three-quarters govuk-!-margin-top-5">
    {{ mojAlert({
        variant: "information",
        title: "What’s new",
        showTitleAsHeading: true,
        dismissible: false,
        html: alertContent
    }) }}
</div>
