version: '3.1'
services:

  redis:
    image: 'bitnami/redis:5.0'
    networks:
      - hmpps
    container_name: redis 
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  # For the API to seed & interact with - there is no direct connection from the UI service
  licences-db:
    image: postgres
    networks:
      - hmpps
    container_name: licences-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=create-and-vary-a-licence
      - POSTGRES_USER=create-and-vary-a-licence
      - POSTGRES_DB=create-and-vary-a-licence-db

  create-and-vary-a-licence-api:
    image: quay.io/hmpps/create-and-vary-a-licence-api
    networks:
      - hmpps
    container_name: creare-and-vary-a-licence-api
    restart: always
    ports:
      - "8089:8080"
    environment:
      - DB_USER=create-and-vary-a-licence
      - DB_PASS=create-and-vary-a-licence
      - HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
      - SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal/create-and-vary-a-licence-db

  gotenberg:
    image: thecodingmachine/gotenberg:6.4.3
    networks:
      - hmpps
    container_name: gotenberg
    ports:
      - "3001:3000"
    restart: always
    healthcheck:
      test: [ 'CMD', 'curl', '-f', 'http://localhost:3000/ping' ]

  delius-wiremock:
    image: smcveigh941/delius-wiremock
    networks:
      - hmpps
    container_name: delius-wiremock
    env_file:
      - ./.env
    ports:
      - "5000:5000"
    healthcheck:
      test: [ 'CMD', 'curl', '-f', 'http://localhost:5000/actuator/health' ]

networks:
  hmpps:
