{% from "partials/timePicker.njk" import timePicker %}
{% from "customComponents/datePicker/macro.njk" import hmppsDatePicker %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% macro hdcInitialMeetingTimeInputs(formResponses, formDate, validationErrors) %}
    {% set SPECIFIC_DATE_TIME = "SPECIFIC_DATE_TIME" %}

    {% call govukFieldset({
        classes:"govuk-!-margin-top-3",

        legend: {
            text: "Date",
            classes: "govuk-visually-hidden",
            isPageHeading: false}
        }) %}

        {{ govukRadios({
            id: "appointment-time-type",
            name: "appointmentTimeType",
            value: SPECIFIC_DATE_TIME,
            items: [{
                value: SPECIFIC_DATE_TIME,
                text: "Specific date and time"
            }],
            classes: "govuk-visually-hidden"
        }) }}

        {{ hmppsDatePicker({
            id: "date-calendarDate",
            name: "date[calendarDate]",
            label: {
                text: "Date"
            },
            hint: {
                id: "date-hint",
                text: "For example, 12/11/2024"
            },
            errorMessage: validationErrors | findError('date'),
            classes: 'hmpps-datepicker--fixed-width',
            value: formResponses.date.calendarDate or formDate.date.calendarDate
        }) }}
    {% endcall %}
    {% call govukFieldset({
        classes:"govuk-!-margin-top-2",

        legend: {
            text: "Time",
            classes: "govuk-visually-hidden",
            isPageHeading: false}
        }) %}

        {{ timePicker({
            id: "time",
            label: {
                text: "Time"
            },
            hint: {
                id: "time-hint",
                text: "For example, 9:30am or 2:55pm"
            },
            errorMessage: validationErrors | findError('time'),
            formResponses: formResponses.time or formDate.time
        }) }}
    {% endcall %}
{% endmacro %}