{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Create a licence - Who is the initial appointment with?" %}
{% set pageId = "appointment-person-page" %}
{% set backLinkHref = "/licence/create/caseload" %}

{% set contactName = licence.appointmentPerson | fillFormResponse(formResponses.contactName) %}
{% set errorMessage = validationErrors | findError('contactName') %}
{% set isError = errorMessage.text %}
{% set DUTY_OFFICER = "DUTY_OFFICER" %}
{% set SPECIFIC_PERSON = "SPECIFIC_PERSON" %}

{% block content %}
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group {{ "govuk-form-group--error" if isError }}">
                    
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="contactName"> 
                            Who is the initial appointment with? 
                        </label> 
                    </h1>

                    {% if isError %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ errorMessage.text }}
                        </p>
                    {% endif %}

                    {% set contactNameHtml %}
                        <label class="govuk-label" for="Enter name">Enter name</label>
                        <input 
                        class="govuk-input govuk-!-width-one-half {{ "govuk-input--error" if isError }}" 
                        id="contactName" 
                        name="contactName" 
                        type="text"
                        value="{{ contactName }}"
                        aria-describedby="contactName"
                        > 
                    {% endset %}

                    {% set initialMeetingPersonOptions = [] %}
                    {% for value, text in appointmentPersonType %}
                        {% set initialMeetingPersonOptions = (initialMeetingPersonOptions.push(
                            {   value: value, 
                                text: text,
                                hint: {
                                    text: "For example, someone at an approved premises or a different community probation practitioner."
                                } if value === SPECIFIC_PERSON,
                                conditional: {
                                html: contactNameHtml
                                } if value === SPECIFIC_PERSON
                            }), initialMeetingPersonOptions) %}
                    {% endfor %}

                    {{ govukRadios({
                    id: "appointment-with-type",
                    name: "appointmentPersonType",
                    hint: {
                        text: "Choose duty officer if you have not spoken to this person’s community probation practitioner or if a community probation practitioner has not been allocated.",
                        classes: "govuk-!-margin-bottom-6"
                    },
                    value: (formResponses.appointmentPersonType or licence.appointmentPersonType) or DUTY_OFFICER,
                    items: initialMeetingPersonOptions
                    }) }}
                </div>

                {{ govukButton({
                    text: continueOrSaveLabel,
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
