{% extends "layout.njk" %}

{#
  Passed into to this template:
  - formResponses - is an object containing entered values (validation failed) for inductionDate, inductionTime
  - formDate - is an object containing the current values from the API (if any) for inductionDate, inductionTime
#}

{% from "../../../partials/timePicker.njk" import timePicker %}
{% from "customComponents/datePicker/macro.njk" import hmppsDatePicker %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% set pageTitle = applicationName + " - Create a licence - When is the initial appointment?" %}
{% set pageId = "appointment-time-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/initial-meeting-contact" %}
{% set SPECIFIC_DATE_TIME = "SPECIFIC_DATE_TIME" %}

{% block content %}
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% call govukFieldset({
                    legend: {
                        text: "When does this person need to go to their initial appointment?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                    }) %}

                    {% set dateTimeHtml %}
                        {% call govukFieldset({
                            legend: {
                                text: "Date",
                                classes: "govuk-visually-hidden",
                                isPageHeading: false}
                            }) %}

                            {{ hmppsDatePicker({
                                id: "date-calendarDate",
                                name: "date[calendarDate]",
                                label: {
                                    text: "Date"
                                },
                                hint: {
                                    id: "date-hint",
                                    text: "For example, 12/11/2024"
                                },
                                errorMessage: validationErrors | findError('date'),
                                classes: 'hmpps-datepicker--fixed-width',
                                value: formResponses.date.calendarDate or formDate.date.calendarDate
                            }) }}
                        {% endcall %}
                        {% call govukFieldset({
                            classes:"govuk-!-margin-top-7",

                            legend: {
                                text: "Time",
                                classes: "govuk-visually-hidden",
                                isPageHeading: false}
                            }) %}
                        
                            {{ timePicker({
                                id: "time",
                                label: {
                                    text: "Time"
                                },
                                hint: {
                                    id: "time-hint",
                                    text: "For example, 9:30am or 2:55pm"
                                },
                                errorMessage: validationErrors | findError('time'),
                                formResponses: formResponses.time or formDate.time
                            }) }}
                        {% endcall %}
                    {% endset %}

                    {% set appointmentTimeTypeOptions = [] %}
                    {% for value, text in appointmentTimeType %}
                        {% set appointmentTimeTypeOptions = (appointmentTimeTypeOptions.push(
                            {   value: value, 
                                text: text,
                                conditional: {
                                html: dateTimeHtml
                                } if value === SPECIFIC_DATE_TIME
                            }), appointmentTimeTypeOptions) %}
                    {% endfor %}
                    <br>
                    {{ govukRadios({
                    id: "appointment-time-type",
                    name: "appointmentTimeType",
                    hint: {
                        text: "Only enter a specific date and time if you have confirmed one with this person’s probation practitioner."
                    },
                    value: (formResponses.appointmentTimeType or licence.appointmentTimeType) or SPECIFIC_DATE_TIME,
                    items: appointmentTimeTypeOptions
                }) }}

                {% endcall %}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: continueOrSaveLabel,
                        type: "submit",
                        attributes: { 'data-qa': 'continue' }
                    }) }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block pageScripts %}
   <script src="/assets/js/datepicker.js"></script>
{% endblock %}

