{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "partials/datePicker.njk" import datePicker %}
{% from "partials/timePicker.njk" import timePicker %}

{% for input in config.inputs %}

    {% if input.type == 'text' %}
        {{ govukInput({
            label: {
                text: input.label
            },
            id: input.name,
            name: input.name,
            classes: "govuk-!-width-one-half",
            errorMessage: validationErrors | findError(input.name),
            value: additionalCondition.data | getAdditionalConditionDataValue(input.name) | fillFormResponse(formResponses[input.name])
        }) }}
    {% endif %}

    {% if input.type == 'radio' %}
        {% set options = [] %}
        {% for option in input.options %}
            {% set options = (options.push({
                text: option.value,
                value: option.value,
                checked: additionalCondition.data | additionalConditionDataContainsValue(input.name, option.value)
            }), options) %}
        {% endfor %}

        {{ govukRadios({
            idPrefix: input.name,
            name: input.name,
            fieldset: {
                legend: {
                    text: input.label
                }
            },
            items: options,
            errorMessage: validationErrors | findError(input.name)
        }) }}
    {% endif %}

    {% if input.type == 'timePicker' %}
        {{ timePicker({
            id: input.name,
            label: {
                text: "Time"
            },
            hint: {
                text: "For example, 9:30am or 2:55pm"
            },
            errorMessage: validationErrors | findError(input.name)
        }) }}
    {% endif %}

    {% if input.type == 'datePicker' %}
        {{ datePicker({
            id: input.name,
            label: {
                text: "Date"
            },
            hint: {
                text: "For example, 12 11 2022"
            },
            errorMessage: validationErrors | findError(input.name)
        }) }}
    {% endif %}

    {% if input.type == 'check' %}
        {% set options = [] %}
        {% for option in input.options %}
            {% set options = (options.push({
                text: option.value,
                value: option.value,
                checked: additionalCondition.data | additionalConditionDataContainsValue(input.name, option.value)
            }), options) %}
        {% endfor %}

        {{ govukCheckboxes({
            name: input.name,
            fieldset: {
                legend: {
                    text: input.label,
                    isPageHeading: false
                }
            },
            items: options
        }) }}
    {% endif %}

{% endfor %}
