{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set continueOrSave = "Save" if fromReview else "Continue" %}

{% block head %}

  {% if tagManagerContainerId %}
    <!-- Tag manager dataLayer -->
    <script nonce="{{ cspNonce }}">window.dataLayer = window.dataLayer || [];</script>

    <!-- Add user details to the dataLayer if present on this page load -->
    {% if user %}
      <script nonce="{{ cspNonce }}">window.dataLayer.push({
          'user': {
            'authSource': '{{ user.authSource }}',
            'roles': {{ user.userRoles | formatListAsString | safe }},
            'prisons': {{ user.prisonCaseload | formatListAsString | safe }},
            'probationAreaCode': '{{ user.probationAreaCode }}',
            'probationAreaDesc': '{{ user.probationAreaDescription }}',
            'probationTeams': {{ user.probationTeamCodes | formatListAsString | safe }},
          },
        })</script>
    {% endif %}

    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
        n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ tagManagerContainerId }}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}

  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script src="/assets/js/jquery.min.js"></script> 
  <script src="/assets/js/jquery-ui.min.js"></script>
  <link href="/assets/stylesheets/jquery-ui.min.css" rel="stylesheet">

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "partials/header.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
  {% if tagManagerContainerId %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id={{tagManagerContainerId}}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% if backLinkHref %}
    <nav>
      {{ govukBackLink({
        text: "Back",
        href: backLinkHref,
        classes: 'js-backlink' if not noJsBackLink
      }) }}
    </nav>
  {% endif %}
  {% include 'partials/whatsNewBanner.njk' %}
  {% include 'partials/licenceDetailsBanner.njk' %}
  {% include 'partials/formError.njk' %}
  <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "partials/footer.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <!-- Govuk Lib -->
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
