{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle =  "This service is unavailable" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Digital Prison Services",
        href: links.exitUrl
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p>We are carrying out maintenance on Create and vary a licence.</p>
        <p>You will be able to use it again at 8am on Tuesday 11 April.</p>

        <p class = "govuk-!-margin-top-8">
            <a href="{{ links.exitUrl }}" class=" govuk-link govuk-!-font-size-19 govuk-link--no-visited-state">Go to the Digital Services homepage.</a>
        </p>

    </div>
{% endblock %}