{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "partials/statusBadge.njk" import statusBadge %}
{% from "partials/licenceDescription.njk" import licenceDescription %}

{% set pageTitle = applicationName + " - Probation - Search" %}
{% set pageId = "probation-search-page" %}
{% set backLinkHref = "/licence/create/caseload" %}

{% macro offenderName(offenderName, crn, prisonerNumber, licenceId, isClickable, index) %}
    <div class="search-offender-name">
        {% set link = "/licence/create/id/" + licenceId + "/check-your-answers" if licenceId else "/licence/create/nomisId/" + prisonerNumber + "/confirm"%}
        {% if isClickable %}
            <a id="name-button-{{ index }}" href="{{ link }}" class="govuk-link govuk-heading-s govuk-!-padding-left-0 govuk-!-margin-bottom-0">{{ offenderName }}</a>
        {% else %}
            <span id="name-button-{{ index }}" class="govuk-heading-s govuk-!-padding-left-0 govuk-!-margin-bottom-0">{{ offenderName }}</span>
        {% endif %}
        <div class="govuk-hint govuk-!-font-size-16">CRN: {{ crn }}</div>
    </div>
{% endmacro %}

{% macro displayResults(countText, caption, results) %}
    <h2 class="govuk-heading-l">{{ countText }}</h2>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                caption: caption,
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Name",
                        attributes: {
                            "aria-sort": "ascending"
                        }
                    },
                    {
                        text: "Licence type"
                    },
                    {
                        text: "Probation practitioner",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Team name",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Release date",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Status",
                        attributes: {
                            "aria-sort": "none"
                        }
                    }
                ],
                rows: results
            }) }}
        </form>
{% endmacro %}


{% set peopleInPrisonResults = [] %}
{% set peopleOnProbationResults = [] %}

{% for offender in searchResults %}
    {% if offender.comName %}
        {% set comDetailsHtml = '<a class="govuk-link" href="/licence/create/probation-practitioner/staffCode/' + offender.comStaffCode + '">' + offender.comName + '</a>' %}
    {% else %}
        {% set comDetailsHtml = 'Unallocated' %}
    {% endif %}

    {% set result = [
        {
            attributes: {
                id: 'name-' + loop.index,
                "data-sort-value": offender.name
            },
            classes: "max-width max-width-220",
            html: offenderName(offender.name, offender.crn, offender.nomisId, offender.licenceId, loop.index)
        },
        {
            attributes: {
                id: 'licence-type-' + loop.index
            },
            html:licenceDescription(offender.licenceType)
        },
        {
            attributes: {
                id: 'probation-practitioner-' + loop.index,
                "data-sort-value": offender.comName
            },
            classes: "max-width max-width-200",
            html: comDetailsHtml
        },
        {
            attributes: {
                id: 'team-name-' + loop.index,
                "data-sort-value": offender.teamName
            },
            classes: "max-width max-width-200",
            html: offender.teamName
        },
        {
            attributes: {
                id: 'release-date-' + loop.index,
                "data-sort-value": offender.releaseDate | dateToUnix
            },
            text: offender.releaseDate
        },
        {
            attributes: {
                id: 'licence-status-' + loop.index,
                "data-sort-value": offender.licenceStatus | getStatusOrder
            },
            html: statusBadge({ status: offender.licenceStatus, size: 'small' }, statusConfig)
        }
    ] %}

    {% if offender.isOnProbation %}
        {% set peopleOnProbationResults = (peopleOnProbationResults.push(result), peopleOnProbationResults) %}
    {% else %}
        {% set peopleInPrisonResults = (peopleInPrisonResults.push(result), peopleInPrisonResults) %}
    {% endif %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Search results for {{ queryTerm }}</h1>
        </div>
    </div>

   <div class="govuk-grid-row">
        <div class="moj-search govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
            <form method="POST">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"> 
                    <div class="govuk-form-group">
                        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                            Find a case
                        </label>
                        <div id="search-hint" class="govuk-hint moj-search__hint create-caseload-search">
                        Search by name, CRN or probation practitioner
                        </div>
                        <input class="govuk-input moj-search__input" id="search" name="queryTerm" aria-describedby="search-hint">
                    </div>
                    <button class="govuk-button moj-search__button " data-module="govuk-button">
                        Search
                    </button>
            </form>
        </div>
    </div>

    {% if inPrisonCount == 0 or inPrisonCount > 1 %}
        {% set inPrisonCountText = "People in prison (" + inPrisonCount + " results)" %}
    {% else %}
        {% set inPrisonCountText = "People in prison (" + inPrisonCount + " result)" %}
    {% endif %}

    {% if onProbationCount == 0 or onProbationCount > 1 %}
        {% set onProbationCountText = "People on probation (" + onProbationCount + " results)" %}
    {% else %}
        {% set onProbationCountText = "People on probation (" + onProbationCount + " result)" %}
    {% endif %}

    {% set peopleInPrison = displayResults(inPrisionCountText, "In Prison Search Results", peopleInPrisonResults) %}

    {% set peopleOnProbation = displayResults(onProbationCountText, "On Probation Search Results", peopleOnProbationResults) %}

    {{ govukTabs({
        items: [
            {
                label: inPrisonCountText,
                id: "people-in-prison",
                panel: {
                    html: peopleInPrison
                }
            },
            {
                label: onProbationCountText,
                id: "people-on-probation",
                panel: {
                    html: peopleOnProbation
                }
            }
        ]
    }) }}

{% endblock %}

