{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "partials/bespokeConditionsSummary.njk" import bespokeConditions %}

{% set pageTitle = applicationName + " - Print a licence" %}
{% set pageId = "print-view-page" %}
{% set backLinkHref = "/licence/view/cases" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Print a licence for {{ licence.forename }} {{ licence.surname }}</h1>
        </div>
    </div>

    {{ govukButton({
        text: "Print licence",
        classes: "govuk-button--primary",
        href: '/licence/view/id/' + licence.id + '/pdf-print',
        attributes: { 'data-qa': 'print-licence', 'target': "_blank" }
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {{ inductionMeetingDetails(licence) }}
            {% if licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS' %}
                {{ additionalLicenceConditions(licence) }}
                {{ bespokeConditions(licence) }}
            {% endif %}
            {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
                {{ additionalPssConditions(licence) }}
            {% endif %}

            <div class="govuk-body">
                {{ govukButton({
                    text: "Print licence",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '/licence/view/id/' + licence.id + '/pdf-print',
                    attributes: { 'data-qa': 'print-licence', 'target': "_blank" }
                }) }}
                {{ govukButton({
                   text: "Return to case list",
                   classes: "govuk-button--secondary govuk-!-margin-bottom-0",
                   href: '/licence/view/cases',
                   attributes: { 'data-qa': 'return-to-view-list' }
                }) }}
            </div>
        </div>
    </div>

{% endblock %}
