{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "partials/prisonCreated/inductionMeetingDetailsSummary.njk" import prisonCreatedInductionMeetingDetails %}
{% from "partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "partials/bespokeConditionsSummary.njk" import bespokeConditions %}
{% from "partials/additionalInformationSummary.njk" import additionalInformationSummary %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "pages/immediateReleaseConditions.njk" import immediateReleaseConditions %}
{% from "pages/licence/partials/hdcCurfewTimes.njk" import hdcCurfewTimes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if licence.statusCode === "APPROVED" or licence.statusCode === "ACTIVE" %}
  {% set actionWord = "Print" %}
  {% set isPrintable = true %}
{% else %}
  {% set actionWord = "View" %}
  {% set isPrintable = false %}
{% endif %}

{% set inProgressHardStopOrTimeServedLicence = (licence.kind === 'HARD_STOP' or licence.kind === 'TIME_SERVED') and licence.statusCode == 'IN_PROGRESS' %}
{% set pageTitle = applicationName + " - " + "Check licence details" if inProgressHardStopOrTimeServedLicence else (actionWord + " a licence") %}
{% set pageId = "print-view-page" %}
{% set backLinkHref = "/licence/view/cases" %}

{% block content %}
    {% if initialApptUpdatedMessage | length > 0%}
        {{ mojBanner({
            type: 'success',
            html: initialApptUpdatedMessage,
            iconFallbackText: 'Success'
        }) }}
    {% endif %}  
    <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">  
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% if inProgressHardStopOrTimeServedLicence %}
                  <h1 class="govuk-heading-l">Check licence details</h1>
                {% elseif licence.typeCode === 'AP' %}
                  <h1 class="govuk-heading-l">{{ actionWord }} licence for {{ licence.forename }} {{ licence.surname }}</h1>
                {% elseif licence.typeCode === 'AP_PSS' %}
                    <h1 class="govuk-heading-l">{{ actionWord }} licence and post sentence supervision order for {{ licence.forename }} {{ licence.surname }}</h1>
                {% elseif licence.typeCode === 'PSS' %}
                    <h1 class="govuk-heading-l">{{ actionWord }} post sentence supervision order for {{ licence.forename }} {{ licence.surname }}</h1>
                {% else %}
                    <h1 class="govuk-heading-l">{{ actionWord }} licence type {{ licence.typeCode }} for {{ licence.forename }} {{ licence.surname }}</h1>
                {% endif %}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% if warningMessage %}
                    {{ govukWarningText({
                    html: warningMessage
                    }) }}
                {% endif %}

                {% set prisonKinds = ['TIME_SERVED', 'HARD_STOP'] %}
                {% if prisonKinds.includes(licence.kind) %}
                    {{ prisonCreatedInductionMeetingDetails(licence, isEditableByPrison, validationErrors, null, isPrisonUser) }}
                {% else %}
                    {{ inductionMeetingDetails(licence, isEditableByPrison, [], null, isPrisonUser) }}
                {% endif %}

                {% if licence.kind === 'HDC' or licence.kind === 'HDC_VARIATION' %}
                    <h2 class="govuk-!-margin-bottom-3 govuk-!-margin-top-3 govuk-heading-m">HDC curfew details</h2>
                    {{ hdcCurfewTimes(hdcLicenceData) }}
                    {{ govukDetails({
                        summaryText: "How do I change the HDC curfew details?",
                        html: "Email createandvaryalicence@digital.justice.gov.uk to change the HDC curfew details."
                    }) }}
                {% endif %}

                {% if prisonKinds.includes(licence.kind) %}
                    <h2 class="govuk-heading-m">Licence conditions</h2>
                    {{ immediateReleaseConditions(licence.typeCode) }}
                {% else %}
                    {% if licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS' %}
                        {{ additionalLicenceConditions(licence, additionalConditions) }}
                        {{ bespokeConditions(licence.id, null, null, null, licence.bespokeConditions) }}
                    {% endif %}
                    {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
                        {{ additionalPssConditions(licence) }}
                    {% endif %}
                {% endif %}

                {% if licence.electronicMonitoringProviderStatus !== 'NOT_NEEDED' %}
                    {{ additionalInformationSummary(licence, isEditableByPrison, validationErrors) }}
                {% endif %}

                {% if isPrintable %}
                    <h2 class="govuk-heading-m margin-top-85 govuk-!-margin-bottom-4">View and print licence</h2>
                {% endif %}
                <div class="govuk-button-group govuk-!-margin-top-8">
                    {% if licence.statusCode == 'IN_PROGRESS'
                        and (licence.kind in ['HARD_STOP', 'TIME_SERVED']) %}
                        {{ govukButton({
                            text: "Send for approval",
                            classes: "govuk-button--primary govuk-!-margin-right-1",
                            preventDoubleClick: true,
                            attributes: { 'data-qa': 'approve-standard-licence'}
                        }) }}
                    {% endif %}

                    {% if isPrintable %}
                        {{ govukButton({
                            text: "View and print licence PDF",
                            classes: "govuk-button--primary govuk-!-margin-right-1",
                            href: '/licence/view/id/' + licence.id + '/pdf-print',
                            attributes: { 'data-qa': 'print-licence', 'target': "_blank" }
                        }) }}
                    {% endif %}

                    {{ govukButton({
                        text: "Return to case list",
                        classes: "govuk-button--secondary" if isPrintable or (licence.statusCode === 'IN_PROGRESS' and licence.kind === 'HARD_STOP'),
                        href: '/licence/view/cases',
                        attributes: { 'data-qa': 'return-to-view-list' }
                    }) }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
