{% extends "layout.njk" %}
{% from "partials/card.njk" import card %}

{% set pageTitle = applicationName + " - Reporting" %}
{% set pageId = "reporting" %}
{% set backLinkHref = "/" %}
{% set mainClasses = "govuk-main-wrapper-tall" %}

{% block content %}
    <h1 class="govuk-heading-l">Reporting</h1>
    <div class="grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">Create and vary a licence reports</h2>
        <div class="card-group">
          <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "href": "/reports/last-minute-handover-cases",
                "clickable": "true",
                "heading": "Upcoming Releases with Incomplete Licences",
                "description": "View & dowload data for upcoming releases with incomplete licences"
            }) }}
          </div>
          <div class="govuk-grid-column-one-third card-group__item">
            {{ card({
                "href": "/reports/upcoming-releases-with-monitoring",
                "clickable": "true",
                "heading": "Upcoming Releases with electronic monitoring conditions",
                "description": "View & dowload data for upcoming releases with electronic monitoring conditions"
            }) }}
          </div>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">Digital prison reporting reports</h2>
        <div class="card-group">
            {% for report in definitions %}
              <div class="govuk-grid-column-one-third card-group__item">
              {% set variant = report.variants[0] %}
              {{ card({
                "href": "/dpr/view-report/sync/report/" + report.id + "/" + variant.id + "/load-report",
                "clickable": "true",
                "heading": variant.name,
                "description": variant.description
              }) }}
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/card.js"></script>
{% endblock %}
