{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Upcoming Releases with Incomplete Licences" %}
{% set pageId = "upcoming-releases-with-incomplete-licences" %}
{% set backLinkHref = "/reports" %}
{% set noJsBackLink = true %}

{% set cases = [] %}

{% for lastMinuteCase in lastMinuteCases %}
    {% set cases = (cases.push([
        {
            attributes: {
                id: 'probation-region-' + loop.index,
                "data-sort-value": lastMinuteCase.probationRegion
            },
            text: lastMinuteCase.probationRegion
        },
        {
            attributes: {
                id: 'prion-name-' + loop.index,
                "data-sort-value": lastMinuteCase.prisonName
            },
            text:  lastMinuteCase.prisonName
        },
        {
            attributes: {
                id: 'prion-code-' + loop.index,
                "data-sort-value": lastMinuteCase.prisonCode
            },
            text:  lastMinuteCase.prisonCode
        },
        {
            attributes: {
                id: 'release-date-' + loop.index,
                "data-sort-value": lastMinuteCase.releaseDate
            },
            classes: "min-width-400",
            text: lastMinuteCase.releaseDate
        },
        {
            attributes: {
                id: 'status-' + loop.index,
                "data-sort-value": lastMinuteCase.status
            },
            text: lastMinuteCase.status
        },
        {
            attributes: {
                id: 'probation-practitioner-' + loop.index,
                "data-sort-value": lastMinuteCase.probationPractitioner
            },
            text: lastMinuteCase.probationPractitioner
        },
        {
            attributes: {
                id: 'crn-' + loop.index,
                "data-sort-value": lastMinuteCase.crn
            },
            text: lastMinuteCase.crn
        },
        {
            attributes: {
                id: 'prisonerName-' + loop.index,
                "data-sort-value": lastMinuteCase.prisonerName
            },
            classes: "max-width max-width-220",
            text: lastMinuteCase.prisonerName
        }
    ]), cases) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-four-quarters">
            <h1 class="govuk-heading-xl">Upcoming Releases with Incomplete Licences</h1>
            <h2 class="govuk-heading-s">There are {{ lastMinuteCases.length }} upcoming releases with incomplete licences in the next 7 days</h2>
            <div class="govuk-button-group">
                        {{ govukButton({
                            text: "Download CSV",
                            href: "/reports/last-minute-handover-cases/download-csv",
                            classes: "govuk-button--secondary"
                        }) }}
            </div>
        </div>
    </div>
    {% if lastMinuteCases.length > 0 %}
        {{ govukTable({
            attributes: {
                'data-module': 'moj-sortable-table'
            },
            caption: "Caseload",
            captionClasses: "govuk-visually-hidden",
            head: [
                {
                    text: "Probation region",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Prison",
                    attributes: {
                        "aria-sort": "none"
                     }
                },
                {
                    text: "Prison Code",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Release date",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Licence status",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Probation practitioner",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "CRN",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Prisoner name",
                    attributes: {
                        "aria-sort": "none"
                    }
                }
            ],
            rows: cases
        }) }}
    {% endif %}

{% endblock %}
