{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% set pageTitle = applicationName + " - Prison Vary Approver - Search" %}
{% set pageId = "vary-approval-search-page" %}
{% set backLinkHref = backLink %}
{% set noJsBackLink = true %}

{% macro displayResults(tabId, countText) %}
    <h2 class="govuk-heading-l" id = "{{ tabId }}">{{ countText }}</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p id="vary-approval-search-empty-state-content">No licence variation requests that match '{{ queryTerm }}'. Try searching again.</p>
            <p><strong>If you still cannot find a variation request</strong></p>
            <p>Check if it was approved by another PDU head in this region.</p>
            <p>Contact helpdesk by calling 0800 917 5148, or #6598 from inside a prison, if you think a variation request is missing.</p>
            <p class="govuk-body">
                {{ govukButton({
                    text: "Return to caselist",
                    classes: "govuk-button--secondary govuk-!-margin-bottom-0 govuk-body",
                    href: backLink,
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}
            </p>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <input type="hidden" id="searchTerm" value="{{ queryTerm }}">
            <h1 class="govuk-heading-xl" id="vary-approval-search-heading">Search results for {{ queryTerm }}</h1>
        </div>
    </div>

   <div class="govuk-grid-row">
        <div class="moj-search govuk-grid-column-one-half govuk-!-margin-bottom-8">
            <form method="GET">
                <div class="govuk-form-group">
                    <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                        Find a case
                    </label>
                    <div id="search-hint" class="govuk-hint moj-search__hint approver-caseload-search">
                    Search by name, CRN or probation practitioner
                    </div>
                    <input class="govuk-input moj-search__input" id="search" name="queryTerm" value="{{ queryTerm }}" aria-describedby="search-hint">
                </div>
                <button class="govuk-button moj-search__button " data-module="govuk-button">
                    Search
                </button>
            </form>
        </div>
    </div>

    {% set pduCasesCountText = "Cases in this PDU (0 results)" %}
    {% set regionCasesCountText = "All cases in this region (0 results)" %}

    {% set pduCases = displayResults(tabParameters.pduCases.tabId, pduCasesCountText) %}
    {% set regionCases = displayResults(tabParameters.regionCases.tabId, regionCasesCountText) %}

    {{ govukTabs({
        items: [
            {
                label: pduCasesCountText,
                id: "pdu-cases",
                panel: {
                    html: pduCases
                }
            },
            {
                label: regionCasesCountText,
                id: "region-cases",
                panel: {
                    html: regionCases
                }
            }
        ]
    }) }}

{% endblock %}
