{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Prison Vary Approver - Search" %}
{% set pageId = "vary-approval-search-page" %}
{% set backLinkHref = backLink %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <input type="hidden" id="searchTerm" value="{{ queryTerm }}">
            <h1 class="govuk-heading-xl" id="vary-approval-search-heading">Search results for {{ queryTerm }}</h1>
        </div>
    </div>

   <div class="govuk-grid-row">
        <div class="moj-search govuk-grid-column-one-half govuk-!-margin-bottom-8">
            <form method="GET">
                <div class="govuk-form-group">
                    <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                        Find a case
                    </label>
                    <div id="search-hint" class="govuk-hint moj-search__hint approver-caseload-search">
                    Search by name, CRN or probation practitioner
                    </div>
                    <input class="govuk-input moj-search__input" id="search" name="queryTerm" value="{{ queryTerm }}" aria-describedby="search-hint">
                </div>
                <button class="govuk-button moj-search__button " data-module="govuk-button">
                    Search
                </button>
            </form>
        </div>
    </div>

{% endblock %}
