{% extends "pages/licence/pdf-layout.njk" %}

{# Data supplied to this template
    -    licence (implicit from res.locals)
    -    qrCodesEnabled (implicit from res.locals)
    -    licencesUrl - URL back to this service
    -    imageData - prisoner image data
    -    qrCode - QR code data (ready to show) or null
    -    htmlPrint - true or false
    -    watermark - true or false
#}

{% set offenderName = licence.forename + " " + licence.surname %}
{% set pageTitle = offenderName %}

{% block content %}
    <div id="title" class="title">Licence for {{ offenderName }}</div>

    <div id="offender" class="offender">
        {% include "pages/licence/partials/headshot.njk" %}
        <div>
            <p>
                Date of birth: <span class="bold">{{ licence.dateOfBirth | datetimeToDate }}</span>
            </p>
            {% if licence.licenceExpiryDate == licence.sentenceEndDate %}
                <p>
                    Your licence and sentence expire on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>
                </p>
            {% else %}
                <p>
                    Your licence expires on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>
                </p>
                <p>
                    Your sentence expires on <span class="bold">{{ licence.sentenceEndDate | datetimeToDate }}</span>
                </p>
            {% endif %}
        </div>
    </div>

    <div id="objectives" class="section">
        <p>
            Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released on licence.
        </p>
        <p>
            Unless you are subsequently being detained under the Immigration Act 1971 for the purpose of your deportation / removal
            from the United Kingdom, you will be under the supervision of a nominated officer and must comply with the conditions of
            this licence.
        </p>
        <p>
            The objectives of this supervision are to:
        </p>
        <ul class="bullet-point">
            <li>protect the public</li>
            <li>prevent re-offending</li>
            <li>help you to resettle into the community</li>
        </ul>
    </div>

    {% include "pages/licence/partials/apDates.njk" %}
    {% include "pages/licence/partials/induction.njk" %}

    <div id="released-to-other" class="section">
        <p>
            If on the date of this licence, you are released to hospital of other suitable care on compassionate grounds under
            Section 248 of the Criminal Justice Act 2003 or if you are detained under mental health and/or immigration provisions
            or are subsequently so detained before your licence expires, your supervising officer will keep in touch with you.
            Otherwise, you must place yourself under the supervision of whichever officer is nominated for this purpose from time to time.
        </p>
    </div>

    {% include "pages/licence/partials/apConditions.njk" %}

    <div id="cancellation" class="section">
        <p>
            The Secretary of State may vary or cancel any of the above conditions, in accordance with Section 250(4) of the Criminal Justice Act 2003.
        </p>
    </div>

    {% include "pages/licence/partials/recall.njk" %}

    <div id="failure-to-comply" class="section">
        <p>
            If you fail to comply with any requirement of your licence period (set out in paragraphs 3, 4 and 5 above) or if
            you otherwise pose a risk to the public, you will be liable to have this licence revoked and be recalled to custody
            until the date on which your licence would have otherwise ended.
        </p>
        <p>
            If you are sent back to prison and are re-released before the end of your licence, you will still be subject
            to licence conditions until the end of your sentence.
        </p>
    </div>

    {% include "pages/licence/partials/signatures.njk" %}
    {% include "pages/licence/partials/footer.njk" %}

    {% if exclusionZoneMapData %}
        {% include "pages/licence/partials/exclusionZoneAppendix.njk" %}
    {% endif %}
{% endblock %}

