{% extends "pages/licence/pdf-layout.njk" %}

{% from "pages/licence/partials/supervision.njk" import supervision %}
{% from "pages/licence/partials/induction.njk" import induction %}
{% from "pages/licence/partials/releasedToOther.njk" import releasedToOther %}
{% from "pages/licence/partials/conditions.njk" import conditions %}
{% from "pages/licence/partials/cancellation.njk" import cancellation %}
{% from "pages/licence/partials/recall.njk" import recall %}
{% from "pages/licence/partials/failureToComply.njk" import failureToComply %}
{% from "pages/licence/partials/signatures.njk" import signatures %}
{% from "pages/licence/partials/footer.njk" import footer %}

{# Data supplied to this template
   - imageData(offender image).
   - htmlPrint(true/false).
   - licence - already in context as is in res.locals (from fetchLicenceMiddleware).
   - additionalLicenceConditons - string[] containing additional licence conditions with placeholders expanded with values.
   - additionalPssConditons - string[] containing additional PSS conditions with placeholders expanded with values.
#}

{% set offenderName = licence.forename + " " + licence.surname %}
{% set pageTitle = offenderName %}

{% block content %}
    <div class="title" id="title">Licence and post sentence supervision order for {{ offenderName }}</div>
    {% include "pages/licence/partials/offender.njk" %}
    <div class="section">
        <p>
            Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released on licence followed by a post sentence supervision period.
        </p>
        <p>
            The relevant purposes of each type of supervision are explained in the sections below.
        </p>
    </div>
    {{ supervision(licence.licenceStartDate, licence.licenceExpiryDate) }}
    {{ induction(licence.appointmentPerson, licence.appointmentAddress, licence.appointmentTime, licence.comTelephone) }}
    {{ releasedToOther() }}
    {{ conditions(licence.standardLicenceConditions, additionalConditions, licence.bespokeConditions) }}
    {{ cancellation() }}
    {{ recall() }}
    {{ failureToComply() }}
    {{ signatures(licence.approvedByName, licence.approvedDate, offenderName) }}
    {{ footer(licence.nomsId, licence.pnc, licence.cro, licence.bookingNo, licence.typeCode, licence.id, licence.version, licence.prisonCode) }}
{% endblock %}
