{% extends "pages/licence/pdf-layout.njk" %}

{# Data supplied to this template
    -    licence (implicit from res.locals)
    -    qrCodesEnabled (implicit from res.locals)
    -    licencesUrl - URL back to this service
    -    imageData - prisoner image data
    -    additionalLicenceConditions
    -    additionalPssConditions
    -    qrCode - QR code data (ready to show) or null
    -    htmlPrint - true or false
    -    watermark - true or false
#}

{% set offenderName = licence.forename + " " + licence.surname %}
{% set pageTitle = offenderName %}

{% block content %}
    <div id="title" class="title">Licence and post sentence supervision order for {{ offenderName }}</div>

    <div id="offender" class="offender">
        {% include "pages/licence/partials/headshot.njk" %}
        <div>
            <p>
                Date of birth: <span class="bold">{{ licence.dateOfBirth | datetimeToDate }}</span>
            </p>
            {% if licence.licenceExpiryDate == licence.sentenceEndDate %}
                <p>
                    Your licence and sentence expire on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>
                </p>
            {% else %}
                <p>
                    Your licence expires on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>
                </p>
                <p>
                    Your sentence expires on <span class="bold">{{ licence.sentenceEndDate | datetimeToDate }}</span>
                </p>
            {% endif %}
            <p>
                Your post sentence supervision period expires on <span class="bold">{{ licence.topupSupervisionExpiryDate | datetimeToDate }}</span>
            </p>
        </div>
    </div>

    <div id="purposes" class="section">
        <p>
            Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released on licence followed by a post
            sentence supervision period.
        </p>
        <p>
            The relevant purposes of each type of supervision are explained in the sections below.
        </p>
    </div>

    {% include "pages/licence/partials/apDates.njk" %}
    {% include "pages/licence/partials/pssDates.njk" %}
    {% include "pages/licence/partials/induction.njk" %}

    <div class="section-with-heading">
        <span class="heading">Licence Period</span>
        <div class="section">
            <p>
                The objectives of this licence period are to:
            </p>
            <ul class="bullet-point">
                <li>protect the public</li>
                <li>prevent re-offending</li>
                <li>help you to resettle into the community</li>
            </ul>
            <p>
                You must place yourself under the supervision of whichever supervising officer or social worker
                is nominated for this purpose from time to time.
            </p>
        </div>
    </div>

    {% include "pages/licence/partials/apConditions.njk" %}
    {% include "pages/licence/partials/cancellation.njk" %}
    {% include "pages/licence/partials/recall.njk" %}

    <div id="failure-to-comply-ap" class="section">
        <p>
            If you fail to comply with any requirement of your licence period (set out in paragraphs 5 and 6 above) or if
            you otherwise pose a risk to the public, you will be liable to have this licence revoked and be recalled to custody
            until the date on which your licence would have otherwise ended.
        </p>
        <p>
            If you are sent back to prison and are re-released before the end of your licence, you will still be subject
            to licence conditions until the end of your sentence.
        </p>
    </div>

    <div class="section-with-heading">
        <div class="heading">Post sentence supervision</div>
        {% include "pages/licence/partials/pssObjective.njk" %}
    </div>

    {% include "pages/licence/partials/pssConditions.njk" %}

    <div id="cancellation" class="section">
        <p>
            The Secretary of State may vary or cancel any of the above conditions, in accordance with Section 256AB(4), 256D and 256E of the Criminal Justice Act 2003.
        </p>
    </div>

    <div id="failure-to-comply-pss" class="section">
        <p>
            If you fail to comply with any requirement of your supervision (set out in paragraphs 10 and 11 above) under section
            256AB, 256D and 256E of the Criminal Justice Act 2003 you will be liable to be summoned to appear before a court.
        </p>
        <p>
            The court may order you to be detained for up to 14 days, or impose further sanctions such as unpaid work or electronic
            location monitoring.
        </p>
    </div>

    {% include "pages/licence/partials/signatures.njk" %}
    {% include "pages/licence/partials/footer.njk" %}

    {% if exclusionZoneMapData %}
        {% include "pages/licence/partials/exclusionZoneAppendix.njk" %}
    {% endif %}
{% endblock %}
