{% extends "pages/licence/pdf-layout.njk" %}

{# Data supplied to this template
    -    licence (implicit from res.locals)
    -    qrCodesEnabled (implicit from res.locals)
    -    licencesUrl - URL back to this service
    -    imageData - prisoner image data
    -    qrCode - QR code data (ready to show) or null
    -    htmlPrint - true or false
    -    watermark - true or false
#}

{% set offenderName = licence.forename + " " + licence.surname %}
{% set pageTitle = offenderName %}

{% block content %}
   <div id="title" class="title">Licence and post sentence supervision order for {{ offenderName }}</div>

   <div id="offender" class="offender">
      {% include "pages/licence/partials/headshot.njk" %}
      <div>
        <p>
            Date of birth: <span class="bold">{{ licence.dateOfBirth | datetimeToDate }}</span>
        </p>
        <p>
            Your Home Detention Curfew ends on: <span class="bold">{{ licence.conditionalReleaseDate | datetimeToDate }}</span>
        </p>
        <p>
            Your licence ends on: <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>
        </p>
        <p>
            Your sentence ends on: <span class="bold">{{ licence.sentenceEndDate | datetimeToDate }}</span>
        </p>
        <p>
            Your post sentence supervision period ends on: <span class="bold">{{ licence.topupSupervisionExpiryDate | datetimeToDate }}</span>
        </p>
      </div>
   </div>

   <div class="section">
      <p>
         Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released on Home Detention Curfew and post sentence supervision.
      </p>
      <p>
         The relevant purposes of each type of supervision are explained in the sections below.
      </p>
   </div>

   <div id="home-detention-curfew" class="section">
      <p>
         Your Home Detention Curfew starts on <span class="bold">{{ licence.homeDetentionCurfewActualDate | datetimeToDate }}</span> and ends on <span class="bold">{{ licence.conditionalReleaseDate | datetimeToDate }}</span> 
      </p>
   </div>

   <div id="ap-dates" class="section">
      <p data-qa="hdcad-time">
         Your supervision starts on <span class="bold">{{ licence.homeDetentionCurfewActualDate | datetimeToDate }}</span> and ends on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span> unless this licence is previously revoked.
      </p>
   </div>

   {% include "pages/licence/partials/pssDates.njk" %}
   
   <div id="induction" class="section">
      <p>
         On release from prison (including, if applicable, any release from detention under the Immigration Act 1971
         during the currency of your licence, whether or not leave has been granted for you to remain in the United Kingdom),
         unless otherwise directed by your supervising officer, you must report without delay to:
      </p>
      <div id="meeting-details">
         <p>
               <span data-qa="appointment-person" class="bold line-space-after">{{ licence.appointmentPerson }}</span>
               {% for a in (licence.appointmentAddress | formatAddressAsList) %}
                  <span class="bold line-space-after">{{ a }}</span>
               {% endfor %}
         </p>
         <p data-qa="appointment-time">On <span class="bold">{{ licence.appointmentTime | datetimeToDateWithDay }}</span> at <span class="bold">{{ licence.appointmentTime | datetimeTo12HourTime }}</span></p>
         <p>Contact telephone number: <span class="bold">{{ licence.appointmentContact }}</span></p>
      </div>
   </div>

   <br>
   <p><span class="bold">Home Detention Curfew</span></p>
   <div class="section">
      <p>
         You will be subject to a Home Detention Curfew. The objective of the Home Detention Curfew is to help you manage your return into the community.
      </p>
   </div>

   <div id="curfew-address" class="section">
      <p>
        The address/es to which you are curfewed are:<br>
        <div id="curfewAddressLine1"><span class="bold">{{ hdcLicenceData.curfewAddress.addressLine1 }}</span></div>
        <div id="curfewAddressLine2"><span class="bold">{{ hdcLicenceData.curfewAddress.addressLine2 }}</span></div>
        <div id="curfewAddressTown"><span class="bold">{{ hdcLicenceData.curfewAddress.townOrCity }}</span></div>
        <div id="curfewAddressPostCode"><span class="bold">{{ hdcLicenceData.curfewAddress.postcode }}</span></div>
      </p>
   </div>

   <div id="first-night" class="section">
      <p>
         On the day of your release, you will be subject to curfew at your address from <span class="bold">{{ hdcLicenceData.firstNightCurfewHours.firstNightFrom | format24HourTimeTo12HourTime }}</span> 
         until <span class="bold">{{ hdcLicenceData.firstNightCurfewHours.firstNightUntil | format24HourTimeTo12HourTime }}</span>. The monitoring contractor will visit you at this address before
         midnight during this period in order to fit you with the tag. You must show the contractor this copy of the
         licence to confirm your identity. Your curfew will then run until the curfew finish time the following morning.
         On your last day of curfew the contractor will visit you to remove the tag and monitoring equipment. This will
         take place in the last two hours of your last curfew period – i.e. between 10:00 pm and midnight.
      </p>
   </div>

   <div id="curfew-times" class="section">
      <p>
         After your day of release, you are required to remain at your place of curfew during the following hours:<br><br>
         <table class="wide">
         {% for ct in (hdcLicenceData.curfewTimes) %}
            <tr>
               <td colspan="3">From</td>
               <td colspan="3"><span class="bold">{{ ct.fromTime | format24HourTimeTo12HourTime }}</span></td>
               <td colspan="3">on {{ ct.fromDay | titlecase }}</td>
               <td colspan="3">until</td>
               <td colspan="3"><span class="bold">{{ ct.untilTime | format24HourTimeTo12HourTime }}</span></td>
               <td colspan="3">on {{ ct.untilDay | titlecase }}</td>
            </tr>
         {% endfor %}
         </table>
      </p>
   </div>

   <div class="section">
      <p>
         Your compliance with the conditions of the Home Detention Curfew will be monitored by the electronic
         monitoring contractor. You must provide the contractor with access to the curfew address to install and check
         the monitoring equipment and electronic tag. Such visits will be made during your curfew hours but not between
         midnight and 6:00 am. However, the contractor may visit the curfew address between midnight and 6:00 am in
         order to investigate a reported violation.
      </p>
   </div>

   <div class="section">
      <p>
         The monitoring equipment will usually operate via the mobile cellular network and will only need a dedicated
         telephone line to be fitted if the mobile signal is poor at the curfew address. You will be responsible for
         meeting the cost of the small amount of electricity used by the monitoring equipment at your curfew address.
         It is your responsibility to ensure that there is an electricity supply available during your time on
         curfew.
      </p>
   </div>

   <div class="section">
      <p>
         In the event of a dedicated telephone line needing to be installed you must agree to the installation at
         your curfew address for use by the supplier. The supplier will notify you of a time and a date and you must be
         present, and provide access to, the curfew address at the notified time to allow installation to take place.
         The installation will normally take place during standard working hours and is fully paid for by the
         supplier.
      </p>
   </div>

   <div class="section">
      <p>
         While on Home Detention Curfew you may be liable to recall to prison if you breach the condition of this
         licence relating to the curfew. You will be in breach of this condition if:
         <ol type="i">
            <li>You are absent from your curfew address during the specified curfew hours</li>
            <li>You commit violence against or threaten the contractor or any of their staff with violence</li>
            <li>You damage or tamper with the monitoring equipment</li>
            <li>You withdraw your consent to the monitoring arrangements</li>
         </ol>
      </p>
   </div>

   <div class="section">
      <p>
         In addition, you may be recalled to prison if your whereabouts can no longer be electronically monitored at
         the specified address.
      </p>
   </div>

   <div class="section">
      <p>
         The contractor may authorise a one-off absence from your place of curfew in clearly defined circumstances, which
         you will be informed about by the contractor in writing. You must contact the contractor in advance of any such
         absence to seek authorisation where this is possible. If it is not possible to contact the contractor in
         advance, you must contact them as soon as possible thereafter. Absence for any other reason other than these
         clearly defined circumstances will constitute a breach of your curfew condition. You can contact the monitoring contractor on 0800 137 291.
      </p>
   </div>

   <div class="section">
      <p>
         If you need to seek a permanent change to your curfew conditions (for instance because of the requirements of
         a new job), you must speak to your supervising officer.
      </p>
   </div>

   <p><span class="bold">Licence period</span></p>

   <div id="objectives" class="section">
      <p>
         The objectives of this supervision are to:
      </p>
      <ul class="bullet-point">
         <li>protect the public</li>
         <li>prevent re-offending</li>
         <li>help you to resettle into the community</li>
      </ul>
      <p>
         You must place yourself under the supervision of whichever supervising officer or social worker is nominated for this purpose. 
         You must also attend appointments with them from time to time.
      </p>
   </div>

   {% include "pages/licence/partials/apConditions.njk" %}

   <div id="cancellation-ap" class="section">
      <p>
         The Secretary of State may vary or cancel any of the above conditions, in accordance with Section 250(4) of
         the Criminal Justice Act 2003.
      </p>
   </div>

   {% include "pages/licence/partials/recall.njk" %}

   <div id="failure-to-comply-ap" class="section">
      <p>
         If you fail to comply with any requirement of your licence period (set out in paragraphs 17 and 18 above) or
         if you otherwise pose a risk to the public, you will be liable to have this licence revoked and be recalled to
         custody until the date on which your licence would have otherwise ended. If you are sent back to prison and are
         re-released before the end of your licence, you will still be subject to licence conditions until the end of
         your sentence.
      </p>
   </div>

   <p><span class="bold">Post sentence supervision period</span></p>

   <div class="section">
      <p>The objective of your post sentence supervision period is to encourage your rehabilitation in the community.</p>
      <p>You must place yourself under the supervision of whichever supervising officer or social worker is nominated for this purpose. You must also attend appointments with them from time to time.</p>
    </div>

   {% include "pages/licence/partials/pssConditions.njk" %}

   <div id="cancellation-pss" class="section">
      <p>
         The Secretary of State may vary or cancel any of the above conditions, in accordance with Section 256AB(4), 256D and 256E of the Criminal Justice Act 2003.
      </p>
   </div>

   <div id="failure-to-comply-pss" class="section">
      <p>
         If you fail to comply with any requirement of your supervision (set out in paragraphs 22 and 23 above) 
         under section 256AB, 256D and 256E of the Criminal Justice Act 2003 
         you will be liable to be summoned to appear before a court. The court may order you to be detained for up to 
         14 days, or impose further sanctions such as unpaid work or electronic location monitoring.
      </p>
   </div>

   {% include "pages/licence/partials/signatures.njk" %}
   {% include "pages/licence/partials/footer.njk" %}
{% endblock %}
