<!DOCTYPE html>
<html lang="en">

{% block head %}
  <head>
    <link href="{{ licencesUrl }}/assets/stylesheets/licence-pdf.css?{{ version }}" rel="stylesheet"/>
  </head>
{% endblock %}

{% block bodystart %}
  <body>
{% endblock %}

{% block content %}
  {# Overriden by chld pages #}
{% endblock %}

{% block bodyend %}
  </body>
{% endblock %}

</html>
