<!DOCTYPE html>
<html lang="en">

{% block head %}
  <head>
    <link href="{{ licencesUrl }}/assets/stylesheets/licence-pdf.css?{{ version }}" rel="stylesheet"/>
    <title>{{ pageTitle }}</title>
  </head>
{% endblock %}

{% block bodystart %}
  <body class="{% if watermark %}watermark{% endif %}">
  <div class="moj-icon">
    <img alt="HMPPS logo" src="{{ licencesUrl }}/assets/images/HMPPS_BLK_AW.jpg" width="156" height="70">
  </div>
{% endblock %}

{% block content %}
  {# Overriden by child pages #}
{% endblock %}

{% block bodyend %}
  </body>
{% endblock %}

</html>
