{% extends "pages/licence/pdf-layout.njk" %}

{% from "pages/licence/partials/conditions.njk" import conditions %}

{# Data supplied to this template
   - imageData(offender image).
   - htmlPrint(true/false).
   - licence - already in context as is in res.locals (from fetchLicenceMiddleware).
   - additionalPssConditons - string[] containing additional PSS conditions with placeholders expanded with values.
#}

{% set offenderName = licence.forename + " " + licence.surname %}
{% set pageTitle = offenderName %}

{% block content %}
    <div class="title" id="title">Post sentence supervision order for {{ offenderName }}</div>

    <div id="offender" class="offender">
        {% include "pages/licence/partials/headshot.njk" %}
        <div>
            <p>
                Date of birth: <span class="bold">{{ licence.dateOfBirth | datetimeToDate }}</span>
            </p>
            <p>
                Your post sentence supervision period expires on <span class="bold">{{ licence.topupSupervisionExpiryDate | datetimeToDate }}</span>
            </p>
        </div>
    </div>

    <div class="section">
        <p>
            Under the provisions of Chapter 6 of the Criminal Justice Act 2003 you are being released directly onto a post sentence supervision period as your licence period has already expired.
        </p>
    </div>

    <div class="section">
        <p>
            Your post sentence supervision period commences on <span class="bold">{{ licence.topupSupervisionStartDate | datetimeToDate }}</span> and expires on <span class="bold">{{ licence.topupSupervisionExpiryDate | datetimeToDate }}</span>.
        </p>
    </div>

    {% include "pages/licence/partials/induction.njk" %}

    <div class="section">
        <p>The objective of your post sentence supervision period is to encourage your rehabilitation in the community.</p>
        <p>You must place yourself under the supervision of whichever supervisor is nominated for this purpose from time to time.</p>
    </div>

    <div class="section">
        <p>During your post sentence supervision period you must:</p>
        {{ conditions(licence.standardPssConditions) }}
        {{ conditions(additionalPssConditions) }}
    </div>

    <div class="section">
        <p>
            The Secretary of State may vary or cancel any of the above conditions, in accordance with Section 250(4) of
            the Criminal Justice Act 2003.
        </p>
    </div>

    <div class="section">
        <p>
            If you fail to submit yourself to a recall to custody following either a notification of the revocation of your licence,
            or remain out of contact with Probation Services for a period of six months, you may be liable to face a further charge
            of being unlawfully at large following recall under section 255ZA of the Criminal Justice Act 2003. This could result in
            a fine, a sentence of upto two years imprisonment, or both.
        </p>
    </div>

    <div class="section">
        <p>
            If you fail to comply with any requirement of your supervision (set out in paragraphs 3, 4 and 5 above) or if you
            otherwise pose a risk to the public, you will be liable to have this licence revoked and be recalled to custody until
            the date on which your licence would have otherwise ended. If you are sent back to prison and are re-released before
            the end of your licence, you will still be subject to licensed supervision until the end of your sentence.
        </p>
    </div>

    <div class="boxed">
        <div class="signatures">
            <p>Approved by:  {{ licence.approvedByName }}  for the Secretary of State for Justice.</p>
            <p>Date: {{ licence.approvedDate | datetimeToDate }}</p>
            <p>This notice of supervision has been given to me and its requirements have been explained.</p>
            <p>Name: <span class="bold">{{ offenderName }}</span></p>
            <p>Signed:</p>
            <div class="signature-box"></div>
            <p>Date: </p>
        </div>
    </div>

    {% include "pages/licence/partials/footer.njk" %}
{% endblock %}
