{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/viewCases.njk" import viewCases %}

{% set supportFormUrl = (
  "https://mojprod.service-now.com/moj_sp?" +
  "id=sc_cat_item&" +
  "table=sc_cat_item&" +
  "sys_id=e389e8931b8bc65025dc6351f54bcb82&" +
  "recordUrl=com.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1&" +
  "sysparm_id=e389e8931b8bc65025dc6351f54bcb82"
) %}

{%  macro attentionNeededTabDescription(params) %}
    <h2 class="govuk-heading-l">Attention needed</h2>
    {% if params.count !== 0 %}
        <p class="govuk-body">Check the legal status of people below to see if you need to request support. 
            <br><strong>You must not release someone in this list with the licence created in this service</strong>.</p>
        {{ govukDetails({
            summaryText: "Why are these licences showing here?",
            html: "<p class='govuk-body'>Create and vary a licence gets key dates from NOMIS. If key dates are removed from NOMIS, <br> the licence will have no dates and remain in the list of people in prison.</p> <p class='govuk-body'>This means the probation practitioner cannot see or work on the licence.</p>",
            classes: ""
        }) }}
        <h3 class="govuk-heading-m" style="padding-top: 10px;">If legal status is remand or convicted unsentenced</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>If their charges are dropped, they are found not guilty or get a non-custodial sentence, 
                <a class="govuk-link" href="{{ supportFormUrl }}">
                    contact the help desk using this form
                </a>
                for support immediately
            </li>
            <li>If someone gets a new custodial sentence, then you do not need to do anything</li>
        </ul>
        <h3 class="govuk-heading-m">Any other legal status</h3>
        <p class="govuk-body" style="padding-bottom: 20px;">
            <a class="govuk-link" href="{{ supportFormUrl }}">
                Contact the help desk using this form
            </a>
            for support immediately.
            <br>
            For example, the legal status could be immigration detainee.
        </p>
    {% endif %}
{% endmacro %}

{% macro attentionNeededTab(params) %}
    <div id="attention-needed" role="tabpanel" aria-labelledby="tab_attention-needed">
        {{ attentionNeededTabDescription({count: params.count}) }}
        {{ viewCases({ cases: params.cases, tabType: params.tabType, config: params.config, activeTab: params.activeTab}) }}
    </div>
{% endmacro %}

{%  macro attentionNeededTabHeadingWithCount(params) %}
    {{ params.label }}
    {% if not params.isSearch %}
        <span id="attention-needed-count" class="moj-notification-badge">{{ params.count  }}</span>
    {% endif %}
{% endmacro %}
