{% from "pages/licence/partials/conditions.njk" import conditions %}

<div id="ap-conditions" class="section">
    <span>During your licence period you must:</span>
    {{ conditions(licence.standardLicenceConditions) }}
    {{ conditions(additionalLicenceConditions) }}
    {{ conditions(licence.bespokeConditions) }}
</div>
