<div id="ap-dates" class="section">
    <p>
        Your supervision on licence starts on <span class="bold">{{ licence.licenceStartDate | datetimeToDate }}</span> and ends
        on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span> unless this licence is revoked.
    </p>
</div>
