<div class="section">
    <p>
        Your supervision on licence commences on <span class="bold">{{ licence.licenceStartDate | datetimeToDate }}</span> and expires
        on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span> unless this licence is previously revoked.
    </p>
</div>
