{% macro cancellation() %}
    <div class="section" id="cancellation">
        <p>
            The Secretary of State may vary or cancel any of the above conditions, in accordance with
            Section 250(4) of the Criminal Justice Act 2003.
        </p>
    </div>
{% endmacro %}