{% macro conditions(conditions) %}
    {% for condition in conditions %}
        <div class="condition">
            <span>{{ condition.expandedText or condition.text}}</span>
        </div>
    {% endfor %}
{% endmacro %}
