{% macro exclusionZones(conditions) %}
    {% if conditions.length %}
        {% set c = conditions.shift() %}
        <div class="condition">
            <span>{{ c.expandedText or c.text }}</span>
            {% for condition in conditions %}
                <p> {{ condition.expandedText or condition.text }} </p>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
