<div id="exclusion-zone" class="section">
    {% for data in exclusionZoneMapData %}
        <p><strong>Area you must not enter (exclusion zone)</strong></p>
        <p>You have the following rule on your licence:</p>
        <p>{{ data.text }}</p>
        <p><strong>What this means for you</strong></p>
        <p>Do not enter the highlighted area shown in the following map.</p>
        <div class="map-page">
            <div class="bold">{{ data.dataValue.value }}</div>
            <div class="map-frame">
                <img alt="Exclusion zone" src="data:image/jpeg;charset-utf8;base64,{{ data.mapData }}" class="map-image" />
            </div>
            <div style="page-break-before: always;"></div>
            {% if data.description %}
                <p><strong>Description of the area shown in the map</strong></p>
                <p> {{ data.description | striptags(false) | trim | escape }}  </p>
                {% if not loop.last %}
                    <div style="page-break-before: always;"></div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
