{% macro failureToComply() %}
    <div class="section" id="failure-to-comply">
        If you fail to comply with any requirement of your supervision (set out in paragraphs 3, 4 and 5 above) or if you
        otherwise pose a risk to the public, you will be liable to have this licence revoked and be recalled to custody until
        the date on which your licence would have otherwise ended. If you are sent back to prison and are re-released before
        the end of your licence, you will still be subject to licensed supervision until the end of your sentence.
        <br/>
    </div>
{% endmacro %}