{% macro footer(nomsId, pnc, cro, bookingNo, licenceType, id, version, prisonCode) %}
    <div class="govuk-visually-hidden">
        <span class="hidden-noms-id">{{ nomsId or "N/A" }}</span>
        <span class="hidden-booking-no">{{ bookingNo or "N/A"}}</span>
        <span class="hidden-cro">{{ cro or "N/A"}}</span>
        <span class="hidden-pnc">{{ pnc or "N/A"}}</span>
        <span class="hidden-licence-id">{{ id }}</span>
        <span class="hidden-licence-type">{{ licenceType }}</span>
        <span class="hidden-version">{{ version }}</span>
        <span class="hidden-prison-code">{{ prisonCode }}</span>
    </div>
{% endmacro %}
