{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/badge/macro.njk" import mojBadge %}

{% macro hdcCurfewTimes(licence, hdcLicenceData) %}
    {% set addressLine2Html = hdcLicenceData.curfewAddress.addressLine2 | escape + ", " if hdcLicenceData.curfewAddress.addressLine2 | length%}
    {% set countyHtml = hdcLicenceData.curfewAddress.county | escape + ", " if hdcLicenceData.curfewAddress.county | length%}
    {% set releaseDatesBadge %}
        {{ mojBadge({
            text: "CALCULATE RELEASE DATES",
            classes: "moj-badge--black float-right"
        }) }}
    {% endset %}
    {% set hdcBadge %}
        {{ mojBadge({
            text: "HDC",
            classes: "moj-badge--black float-right"
        }) }}
    {% endset %}

    {% set hdcad %}
        {% if licence.homeDetentionCurfewActualDate %}
            {{ licence.homeDetentionCurfewActualDate | datetimeToDate }} {{ releaseDatesBadge | safe }}
        {% else %}
            Not entered yet
        {% endif %}
    {% endset %}

    {{ govukSummaryList({
        attributes: {'data-qa': 'hdc-curfew-details'},
        rows: [
            {
                key: { text: 'HDCAD' },
                value: {
                    html: hdcad,
                    classes: "hdcad"
                }
            },
            {
                key: {text: 'Address'},
                value: {
                    html: "<p>" + hdcLicenceData.curfewAddress.addressLine1 | escape + ", " +
                          addressLine2Html +
                          hdcLicenceData.curfewAddress.townOrCity | escape + ", " +
                          countyHtml +
                          hdcLicenceData.curfewAddress.postcode | escape + hdcBadge + "</p>",
                    classes: "curfew-address"
                }
            },
            {
                key: { text: 'First night curfew hours' },
                value: {
                    text: hdcLicenceData.firstNightCurfewTimes.fromTime | localTimeTo12h + " to " + hdcLicenceData.firstNightCurfewTimes.untilTime | localTimeTo12h,
                    classes: "first-night-curfew-times"
                }
            },
            {
                classes: 'all-curfew-times-equal',
                key: {
                    text: 'Curfew hours'
                },
                value: {
                    html: hdcLicenceData.weeklyCurfewTimes[0].fromDay | titlecase | escape + " to " + hdcLicenceData.weeklyCurfewTimes[6].fromDay | titlecase | escape + "<br>" +
                          hdcLicenceData.weeklyCurfewTimes[0].fromTime  | localTimeTo12h + " to " + hdcLicenceData.weeklyCurfewTimes[0].untilTime | localTimeTo12h,
                    classes: "weekly-curfew-times"
                }
            } if hdcLicenceData.allCurfewTimesEqual
        ]
    }) }}

    {% if not hdcLicenceData.allCurfewTimesEqual %}
        {% set curfewRows = []%}
        {% for curfewTime in hdcLicenceData.weeklyCurfewTimes %}
            {% set curfewRows = (curfewRows.push(
                {
                    key: {
                        text: curfewTime.fromDay | titlecase
                    },
                    value: {
                        text: curfewTime.fromTime | localTimeTo12h + " to " + curfewTime.untilTime | localTimeTo12h
                    }
                }
            ), curfewRows) %}
        {% endfor %}

        <h2 class="govuk-!-margin-bottom-3 govuk-!-margin-top-7 govuk-heading-m">Curfew hours</h3>

        {{ govukSummaryList({
            attributes: {'data-qa': 'curfew-times-not-equal'},
            rows: curfewRows
        }) }}
    {% endif %}
{% endmacro %}
