{% if htmlPrint %}
    <img id="offender-image" src="/prisoner/{{ licence.nomsId or 'placeholder' }}/image" alt="offender headshot">
{% else %}
    <img id="offender-image" src='data:image/jpeg;charset-utf8;base64,{{ imageData }}' alt="offender headshot">
{% endif %}
