{% macro offender(dateOfBirth, licenceExpiryDate, nomsId) %}
<div class="offender" id="offender">
    <img src="{{ licencesUrl }}/prisoner/{{ nomsId or 'placeholder' }}/image" width="90px" height="120px" class="text-wrap">
    <br>
    <br>
    Date of birth: {{ dateOfBirth | datetimeToDate }}
    <br/>
    <br/>
    Your licence and sentence expires on {{ licenceExpiryDate | datetimeToDate }}
    <br/>
</div>
{% endmacro %}
