<div id="offender" class="offender">
    {% if htmlPrint %}
        <img src="/prisoner/{{ licence.nomsId or 'placeholder' }}/image" width="90px" height="120px" alt="offender headshot">
    {% else %}
        <img src='data:image/jpeg;charset-utf8;base64,{{ imageData }}' width="90px" height="120px" alt="offender headshot">
    {% endif %}
    <div>
        <p>
            Date of birth: <span class="bold">{{ licence.dateOfBirth | datetimeToDate }}</span>
        </p>
        {% if licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS' %}
            <p>
                Your licence and sentence expires on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>
            </p>
        {% endif %}
        {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
            <p>
                Your post sentence supervision period expires on <span class="bold">{{ licence.topupSupervisionExpiryDate | datetimeToDate }}</span>
            </p>
        {% endif %}
    </div>
</div>
