<div class="section">
    <p>
        Your post sentence supervision period commences on <span class="bold">{{ licence.topupSupervisionStartDate | datetimeToDate }}</span> and
        expires on <span class="bold">{{ licence.topupSupervisionExpiryDate | datetimeToDate }}</span>.
    </p>
</div>
