<div id="pss-dates" class="section">
    <p>
        Your post sentence supervision period starts on <span class="bold">{{ licence.topupSupervisionStartDate | datetimeToDate }}</span> and
        ends on <span class="bold">{{ licence.topupSupervisionExpiryDate | datetimeToDate }}</span>
    </p>
</div>
