<div class="section">
    <p>The objective of your post sentence supervision period is to encourage your rehabilitation in the community.</p>
    <p>You must place yourself under the supervision of whichever supervisor is nominated for this purpose from time to time.</p>
</div>
