{% macro releasedToOther() %}
    <div class="section" id="released-to-other">
        If on the date of this licence, you are released to hospital of other suitable care on compassionate grounds under
        Section 248 of the Criminal Justice Act 2003 or if you are detained under mental health and/or immigration provisions
        or are subsequently so detained before your licence expires, your supervising officer will keep in touch with you.
        Otherwise, you must place yourself under the supervision of whichever officer is nominated for this purpose from time to time.
    </div>
{% endmacro %}