<div id="restriction-zone" class="section">
    {% for data in restrictionZoneMapData %}
        <p><strong>Area you must not leave (restriction zone)</strong></p>
        <p>You have the following rule on your licence:</p>
        <p>{{ data.text }}</p>
        <p><strong>What this means for you</strong></p>
        <p>Do not leave the highlighted area shown in the following map.</p>
        <div>
            <div class="bold">{{ data.dataValue.value }}</div>
            <img alt="Exclusion zone" src="data:image/jpeg;charset-utf8;base64,{{ data.mapData }}" width="547.5px"
                 height="730px" />
            {% if data.description %}
                <div style="page-break-before: always;"></div>
                <p><strong>Description of the area shown in the map</strong></p>
                <p> {{ data.description | striptags(false) | trim | escape }}  </p>
                {% if not loop.last %}
                    <div style="page-break-before: always"></div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>