{% macro signatures(releaseDate, approverName, approvedDate, offenderName) %}
    <div class="boxed signatures">
        <div class="tab-20">
          Signed:  {{ approverName }}<br/><br/>
        </div>
        <div class="tab-20">
          Date: {{ approvedDate | datetimeToDate }}<br/><br/>
        </div>
        <div class="tab-20">
             for the Secretary of State for Justice<br/><br/>
        </div>
        <div class="tab-20">
          This licence has been give to me and its requirements have been explained.<br/><br/>
        </div>
        <div class="tab-20">
          Name: {{ offenderName }}<br/><br/><br/>
        </div>
        <div class="tab-20">
          Signed:
          <br/>
          <br/>
          <br/>
        </div>
        <div class="tab-20">
          Date: {{ releaseDate | datetimeToDate }}<br/><br/>
        </div>
    </div>
{% endmacro %}
