{% macro signatures(approverName, approvedDate, offenderName) %}
    <div class="boxed">
        <div class="signatures">
            <p>Approved by:  {{ approverName }}  for the Secretary of State for Justice.</p>
            <p>Date: {{ approvedDate | datetimeToDate }}</p>
            <p></p>
            <p>This licence has been give to me and its requirements have been explained.</p>
            <p></p>
            <p>Name: <span class="bold">{{ offenderName }}</span></p>
            <p>Signed:</p>
            <div class="signature-box"></div>
            <p>Date: </p>
        </div>
    </div>
{% endmacro %}
