{% macro supervision(startDate, endDate) %}
    <div class="section" id="supervision">
        Your supervision commences on {{ startDate | datetimeToDate }} and expires on {{ endDate | datetimeToDate }} unless this licence is previously revoked.
    </div>
{% endmacro %}