<div class="title" id="title">
    {% if licence.typeCode === 'AP' %}
        Licence for {{ offenderName }}
    {% endif %}
    {% if licence.typeCode === 'PSS' %}
        Post sentence supervision order for {{ offenderName }}
    {% endif %}
    {% if licence.typeCode === 'AP_PSS' %}
        Licence and post sentence supervision order for {{ offenderName }}
    {% endif %}
</div>
