{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
    id: 'regionOfResidence',
    name: params.id + '[regionOfResidence]',
    classes: "govuk-!-width-one-third",
    label: {
        text: "Enter probation region"
    },
    errorMessage: params.errorMessages | findError('regionOfResidence'),
    value: params.formResponses[params.id].regionOfResidence
}) }}