---
generic-service:
  nameOverride: create-and-vary-a-licence
  replicaCount: 4
  serviceAccountName: create-and-vary-a-licence
  productId: "DPS011"

  image:
    repository: quay.io/hmpps/create-and-vary-a-licence
    tag: app_version # override at deployment time
    port: 3000

  ingress:
    enabled: true
    hosts:
      - app-hostname.local # override per environment
    tlsSecretName: create-and-vary-a-licence-cert

  livenessProbe:
    httpGet:
      path: /ping

  readinessProbe:
    httpGet:
      path: /ping

  # Environment variables to load into the deployment
  env:
    NODE_ENV: "production"
    REDIS_TLS_ENABLED: "true"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY);IngestionEndpoint=https://northeurope-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northeurope.livediagnostics.monitor.azure.com/"
    SERVICE_NAME: "create-and-vary-a-licence"
    # To enable common front-end components
    COMPONENT_API_URL: 'https://frontend-components-dev.hmpps.service.justice.gov.uk'
    MANAGE_USERS_API_URL: 'https://manage-users-api-dev.hmpps.service.justice.gov.uk'
    FRIDAY_RELEASE_POLICY: 'https://www.gov.uk/government/publications/discretionary-fridaypre-bank-holiday-release-scheme-policy-framework'
    # Feature toggles
    LICENCE_WATERMARK: "false"
    TOKEN_VERIFICATION_ENABLED: "true"
    COMMON_COMPONENTS_ENABLED: "true"
    SHOW_WHATS_NEW_BANNER: "false"
    POSTCODE_LOOKUP_ENABLED: "true"
    SERVICE_NOW_URL: "https://mojprod.service-now.com/moj_sp?id=sc_cat_item&table=sc_cat_item&sys_id=e389e8931b8bc65025dc6351f54bcb82&recordUrl=com.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1&sysparm_id=e389e8931b8bc65025dc6351f54bcb82"
    EPF2_URL: "https://epf.linkspace.uk/planning"
    TIME_SERVED_ENABLED: "false"

    # HDC
    MONITORING_SUPPLIER_TELEPHONE: "0800 137 291"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    create-and-vary-a-licence:
      APPINSIGHTS_INSTRUMENTATIONKEY: 'APPINSIGHTS_INSTRUMENTATIONKEY'
      API_CLIENT_ID: 'API_CLIENT_ID'
      API_CLIENT_SECRET: 'API_CLIENT_SECRET'
      SYSTEM_CLIENT_ID: 'SYSTEM_CLIENT_ID'
      SYSTEM_CLIENT_SECRET: 'SYSTEM_CLIENT_SECRET'
      SESSION_SECRET: 'SESSION_SECRET'
      TAG_MANAGER_CONTAINER_ID: 'TAG_MANAGER_CONTAINER_ID'
    elasticache-redis:
      REDIS_HOST: 'primary_endpoint_address'
      REDIS_AUTH_TOKEN: 'auth_token'
    create-and-vary-a-licence-prison-events-sqs-instance-output:
      SQS_PRISON_EVENTS_QUEUE_URL: 'sqs_id'
    create-and-vary-a-licence-probation-events-sqs-instance-output:
      SQS_PROBATION_EVENTS_QUEUE_URL: 'sqs_id'
    create-and-vary-a-licence-domain-events-sqs-instance-output:
      SQS_DOMAIN_EVENTS_QUEUE_URL: 'sqs_id'

  allowlist:
    hmp-parc-1: 217.161.76.162/32
    hmp-parc-2: 217.161.76.154/32
    groups:
      - internal
      - prisons
      - private_prisons
      - probation

gotenberg:
  nameOverride: gotenberg
  replicaCount: 2

  image:
    repository: thecodingmachine/gotenberg
    tag: 7.5.0
    port: 3000

  ingress:
    enabled: false

  livenessProbe:
    httpGet:
      path: /health
    periodSeconds: 30
    initialDelaySeconds: 60
    timeoutSeconds: 20
    failureThreshold: 10

  readinessProbe:
    httpGet:
      path: /health
    periodSeconds: 20
    initialDelaySeconds: 60
    timeoutSeconds: 30
    failureThreshold: 15

  podSecurityContext:
    fsGroup: 1001

  securityContext:
    runAsUser: 1001
    runAsNonRoot: true

generic-prometheus-alerts:
  targetApplication: create-and-vary-a-licence
