//Override style from the MoJ style library

.moj-add-another {
  &__remove-button{
    position: relative;
  }

  &__item {
    margin-top: 65px;
    margin-bottom: 35px; 

    &:first-of-type {
      margin-bottom: 5px;
    }

    .govuk-textarea {
      margin-bottom: 35px;
    }
  }

  &__add-button{
    margin-bottom: 65px !important;
  }
}

.govuk-radios__conditional .govuk-date-input {
  margin-bottom: 15px;
}

.newest-fieldset {
  background-color: govuk-colour("light-grey");
  padding: 20px 20px 15px 20px;

  &.moj-add-another__item {
    margin-top: 45px;
  }
}