#caseload	{
  border: none;
  border-collapse: collapse;
}

#caseload th	{
  border: none;
}

#caseload td	{
  border: none;
}

@media only screen and (max-width: 1000px) {
  #caseload {
    #location, tr td:nth-child(5) {
      display: none;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 900px) {
  #caseload {
    #nomisId, tr td:nth-child(2) {
      display: none;
      visibility: hidden;
    }
  }
  #caseload {
    #location, tr td:nth-child(5) {
      display: none;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 800px) {
  #caseload {
    #nomisId, tr td:nth-child(2) {
      display: none;
      visibility: hidden;
    }
  }
  #caseload {
    #crn, tr td:nth-child(3) {
    display: none;
    visibility: hidden;
    }
  }
  #caseload {
    #location, tr td:nth-child(5) {
      display: none;
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 700px) {
  #caseload {
    #nomisId, tr td:nth-child(2) {
      display: none;
      visibility: hidden;
    }
  }
  #caseload {
    #crn, tr td:nth-child(3) {
      display: none;
      visibility: hidden;
    }
  }
  #caseload {
    #releaseDate, tr td:nth-child(4) {
      display: none;
      visibility: hidden;
    }
  }
  #caseload {
    #location, tr td:nth-child(5) {
      display: none;
      visibility: hidden;
    }
  }
}
