$thumbnail-border-width: 1px;
$thumbnail-border-color: $govuk-border-colour;

.upload-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(3);
  padding: 2px;
}

.upload-detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: govuk-spacing(3);
  margin-left: govuk-spacing(3);
  padding: 2px;
}

.upload-detail {
  margin-bottom: govuk-spacing(5);
  padding: 2px;
  overflow-wrap: break-word;
}

.upload-thumbnail {
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);
  margin-right: govuk-spacing(3);
  border: $thumbnail-border-width solid $thumbnail-border-color;
  position: relative;
  width: 150px;
  height: 200px;
  padding: 2px;
}


