@page {
  size: A4 portrait;
  margin: 30pt 30pt 80pt 30pt;
  .moj-logo {
    display: none;
  }
}

@page :first{
  // margin: 30pt 70pt 70pt 30pt;
  .moj-logo {
    display: contents;
    margin-bottom: 20px;
  }
}

body {
  counter-reset: sectionCounter conditionCounter;
  font-family: "GDS Transport",arial,sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: normal;
}

.text-wrap {
  float: left;
  margin: 10px;
}

#offender-image {
  border: 1px solid #555;
}

#meeting-details {
  margin-left: 25px;
}

.bold {
  font-weight: bolder;
}

.bullet-point {
  break-inside: avoid;
  page-break-inside: avoid;
}

.section::before {
  counter-increment: sectionCounter;
  content: "\a" counter(sectionCounter) ". ";
  white-space: pre;
}

.section {
  clear: left;
  text-align: justify-all;
  page-break-inside: avoid;
}

.condition::before {
  counter-increment: conditionCounter;
  content: "\a" counter(sectionCounter) "." counter(conditionCounter) ". ";
  white-space: pre;
}

.condition {
  break-inside: avoid;
  page-break-inside: avoid;
  margin-left: 25px;
  text-align: justify-all;
}

.condition::after {
  content: "\a";
  white-space: pre;
}

.title {
  font-size: 15pt;
  font-weight: bold;
}

.title::after {
  content: "\a";
  clear: left;
}

.footer-tiny {
  font-size: 6px;
}

.boxed {
  margin-top: 30px;
  border: 1px solid black;
  page-break-inside: avoid;
  break-inside: avoid;
}

.signatures::before {
  content: "\a";
  white-space: pre;
}

.signatures {
  break-inside: avoid;
  page-break-inside: avoid;
  margin-left: 20px;
}

.signatures::after {
  content: "\a";
  white-space: pre;
}

.signature-box {
  background-color: lightgray;
  border: none;
  opacity: 15%;
}

#hidden-data > span {
  display: none;
}

span #hidden-noms-id {
  string-set: noms-id content();
}

span #hidden-pnc {
  string-set: pnc content();
}

span #hidden-cro {
  string-set: cro content();
}

span #hidden-booking-no {
  string-set: booking-no content();
}

span #hidden-licence-id {
  string-set: licence-id content();
}

span #hidden-prison-code {
  string-set: prison-code content();
}

span #hidden-version {
  string-set: version content();
}

span #hidden-licence-type {
  string-set: licence-type content();
}

//   @bottom-center {
//    font-size: 8pt;
//    content: "NOMS Id:" string(noms-id)  "Page " counter(page) " of " counter(pages);
//  }