@page {
  size: A4 portrait;
  margin: 30pt 30pt 80pt 30pt;
  .moj-logo {
    display: none;
  }
}

@page :first{
  .moj-logo {
    display: contents;
    margin-bottom: 20px;
  }
}

body {
  counter-reset: sectionCounter conditionCounter;
  font-family: "GDS Transport",arial,sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: normal;
}

.offender {
  display: flex;

  img {
    border: 1px solid #555;
  }

  div {
    padding: 0 10px;
  }
}

#meeting-details {
  margin-left: 25px;
}

.bold {
  font-weight: bolder;
}

.bullet-point {
  break-inside: avoid;
}

.section > p:first-child:before {
  counter-increment: sectionCounter;
  content: "\a" counter(sectionCounter) ". ";
  white-space: pre;
}

.section {
  clear: left;
  text-align: justify-all;
  break-inside: avoid;
}

.section-large {
  break-inside: auto;
}

.condition::before {
  counter-increment: conditionCounter;
  content: "\a" counter(sectionCounter) "." counter(conditionCounter) ". ";
  white-space: pre;
}

.condition {
  break-inside: avoid;
  margin-left: 25px;
  text-align: justify-all;
}

.condition::after {
  content: "\a";
  white-space: pre;
}

.title {
  font-size: 15pt;
  font-weight: bold;
  padding-top: 15px;
  margin-bottom: 15px;
}

.title::after {
  content: "\a";
  clear: left;
}

.footer-tiny {
  font-size: 6px;
}

.line-space-after {
  display: block;
  margin-bottom: 2px;
}

.boxed {
  margin-top: 30px;
  border: 1px solid black;
  break-inside: avoid;
}

.signatures::before {
  content: "\a";
  white-space: pre;
}

.signatures {
  margin-left: 20px;
}

.signatures::after {
  content: "\a";
  white-space: pre;
}

.signature-box {
  break-inside: avoid;
  background-color: lightgray;
  width: 450px;
  height: 90px;
  border: none;
  opacity: 15%;
}

// The remaining styles are concerned with making the page footer use CSS
// rather than relying on the Gotenberg footer-html. This is connected to the
// template footer.njk.  Left in as I will experiment with a pure CSS footer
// as another ticket.

#hidden-data > span {
  display: none;
}

span #hidden-noms-id {
  string-set: noms-id content();
}

span #hidden-pnc {
  string-set: pnc content();
}

span #hidden-cro {
  string-set: cro content();
}

span #hidden-booking-no {
  string-set: booking-no content();
}

span #hidden-licence-id {
  string-set: licence-id content();
}

span #hidden-prison-code {
  string-set: prison-code content();
}

span #hidden-version {
  string-set: version content();
}

span #hidden-licence-type {
  string-set: licence-type content();
}
