@page {
  size: A4 portrait;
  margin: 30pt 30pt 80pt 30pt;
  .moj-logo {
    display: none;
  }

  :first {
    .moj-logo {
      display: contents;
      margin-bottom: 20px;
    }
  }
}

@media print {
  .watermark:before {
    content: "PROTOTYPE";
    font-size: 120pt;
    position: fixed;
    transform: rotate(-60deg);
    opacity: 10%;
    top: 40%;
    left: -20%;
  }
}

body {
  counter-reset: sectionCounter conditionCounter;
  font-family: "GDS Transport",arial,sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: normal;
}

.offender {
  display: flex;
  margin-bottom: 50px;

  img {
    border: 1px solid #555;
  }

  div {
    padding: 0 10px;
  }
}

#meeting-details {
  margin-left: 25px;
}

.bold {
  font-weight: bolder;
}

.bullet-point {
  break-inside: avoid;
}

.section-with-heading {
  break-inside: avoid;

  .heading {
    font-weight: bolder;
  }
}

.section {
  text-align: justify;
  break-inside: avoid;
  padding-left: 30px;
  margin: 30px 0;
  counter-reset: conditionCounter;

  &:before {
    counter-increment: sectionCounter;
    content: "\a" counter(sectionCounter) ". ";
    position: absolute;
    margin-left: -30px;
  }

  &--large {
    break-inside: auto;
  }
}

.condition {
  break-inside: avoid;
  text-align: justify;
  padding-left: 30px;
  margin: 20px 0 20px 30px;

  &:before {
    counter-increment: conditionCounter;
    content: "\a" counter(sectionCounter) "." counter(conditionCounter) ". ";
    position: absolute;
    margin-left: -50px;
  }
}

.title {
  font-size: 15pt;
  font-weight: bolder;
  margin: 30px 0;
}

.footer-tiny {
  font-size: 6px;
}

.line-space-after {
  display: block;
  margin-bottom: 2px;
}

.boxed {
  margin-top: 30px;
  border: 1px solid black;
  break-inside: avoid;
}

.signatures {
  margin-left: 20px;

  .signature-box {
    break-inside: avoid;
    background-color: lightgray;
    width: 450px;
    height: 90px;
    border: none;
    opacity: 15%;
  }
}

// The remaining styles are concerned with making the page footer use CSS
// rather than relying on the Gotenberg footer-html. This is connected to the
// template footer.njk.  Left in as I will experiment with a pure CSS footer
// as another ticket.

#hidden-data > span {
  display: none;
}

span #hidden-noms-id {
  string-set: noms-id content();
}

span #hidden-pnc {
  string-set: pnc content();
}

span #hidden-cro {
  string-set: cro content();
}

span #hidden-booking-no {
  string-set: booking-no content();
}

span #hidden-licence-id {
  string-set: licence-id content();
}

span #hidden-prison-code {
  string-set: prison-code content();
}

span #hidden-version {
  string-set: version content();
}

span #hidden-licence-type {
  string-set: licence-type content();
}
