.status-badge {
  font-size: 20px;
  padding: 3px 5px;
  font-weight: 700;
  background-color: #dddddd;
  display: inline;
  color: govuk-colour("dark-grey");

  &.green {
    color: #00512B;
    background-color: #C4DED3;
  }

  &.blue {
    color: #144E81;
    background-color: #D2E2F1;
  }

  &.red {
    color: #351D69;
    background-color: #D6CFE6;
  }

  &.turquoise {
    color: #123F3B;
    background-color: #B4E0DC;
  }

  &.grey {
    color: #333A3D;
    background-color: #EBECED;
  }

  &.small {
    font-size: 14px;
  }
}
