@import "../constants/colours";

.white-space-nowrap {
  white-space: nowrap;
}

.text-align-right {
  text-align: right
}

.max-width {
  overflow: hidden;
  &-120 {
    width:12%;
    max-width:120px;
  }
  &-200 {
    max-width: 200px;
  }
  &-220 {
    max-width: 220px;
  }
}

.greyed-text {
  color: $govuk-secondary-text-colour;
}

.govuk-radios--inline .govuk-radios__item {
  margin-right: 0
}

.force-uppercase {
  text-transform: uppercase
}

.force-titlecase {
  text-transform: capitalize
}

table.alternate-shade {
  tr:nth-child(odd) {
    background-color: #f3f2f1;
  }
  tr:only-child {
    background-color: #ffffff;
  }
}

table {
  tr:last-child {
    padding-right: 20px;
  }
}

table.vertical-middle {
  td, th {
    vertical-align: middle;
  }
}

table.last-col-right {
  td, th {
    &:last-of-type {
      text-align: right;
    }
  }
}

.fixed-width {
  min-width: 7em;
}

.pipe-separated {
  &__item:not(:last-child) {
    &:after {
      content: " | ";
    }
  }
}

.border {
  &-top:before {
    content: "";
    display: block;
    border-top: 1px solid $grey;
  }

  &-bottom:after {
    content: "";
    display: block;
    border-bottom: 1px solid $grey;
  }
}

.display-inline-flex {
  display: inline-flex;
}

.margin-top-85 {
  margin-top: 85px;
}
