.govuk-summary-list__row--no-actions:is(.hdcad-row, .curfew-address-row)::after {
  content: none !important;
}

.govuk-summary-list__row--no-actions:is(.hdcad-row, .curfew-address-row)
  .govuk-summary-list__value {
  width: 200%;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.curfew-address p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
