{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Vary a licence - Have you completed the residential address checks" %}
{% set pageId = "residential-checks-completed-question-page" %}
{% set backLinkHref = "/" %}
{% if licence.curfewAddress.postReleaseResidentialChecksCompleted == true %}
    {% set defaultAnswer = "Yes" %}
{% elif licence.curfewAddress.postReleaseResidentialChecksCompleted == false %}
    {% set defaultAnswer = "No" %}
{% else %}
    {% set defaultAnswer = "" %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Have you completed the residential address checks?</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "radio-option",
                    name: "answer",
                    fieldset: {
                        attributes: {
                            id: 'answer'
                        }
                    },
                    errorMessage: validationErrors | findError('answer'),
                    items: [
                        {
                            value: "Yes",
                            text: "Yes"
                        },
                        {
                            value: "No",
                            text: "No"
                        }
                    ],
                    value: formResponses.answer or defaultAnswer
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
