{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Create a licence - Do you want to use the standard HDC curfew hours?" %}
{% set pageId = "standard-curfew-hours-question" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/initial-meeting-time" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Do you want to use the standard HDC curfew hours?</h1>
            <div class="govuk-hint govuk-!-margin-bottom-6">The standard HDC curfew hours are 7pm to 7am the next day.</div>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "radio-option",
                    name: "answer",
                    fieldset: {
                        attributes: {
                            id: 'answer'
                        },
                        legend: {
                            text: "Standard curfew hours question",
                            classes: "govuk-visually-hidden"
                        }
                    },
                    errorMessage: validationErrors | findError('answer'),
                    items: [
                        {
                            value: "Yes",
                            text: "Yes"
                        },
                        {
                            value: "No",
                            text: "No"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
