{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "formBuilder.njk" import formBuilder %}

{% set pageTitle = applicationName + " - Create a licence - Additional Conditions" %}
{% set pageId = "additional-conditions-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/additional-conditions-question" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Select additional conditions</h1>
            <span class="govuk-hint">Select all relevent conditions</span>
        </div>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {% for group in additionalConditions %}
                    {% set items = [] %}
                    {% for condition in group.conditions %}
                        {% set items = (items.push({
                            id: condition.id,
                            value: condition.id,
                            text: condition.text,
                            checked: formResponses.additionalConditions and condition.id in formResponses.additionalConditions,
                            label: {
                                classes: 'govuk-!-padding-top-0'
                            }
                        }), items) %}
                    {% endfor %}

                    {{ govukCheckboxes({
                        name: "additionalConditions[]",
                        fieldset: {
                            legend: {
                                text: group.groupName,
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--l"
                            }
                        },
                        items: items
                    }) }}
                {% endfor %}

                {{ govukButton({
                    text: continueOrReturnToCheckAnswers,
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
