{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create a licence - Additional Conditions" %}
{% set pageId = "additional-condition-input-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/additional-conditions" %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Complete the licence condition</h1>
        </div>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="code" value="{{ config.code }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body govuk-!-font-weight-bold">
                    {{ additionalCondition.text }}
                </p>

                {% include "formBuilder.njk" %}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
