{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = applicationName + " - Create a licence - Additional Conditions" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Select additional conditions</h1>
            <span class="govuk-hint">Select all relevent conditions</span>
        </div>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {{ govukCheckboxes({
                    name: "additional-conditions",
                    fieldset: {
                        legend: {
                            text: "Residence at a specific place",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        },
                        classes: "govuk-!-margin-top-6"
                    },
                    items: [
                        {
                            value: "residence-condition-id-0",
                            text: "You must reside within [INSERT REGION] while of no fixed abode, unless otherwise approved by your supervising officer.",
                            conditional: {
                                html: govukInput({
                                    name: "supplementary-data[residence-condition-id-0][probation-region]",
                                    classes: "govuk-!-width-one-third",
                                    label: {
                                        text: "Enter probation region"
                                    }
                                })
                            }
                        }
                    ]
                }) }}

                {% set restrictionOfResidencyHtml %}
                    {{ govukRadios({
                        name: "supplementary-data[restriction-of-residency-condition-id-0][gender]",
                        fieldset: {
                            legend: {
                                text: "Select the relevent text"
                            }
                        },
                        items: [
                            {
                                value: "any",
                                text: "any"
                            },
                            {
                                value: "any female",
                                text: "any female"
                            },
                            {
                                value: "any male",
                                text: "any male"
                            }
                        ]
                    }) }}

                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        name: "supplementary-data[restriction-of-residency-condition-id-0][age]",
                        fieldset: {
                            legend: {
                                text: "Select the relevent age"
                            }
                        },
                        items: [
                            {
                                value: "16",
                                text: "16 years"
                            },
                            {
                                value: "18",
                                text: "18 years"
                            }
                        ]
                    }) }}
                {% endset %}

                {{ govukCheckboxes({
                    name: "additional-conditions",
                    fieldset: {
                        legend: {
                            text: "Restriction of residency",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        },
                        classes: "govuk-!-margin-top-6"
                    },
                    items: [
                        {
                            value: "restriction-of-residency-condition-id-0",
                            text: "Not to reside (not even to stay for one night) in the same household as [ANY / ANY FEMALE / ANY MALE] child under the age of [INSERT AGE] without the prior approval of your supervising officer.",
                            conditional: {
                                html: restrictionOfResidencyHtml
                            }
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit"
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
