{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "formBuilder.njk" import formBuilder %}

{% set pageTitle = applicationName + " - Create a licence - Additional Conditions" %}
{% set pageId = "additional-condition-input-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/additional-licence-conditions" %}
{% set fromReview = "?fromReview=true" if fromReview %}
{% set fromReviewAppend = "&fromReview=true" if fromReview %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Complete the licence condition</h1>
        </div>
    </div>

    {# Check for any fileUpload type in the inputs for this condition - it changes tohe form submission #}
    {% set fileUpload = false %}
    {% for input in config.inputs %}
       {% if input.type === 'fileUpload' %}
           {% set fileUpload = true %}
       {% endif %}
    {% endfor %}

    {# Alter the form encoding to multi-part formdata and supply csrf token in query params for file upload conditions #}
    <form method="POST"
        {% if fileUpload %}
            encType="multipart/form-data"
            action="?_csrf={{ csrfToken }}{{ fromReviewAppend }}"
        {% endif %}>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="code" value="{{ config.code }}">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body">
                    {{ config.text }}
                </p>
                {% if config.subtext %}
                    <div class="govuk-hint">{{ config.subtext }}</div>
                {% endif %}

                {{ formBuilder(licence.id, config, additionalCondition, validationErrors, formResponses) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>

    <form action="{{ "/licence/create/id/" + licence.id + "/additional-licence-conditions/condition/" + additionalCondition.id + "/delete" + fromReview }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukButton({
            text: "Delete this condition",
            type: "submit",
            classes: 'govuk-button--secondary',
            attributes: { 'data-qa': 'delete' }
        }) }}
    </form>
{% endblock %}
