{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = applicationName + " - Create a licence - Additional Licence Conditions" %}
{% set pageId = "additional-licence-conditions-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/additional-licence-conditions-question" %}

{% block content %}
    <div class="moj-banner" role="region" aria-label="information" style="margin-top: 5px;">
      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
      C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"></path>
      </svg>

      <div class="moj-banner__message">
        Create and vary a licence is being updated to use the additional conditions from the latest Licence Conditions Policy Framework.<br>
        In the meantime, you can continue to use the conditions below from the previous version of the framework.<br>
        <a class="govuk-link govuk-link--no-visited-state" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1096084/licence-conditions-policy-framework.pdf" target="_blank">
          Find out more in the Licence Conditions Policy Framework on GOV.UK (opens in a new tab).
        </a>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Select additional licence conditions</h1>
            <div class="govuk-hint">Select all relevant conditions</div>
        </div>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {% for group in additionalConditions %}
                    {% set items = [] %}
                    {% for condition in group.conditions %}
                        {% set items = (items.push({
                            id: condition.code,
                            value: condition.code,
                            text: condition.text,
                            checked: condition.code | additionalConditionChecked(licence.additionalLicenceConditions),
                            label: {
                                classes: 'govuk-!-padding-top-0'
                            }
                        }), items) %}
                    {% endfor %}

                    {{ govukCheckboxes({
                        name: "additionalConditions[]",
                        fieldset: {
                            legend: {
                                text: group.category,
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--l"
                            }
                        },
                        items: items
                    }) }}
                {% endfor %}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    classes: 'govuk-!-margin-top-6',
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
