{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = applicationName + " - Create a licence - Bespoke Conditions" %}
{% set pageId = "bespoke-conditions-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/bespoke-conditions-question" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Create bespoke conditions for {{ licence.forename }} {{ licence.surname }}</h1>
        </div>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div data-module="moj-add-another">
                    <h2 class="moj-add-another__heading govuk-visually-hidden" tabindex="-1">Bespoke conditions</h2>

                    {% for c in conditions %}
                        {% call govukFieldset({ classes: 'moj-add-another__item' }) %}
                            {{  bespokeCondition(loop.index0, c) }}
                            {% if conditions.length > 1 %}
                                <button type="button" class="govuk-button govuk-button--secondary moj-add-another__remove-button">Remove</button>
                            {% endif %}
                        {% endcall %}
                    {% else %}
                        {% call govukFieldset({ classes: 'moj-add-another__item' }) %}
                            {{  bespokeCondition(0, '') }}
                        {% endcall %}
                    {% endfor %}

                    <div class="moj-button-action">
                        {{ govukButton({
                            text: 'Add another bespoke condition',
                            classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4',
                            attributes: { 'data-qa': 'add-another' }
                        }) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukButton({
                    text: continueOrReturnToCheckAnswers,
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>

    </form>
{% endblock %}

{% macro bespokeCondition(conditionIndex, conditionValue) %}
    {{ govukTextarea({
        id: 'conditions[' + conditionIndex + ']',
        name: 'conditions[' + conditionIndex + ']',
        label: {
            html: 'Bespoke condition',
            classes: 'govuk-visually-hidden'
        },
        attributes: {
            'data-name': 'conditions[%index%]',
            'data-id': 'conditions[%index%]'
        },
        value: conditionValue
    }) }}
{% endmacro %}
