{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "partials/bespokeConditionsSummary.njk" import bespokeConditions %}
{% from "partials/variationSummary.njk" import variationSummary %}

{% set pageTitle = applicationName + " - Create a licence - Check your answers" %}
{% set pageId = "check-answers-page" %}

{% set isInProgress = licence.statusCode == 'IN_PROGRESS' or licence.statusCode == 'VARIATION_IN_PROGRESS' %}
{% set canChooseToEdit = licence.statusCode == 'APPROVED' or licence.statusCode == 'SUBMITTED' %}
{% set canChooseToPrint = licence.statusCode == 'APPROVED' %}
{% if licence.isVariation %} 
  {% set submitButtonText = 'View summary and add notes' %}
  {% set submitButtonAttrs = { 'data-qa': 'add-notes' } %}
{% else %} 
  {% set submitButtonText = 'Send to prison for approval'%}
  {% set submitButtonAttrs = { 'data-qa': 'send-licence-conditions' } %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if licence.isVariation %}
                {% if licence.typeCode === 'AP' %}
                    <h1 class="govuk-heading-l">Vary licence details</h1>
                {% elseif licence.typeCode === 'AP_PSS' %}
                    <h1 class="govuk-heading-l">Vary licence and post sentence supervision order details</h1>
                {% elseif licence.typeCode === 'PSS' %}
                    <h1 class="govuk-heading-l">Vary post sentence supervision order details</h1>
                {% endif %}
            {% else %}
                {% if licence.typeCode === 'AP' %}
                    <h1 class="govuk-heading-l">Check licence details</h1>
                {% elseif licence.typeCode === 'AP_PSS' %}
                    <h1 class="govuk-heading-l">Check licence and post sentence supervision order details</h1>
                {% elseif licence.typeCode === 'PSS' %}
                    <h1 class="govuk-heading-l">Check post sentence supervision order details</h1>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if canChooseToEdit or canChooseToPrint %}
        <div class="govuk-button-group">
            {% if canChooseToEdit %}
                {{ govukButton({
                    text: "Edit licence",
                    href: '/licence/create/id/' + licence.id + '/edit',
                    attributes: {
                        id: 'edit-licence-button'
                    }
                }) }}
            {% endif %}

            {% if canChooseToPrint %}
                {{ govukButton({
                    text: "View and print licence PDF",
                    href: '/licence/view/id/' + licence.id + '/pdf-print',
                    classes: "govuk-button--secondary" if canChooseToEdit,
                    attributes: {
                        id: 'print-licence-button',
                        target: "_blank"
                    }
                }) }}
            {% endif %}
        </div>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if licence.isVariation %}
                {{ variationSummary(licence, isInProgress) }}
            {% else %}
                {{ inductionMeetingDetails(licence, isInProgress, validationErrors) }}
            {% endif %}

            {% if licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS' %}
                {{ additionalLicenceConditions(licence, additionalConditions, conditionsWithUploads, isInProgress, validationErrors) }}
                {{ bespokeConditions(licence, isInProgress) }}
            {% endif %}

            {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
                {{ additionalPssConditions(licence, isInProgress, validationErrors) }}
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="govuk-button-group">
                    {% if isInProgress %}
                        {{ govukButton({
                            text: submitButtonText,
                            attributes: submitButtonAttrs
                        }) }}
                    {% endif %}

                    {% if canChooseToEdit %}
                        {{ govukButton({
                            text: "Edit licence",
                            href: '/licence/create/id/' + licence.id + '/edit',
                            attributes: {
                                id: 'edit-licence-button-2'
                            }
                        }) }}
                    {% endif %}

                    {% if canChooseToPrint %}
                        {{ govukButton({
                            text: "View and print licence PDF",
                            href: '/licence/view/id/' + licence.id + '/pdf-print',
                            classes: "govuk-button--secondary" if canChooseToEdit,
                            attributes: {
                                id: 'print-licence-button-2',
                                target: "_blank"
                            }
                        }) }}
                    {% endif %}
               

                    {% if isInProgress and licence.isVariation %}
                            {{ govukButton({
                                text: "Discard changes",
                                classes: "govuk-button--secondary",
                                attributes: { 'data-qa': 'discard' },
                                href: '/licence/vary/id/' + licence.id + '/confirm-discard-variation'
                            }) }}
                        
                    {% endif %}

                    <a href={{ backLink }} class="govuk-link govuk-!-font-size-19">Return to caselist</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
