{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "partials/bespokeConditionsSummary.njk" import bespokeConditions %}

{% set pageTitle = applicationName + " - Create a licence - Check your answers" %}
{% set pageId = "check-answers-page" %}

{% set isInProgress = licence.statusCode == 'IN_PROGRESS' %}
{% set canChooseToEdit = licence.statusCode == 'APPROVED' or licence.statusCode == 'SUBMITTED' or licence.statusCode == 'REJECTED' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {% if licence.typeCode === 'AP' %}
                <h1 class="govuk-heading-l">Check licence details for {{ licence.forename }} {{ licence.surname }}</h1>
            {% elseif licence.typeCode === 'AP_PSS' %}
                <h1 class="govuk-heading-l">Check licence and post sentence supervision order details for {{ licence.forename }} {{ licence.surname }}</h1>
            {% elseif licence.typeCode === 'PSS' %}
                <h1 class="govuk-heading-l">Check post sentence supervision order details for {{ licence.forename }} {{ licence.surname }}</h1>
            {% else %}
                <h1 class="govuk-heading-l">Check licence type {{ licence.typeCode }} for {{ licence.forename }} {{ licence.surname }}</h1>
            {% endif %}
        </div>
    </div>

    {% if canChooseToEdit %}
        <a id="edit-licence-button" href="{{'/licence/create/id/' + licence.id + '/edit'}}" class="govuk-button">Edit licence</a>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            {{ inductionMeetingDetails(licence, isInProgress) }}

            {% if licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS' %}
                {{ additionalLicenceConditions(licence, expandedLicenceConditions, isInProgress) }}
                {{ bespokeConditions(licence, isInProgress) }}
            {% endif %}

            {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
                {{ additionalPssConditions(licence, expandedPssConditions, isInProgress) }}
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="answers-checked" value="true">
                <div class="govuk-button-group">
                    {% if isInProgress %}
                        {{ govukButton({
                            text: "Send licence conditions to prison",
                            attributes: { 'data-qa': 'send-licence-conditions' }
                        }) }}
                    {% endif %}
                    {% if canChooseToEdit %}
                        <a id="edit-licence-button-2" href="{{'/licence/create/id/' + licence.id + '/edit'}}" class="govuk-button">Edit licence</a>
                    {% endif %}
                    <a href="/licence/create/caseload" class="govuk-link govuk-!-font-size-19">Return to caseload</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
