{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/badge/macro.njk" import mojBadge %}

{% set pageTitle = applicationName + " - Create a licence - Are you sure?" %}
{% set pageId = "confirm-create-page" %}
{% set backLinkHref = backLink %}
{% set recallStatusHtml %}
    <span class="urgent-highlight">Fixed-term recall</span>
    <span class="urgent-highlight urgent-highlight-message">
        Check their previous licence conditions.<br>You should do this using
        <a class="govuk-link--no-visited-state" href="{{ epf2Url }}">EPF 2</a>.
    </span>
{% endset %}

{% block content %}
    <h1 class="govuk-heading-l">Are you sure you want to create this person's licence?</h1>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if licence.isEligibleForEarlyRelease %}
                    {{ govukWarningText({
                        html: "This person is eligible for an earlier release. It may affect their initial appointment. Find more information <br> in the <a class='govuk-link' rel='noreferrer noopener' target='_blank' href="+ fridayReleasePolicy +">Friday or pre-bank holiday release policy framework (opens in new tab).</a>",
                        iconFallbackText: "Warning"
                    }) }}
                {% endif %}

                {% set nomisBadge %}
                    {{ mojBadge({
                        text: "NOMIS",
                        classes: "moj-badge--black"
                    }) }}
                {% endset %}

                {% set summaryRows = [] %}
                {% set summaryRows = (summaryRows.push(
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: licence.forename + " " + licence.surname
                        }
                    },
                    {
                        key: {
                            text: "CRN"
                        },
                        value: {
                            text: licence.crn
                        }
                    }
                ), summaryRows) %}

                {% if licence.kind == 'PRRD' %}
                    {% set summaryRows = (summaryRows.push(
                        {
                            key: {
                                text: "Status"
                            },
                            value: {
                                html: recallStatusHtml
                            }
                        }
                    ), summaryRows) %}
                {% endif %}

                {% set summaryRows = (summaryRows.push(
                    {
                        key: {
                            text: "Release date"
                        },
                        value: {
                            text: licence.licenceStartDate | datetimeToDateWithDay
                        },
                        actions: {
                            items: [{
                                href: "#",
                                html: nomisBadge
                            }]
                        }
                    }
                ), summaryRows) %}

                {{ govukSummaryList({
                    rows: summaryRows
                }) }}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: 'Continue and create licence',
                        type: 'submit',
                        name: 'answer',
                        value: 'Yes',
                        preventDoubleClick: true,
                        attributes: {
                            'data-qa': 'continue'
                        }
                    }) }}

                    {{ govukButton({
                        text: 'Return to case list',
                        href: backLink,
                        classes: "govuk-button--secondary"
                    }) }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
