{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Create a licence - Confirmation" %}
{% set pageId = "confirmation-page" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
              titleText: titleText
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body" id="sent-to">
                {{ confirmationMessage }}
            </p>
            <p class="govuk-body">
                They will contact you if they need more information.
            </p>

            <h2 class="govuk-heading-m">If you need to make any changes</h2>
            <p class="govuk-body">
                You can do so up to 2 days before a standard release. From this point, you can only ask the prison to change the initial appointment details. Other changes must be made after release.
                <br>
                You can continue to work on licences for people being released early after the 2-day point. 
            </p>

            <h2 class="govuk-heading-m">Give us your feedback</h2>
            <p class="govuk-body">
                <a href="{{ exitSurveyLink }}" rel="noreferrer noopener" target="_blank" id="exit-survey" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
            </p>

            <p class="govuk-body">
            {{ govukButton({
                text: "Return to caselist",
                classes: "govuk-button--primary govuk-!-margin-bottom-0 govuk-body",
                href: backLink,
                attributes: { 'data-qa': 'return-to-caselist' }
            }) }}
            </p>
        </div>
    </div>
{% endblock %}
