{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageId = "confirmation-page-notify-omu-reminder" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-m">Tell the OMU about licence changes you have made</h1>

            <p class="govuk-body">
                Once you have sent this licence for reapproval, you must contact the OMU at {{ licence.prisonDescription }} directly
                to notify them of any changes you have made.
            </p>

            <p class="govuk-body">
                This is to ensure they know to print the new licence when it is approved.
            </p>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="lateVariationConfirmation" value="yes">
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Send to prison for reapproval",
                        attributes: { 'data-qa': 'confirm-licence-conditions' }
                    }) }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
