{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Create a licence - Confirmation" %}
{% set pageId = "confirmation-page" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
              titleText: titleText
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body" id="sent-to">
                {{ confirmationMessage }}
            </p>
            <p class="govuk-body">
                They will contact you if they need more information.
            </p>

            <h2 class="govuk-heading-m">If you need to make any changes</h2>
            {% if kind == "HDC" %}
                <p class="govuk-body" id="message">
                    You can make changes to reporting instructions through the Create and vary a licence service. These changes do not need to be reapproved by the prison, but a case administrator may need to reprint the licence.
                <p>
                {% if hdcEnabled %}
                    <p class="govuk-body" id="change-message">
                        To request a change to the curfew address or first night curfew hours, email createandvaryalicence@digital.justice.gov.uk.
                    </p>
                {% else %}
                    <p class="govuk-body" id="change-message">
                        To change the curfew address, curfew hours or first night curfew hours email createandvaryalicence@digital.justice.gov.uk.
                    </p>
                {% endif %}
            {% else %}
                <p class="govuk-body" id="message">
                    You can do so up to 2 days before a standard release. From this point, you can only ask the prison to change the initial appointment details. Other changes must be made after release.
                </p>
                <p class="govuk-body" id="continue-message">
                    You can continue to work on licences for people being released early after the 2-day point.
                </p>
            {% endif %}
            {{ govukButton({
                text: "Return to case list",
                classes: "govuk-button--primary",
                href: backLink,
                attributes: { 'data-qa': 'return-to-caselist' }
            }) }}

            {% if kind == 'PRRD' %}
                <hr class="help-improve-service-divider">
                <h2 class="improve-service-header govuk-heading-m govuk-!-margin-top-6">
                    Help improve this service
                </h2>
                <p class="govuk-body">
                    Fixed-term recalls are new to this service. Your feedback will help make it better. To give feedback you can:
                </p>
                <ul class="govuk-list govuk-list--bullet improve-service-link-list">
                    <li><a href="https://www.smartsurvey.co.uk/s/6BNZ8C" target="_blank" class="govuk-link--no-visited-state">complete a short survey</a></li>
                    <li><a href="{{serviceNowUrl}}" target="_blank" class="govuk-link--no-visited-state">report a specific problem</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
