{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Create a licence - You cannot create this person's licence yet" %}
{% set pageId = "create-from-27-july-page" %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="govuk-grid-row govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You cannot create this person's licence yet</h1>
        <p class="govuk-body">You cannot currently create a licence for anyone being released on or after 2 September 2026.</p>
        <p class="govuk-body">This is because the implementation of the progression model has been paused.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">As soon as you can create licences for people being released on or after 2 September, we will display a banner on the screen you see when you first enter this service.</p>

        <div class="govuk-button-group" id="button-group">
            {{ govukButton({
                text: "Return to cases",
                classes: "govuk-button--secondary govuk-!-margin-top-3 js-backlink",
                href: '/licence/create/caseload',
                attributes: { 'data-qa': 'return-to-cases' }
            }) }}
        </div>
    </div>
{% endblock %}
