{% extends "layout.njk" %}

{#
  Passed into to this template:
  - formResponses - is an object containing entered values (validation failed) for inductionDate, inductionTime
  - formDate - is an object containing the current values from the API (if any) for inductionDate, inductionTime
#}

{% from "partials/hdc/hdcInitialMeetingTimeInputs.njk" import hdcInitialMeetingTimeInputs %}
{% from "partials/initialMeetingTimeInputs.njk" import initialMeetingTimeInputs %}



{% set pageTitle = applicationName + " - Create a licence - When is the initial appointment?" %}
{% set pageId = "appointment-time-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/initial-meeting-contact" %}

{% block content %}
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {% call govukFieldset({
                    legend: {
                        text: "When does this person need to go to their initial appointment?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                }) %}
                    {% if licence.kind == "HDC"%}
                        {{ hdcInitialMeetingTimeInputs(formResponses, formDate, validationErrors) }}
                    {% else %}
                        {% if licence.isEligibleForEarlyRelease %}
                            {{ govukWarningText({
                                html: "This person is eligible for Friday or pre-bank holiday release scheme. It may impact their initial appointment.",
                                iconFallbackText: "Warning"
                            }) }}
                        {% endif %}

                        {{ initialMeetingTimeInputs(formResponses, formDate, licence, appointmentTimeType, validationErrors) }}
                    {% endif %}
                {% endcall %}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: continueOrSave,
                        type: "submit",
                        attributes: { 'data-qa': 'continue' }
                    }) }}
                    {% if (canSkip)%}
                        {{ govukButton({
                            text: 'Skip this for now',
                            href: skipUrl,
                            classes: "govuk-button--secondary",
                            attributes: { 'data-qa': 'skip' }
                        }) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block pageScripts %}
   <script src="/assets/js/datepicker.js"></script>
{% endblock %}

