{% extends "layout.njk" %}

{#
  Passed into to this template:
  - formResponses - is an object containing entered values (validation failed) for inductionDate, inductionTime
  - formDate - is an object containing the current values from the API (if any) for inductionDate, inductionTime
#}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/timePicker.njk" import timePicker %}
{% from "../../partials/datePicker.njk" import datePicker %}

{% set pageTitle = applicationName + " - Create a licence - Induction meeting" %}
{% set pageId = "appointment-time-page" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">When does {{ licence.forename }} {{ licence.surname }} need to go to their induction appointment?</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ datePicker({
                    id: "inductionDate",
                    hint: {
                        text: "For example, 12 11 2022"
                    },
                    errorMessage: validationErrors | findError('inductionDate'),
                    formResponses: formDate | fillFormResponse(formResponses)
                }) }}

                {{ timePicker({
                    id: "inductionTime",
                    label: {
                        text: "Time"
                    },
                    hint: {
                        text: "For example, 9:30am or 2:55pm"
                    },
                    errorMessage: validationErrors | findError('inductionTime'),
                    formResponses: formDate | fillFormResponse(formResponses)
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
