{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/timePicker.njk" import timePicker %}
{% from "../../partials/datePicker.njk" import datePicker %}

{% set pageTitle = applicationName + " - Create a licence - Induction meeting" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">When does {{ offender.name }} need to go to their induction appointment?</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ datePicker({
                    id: "inductionDate",
                    hint: {
                        text: "For example, 12 11 2022"
                    },
                    errorMessage: validationErrors | findError('inductionDate'),
                    formResponses: formResponses
                }) }}

                {{ timePicker({
                    id: "inductionTime",
                    label: {
                        text: "Time"
                    },
                    hint: {
                        text: "For example, 9:30am or 2:55pm"
                    },
                    errorMessage: validationErrors | findError('inductionTime'),
                    formResponses: formResponses
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit"
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
