{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create a licence - Initial meeting" %}
{% set pageId = "appointment-person-page" %}
{% set backLinkHref = "/licence/create/caseload" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Who is the initial appointment with?</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukInput({
                    id: "contactName",
                    name: "contactName",
                    label: {
                        text: "contact name",
                        classes: "govuk-visually-hidden"
                    },
                    classes: "govuk-!-width-one-third",
                    errorMessage: validationErrors | findError('contactName'),
                    value: licence.appointmentPerson | fillFormResponse(formResponses.contactName)
                }) }}

                {{ govukButton({
                    text: continueOrReturnToCheckAnswers,
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
