{% extends "layout.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create a licence - Who is the initial appointment with?" %}
{% set pageId = "appointment-person-page" %}
{% set backLinkHref = "/licence/create/caseload" %}

{% set contactName = licence.appointmentPerson | fillFormResponse(formResponses.contactName) %}
{% set errorMessage = validationErrors | findError('contactName') %}
{% set isError = errorMessage.text %}

{% block content %}
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name = "appointmentPersonType" value="SPECIFIC_PERSON">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group {{ "govuk-form-group--error" if isError }}">
                    
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="contactName"> 
                            Who is the initial appointment with? 
                        </label> 
                    </h1> 

                    {% if licence.isEligibleForEarlyRelease and not licence.kind == "HDC" %}
                        {{ govukWarningText({
                            html: "This person is eligible for an earlier release. It may affect their initial appointment. Find more information <br> in the <a class='govuk-link' rel='noreferrer noopener' target='_blank' href="+ fridayReleasePolicy +">Friday or pre-bank holiday release policy framework (opens in new tab).</a>",
                            iconFallbackText: "Warning"
                        }) }}
                    {% endif %}
                    
                    {% if isError %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ errorMessage.text }}
                        </p>
                    {% endif %}

                    <input 
                        class="govuk-input govuk-!-width-one-third {{ "govuk-input--error" if isError }}" 
                        id="contactName" 
                        name="contactName" 
                        type="text"
                        value="{{ contactName }}"
                        aria-describedby="contactName"
                        >  
                </div>

                {{ govukButton({
                    text: continueOrSave,
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
