{% extends "layout.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create a licence - Where is the initial appointment?" %}
{% set pageId = "appointment-place-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/initial-meeting-name" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Where is the initial appointment?</h1>
        </div>
    </div>
    {% if postcodeLookupEnabled %}
        {% include "pages/create/postcodeLookupForm.njk" %}
    {% else %}
        {% include "pages/create/manualAddressForm.njk" %}
    {% endif %}
{% endblock %}
