{% extends "layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}

{% set pageTitle = applicationName + " - Create licence - Licence has been created by prison" %}
{% set backLinkHref = backLink %}
{% set contactForChangeText = "To request a change to this person’s appointment, contact " + licence.prisonDescription + " at " + omuEmail + "." %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Licence has been created by prison</h1>

            <p class="govuk-body">
                A licence for this person has been created by the prison because you did not get one approved in time for their final release checks.
            </p>
            <p class="govuk-body">
                Once this person is released, you will need to review this licence and make any changes you require.
            </p>
            
            {{ inductionMeetingDetails(licence, isInProgress, validationErrors, contactForChangeText) }}

            <h1 class="govuk-heading-m">Licence conditions</h2>
            {{ standardLicenceConditions() }}
            <p class="govuk-body">The prison <strong>cannot</strong>  add any other additional or bespoke conditions.</p>
            <p class="govuk-body">If you need to add any additional or bespoke licence conditions, you can do so after release.</p>
            <p class="govuk-body">
                {{ govukButton({
                    text: "Return to caselist",
                    classes: "govuk-!-margin-bottom-0 govuk-body",
                    href: backLink,
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}
            </p>
        </div>
    </div>
{% endblock %}
