{% extends "layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "pages/immediateReleaseConditions.njk" import immediateReleaseConditions %}

{% set pageTitle = applicationName + " - Create licence - Licence has been created by prison" %}
{% set backLinkHref = backLink %}
{% set contactForChangeText = "To request a change to this person’s appointment, contact " + licence.prisonDescription + " at " + omuEmail + "." %}
{% set pageId = "hard-stop-licence-page"%}
{% set isPrintable = licence.statusCode === "APPROVED" %}

{% set printPdfLink = "/licence/view/id/"+ licence.id + "/pdf-print" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Licence has been created by prison</h1>

            {% if licence.kind == 'TIME_SERVED' %}
                <p class="govuk-body">A licence for this person has been created by the prison because they are being released immediately following sentencing having served time on remand.</p>
            {% else %}
                <p class="govuk-body">A licence for this person has been created by the prison because none was submitted in time for their final release checks.</p>
            {% endif %}
            <p class="govuk-body">
                Once this person is released, you will need to review this licence and make any changes you require.
            </p>
            
            {{ inductionMeetingDetails(licence, isInProgress, validationErrors, contactForChangeText) }}

            <h1 class="govuk-heading-m">Licence conditions</h2>
            {{ immediateReleaseConditions(licence.typeCode) }}
            <p class="govuk-body">The prison <strong>cannot</strong>  add any other additional or bespoke conditions.</p>
            <p class="govuk-body">If you need to add any additional or bespoke licence conditions, you can do so after release.</p>
            <p class="govuk-body">
                {% if isPrintable %}
                    {{ govukButton({
                        text: 'View and print licence PDF',
                        id: 'print-licence-pdf',
                        classes: 'govuk-button--primary govuk-!-margin-right-1',
                        href: printPdfLink,
                        attributes: { 'data-qa': 'print-licence', 'target': '_blank' }
                    }) }}
                {% endif %}
                {{ govukButton({
                    text: 'Return to case list',
                    classes: 'govuk-button--secondary' if isPrintable,
                    href: backLink,
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}
            </p>
        </div>
    </div>
{% endblock %}
