{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - No address found" %}
{% set backLinkHref = "/" %}¡

{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                No address found
            </h1>
            <p class="govuk-body">
                We could not find an address that matches <strong>{{ postcode }}</strong>.<br>You can search again or enter the address manually.
            </p>
            <div>
                <a data-qa="searchAgain" class="govuk-link govuk-link--no-visited-state" href="{{ postcodeLookupSearchUrl }}">Search again</a>
            </div>
            <div class="govuk-!-margin-top-3">
                <a data-qa="enterAddressManually" class="govuk-link govuk-link--no-visited-state" href="#">Enter address manually</a>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
