{% extends "layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "pages/immediateReleaseConditions.njk" import immediateReleaseConditions %}

{% set pageTitle = applicationName + " - Create licence - Prison will create this licence" %}
{% set backLinkHref = backLink %}
{% set pageId = "prison-will-create-licence-page" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Prison will create this licence</h1>

            <p class="govuk-body">
                {% if licence.hardStopKind == 'TIME_SERVED' %}
                    The prison will create this person's licence because they are being released immediately following sentencing having served time on remand.
                {% else %}
                    The prison will create a licence for this person as none was submitted in time for their final release checks.
                {% endif %}
            </p>
            <p class="govuk-body" id="licence-review-warning">
                This licence must be reviewed after this person is released.
            </p>

            <h1 class="govuk-heading-m">Initial appointment</h2>
            <ul class="govuk-body">
                <li>The prison can tell this person to report immediately after release or by 2pm the next working day</li>
                <li>Or they can set a specific date and time, for example if you request this by contacting {{omuEmail}}</li>
            </ul>
            <h1 class="govuk-heading-m">Licence conditions</h2>
            {{ immediateReleaseConditions(licenceType) }}
            <p class="govuk-body">The prison <strong>cannot</strong>  add any other additional or bespoke conditions.</p>
            <p class="govuk-body">If you need to add any additional or bespoke licence conditions, you can do so after release.</p>
            <p class="govuk-body">
                {{ govukButton({
                    text: "Return to case list",
                    classes: "govuk-!-margin-bottom-0 govuk-body",
                    href: backLink,
                    attributes: { 'data-qa': 'return-to-caselist' }
                }) }}
            </p>
        </div>
    </div>
{% endblock %}
