{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - approval cases" %}
{% set pageId = "approval-cases-page" %}
{% set backLinkHref = "/" %}
{% set noJsBackLink = true %}

{% set licences = [] %}

{% for case in cases %}
    {% set licences = (licences.push([
        {
            attributes: {
                id: 'name-' + loop.index,
                "data-sort-value": case.name
            },
            html: '<a href="/licence/approve/id/' + case.licenceId + '/view" class="govuk-link govuk-heading-s">' + case.name + '</a>'
        },
        {
            attributes: {
                id: 'nomis-id-' + loop.index,
                "data-sort-value": case.prisonNumber
            },
            text: case.prisonNumber
        },
        {
            attributes: {
                id: 'com-' + loop.index,
                "data-sort-value": case.probationPractitioner
            },
            html: '<a href="/licence/approve/id/' + case.licenceId + '/probation-practitioner" class="govuk-link">' + case.probationPractitioner + '</a>'
        },
        {
            attributes: {
                id: 'release-date-' + loop.index,
                "data-sort-value": case.releaseDate | dateToUnix
            },
            text: case.releaseDate
        }
    ]), licences) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Select a person to approve licences and supervision orders</h1>
        </div>
    </div>

    <div class="moj-search govuk-!-margin-bottom-6">
        <form method="GET">
            <div class="govuk-form-group">
                <label class="govuk-visually-hidden" for="search">
                    Search for a case
                </label>
                <input class="govuk-input moj-search__input govuk-!-font-size-14" id="search" name="search" placeholder="You can search by name, prison number or probation practitioner" value="{{ search }}">
            </div>
            <button class="govuk-button moj-search__button" data-module="govuk-button">
                Search
            </button>
        </form>
    </div>

    {% if cases.length > 0 %}
        {{ govukTable({
            attributes: {
                'data-module': 'moj-sortable-table'
            },
            caption: "Cases for approval",
            captionClasses: "govuk-visually-hidden",
            head: [
                {
                    text: "Name",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Prison number",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Probation practitioner",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Release date",
                    attributes: {
                        "aria-sort": "ascending"
                    }
                }
            ],
            rows: licences
        }) }}
    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h3 class="govuk-heading-s">There are no licences pending approval which match the search criteria.</h3>
            </div>
        </div>
    {% endif %}
{% endblock %}
