{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - licence approved" %}
{% set pageId = "confirm-approve-page" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-thirds">
            {{ govukPanel({
                titleText: titleText
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">
                {{ confirmationMessage | striptags(true) | escape | nl2br }}
            </p>

            <h2 class="govuk-heading-m">If further changes are made</h2>
            <p class="govuk-body">
                {% if hardStopEnabled %}
                    Probation practitioners can make changes up to 2 days before a standard release. After this, they can only ask the prison to change the initial appointment details. 
                    Other changes must be made after release. Probation practitioners can continue to work on licences for people being released early after the 2-day point.
                {% else %}
                    The community probation practitioner will submit another approval request. It will appear in your caselist.
                {% endif %}
            </p>

            <p class="govuk-body">
                {{ govukButton({
                    text: "Approve another licence",
                    classes: "govuk-button--primary govuk-!-margin-bottom-0 govuk-body",
                    href: '/licence/approve/cases',
                    attributes: { 'data-qa': 'return-to-case-list' }
                }) }}
            </p>
        </div>
        <br>
        <br>
        <p class="govuk-body">
            <a href="{{ exitSurveyLink }}" rel="noreferrer noopener" target="_blank" id="exit-survey" class="govuk-link">What did you think of this service?</a> (Takes 30 seconds – opens in a new tab)
        </p>
    </div>
{% endblock %}
