{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - licence approved" %}
{% set pageId = "confirm-approve-page" %}
{% set hideLicenceBanner = true %}

{% block content %}

    {% set isTimeServed = (licence.kind == "TIME_SERVED") %}

    {% set timeServedBannerMessage %}
        {% if isTimeServed %}
            Check a case administrator has contacted the probation team
        {% endif %}
    {% endset %}

    {% set emailMessage %}
        {% if isTimeServed %}
            Check a case administrator has notified the probation team that this licence has been generated.
            We do not have their contact details to do this automatically.
        {% elseif isComEmailAvailable %}
            We will email the probation practitioner automatically to tell them this licence has been approved.
        {% else %}
            A case administrator still needs to notify the probation team that this licence has been approved.
            We do not have their contact details to do this automatically.
        {% endif %}
    {% endset %}


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div data-qa="approval-title-panel">
                {{ govukPanel({
                    titleText: titleText,
                    html: timeServedBannerMessage
                }) }}
            </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body govuk-!-margin-bottom-6">
                {{ confirmationMessage }}
            </p>

            <p class="govuk-body govuk-!-margin-bottom-6" data-qa="email-message-text">
                {{ emailMessage }}
            </p>

            <h2 class="govuk-heading-m">If changes are made</h2>
            {% if licence.kind === 'HDC' %}
                <p class="govuk-body">
                    You'll need to reapprove the licence if changes are made to the HDC curfew details or licence conditions.
                </p>
                <p class="govuk-body">
                    Probation practitioners can update the reporting instructions. You do not need to approve those changes, but a case administrator might need to reprint the licence.
                </p>
            {% else %}
                <p class="govuk-body" data-qa="licence-change-message">
                    Probation practitioners can make changes up to 2 days before release.
                    After this, they can only ask the prison to change initial appointment details. Other changes must be made after release.
                </p>
            {% endif %}

            <p class="govuk-body">
                {{ govukButton({
                    text: "Approve another licence",
                    classes: "govuk-button--primary govuk-!-margin-bottom-0 govuk-body",
                    href: '/licence/approve/cases',
                    attributes: { 'data-qa': 'return-to-case-list' }
                }) }}
            </p>
        </div>
    </div>
{% endblock %}
