{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "pages/selectedAppointmentPerson.njk" import selectedAppointmentPerson %}
{% from "partials/getFormattedAddress.njk" import getFormattedAddress %}

{% macro InitialAppointment(licence) %}
    {{ govukSummaryList({
        attributes: { id: 'initial-appointment-details' },
        rows: [
            {
                key: { text: "Appointment with" },
                value: { text: selectedAppointmentPerson(licence) }
            },
            {
                key: { text: "Address" },
                value: { text: getFormattedAddress(licence) }
            },
            {
                key: { text: "Date/time", id: "date-time" },
                value: { text: licence.appointmentTimeType | getAppointmentTimeTypeDescription }
            } if licence.appointmentTimeType !== 'SPECIFIC_DATE_TIME',
            {
                key: { text: "Date", id: "date" },
                id: "date",
                value: { text: licence.appointmentTime | datetimeToDateShort }
            } if licence.appointmentTimeType === 'SPECIFIC_DATE_TIME',
            {
                key: { text: "Time", id: "time" },
                value: { text: licence.appointmentTime | datetimeTo12HourTime }
            } if licence.appointmentTimeType === 'SPECIFIC_DATE_TIME'
        ]
    }) }}
{% endmacro %}
