{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro keyDates(licence, isDueForEarlyRelease) %}

    {% set releaseDate = licence.actualReleaseDate | datetimeToDateShort or licence.conditionalReleaseDate | datetimeToDateShort %}

    {% if isDueForEarlyRelease %}
        {% set releaseDateHtml = '<span class="urgent-highlight">' + releaseDate + '</span><span class="urgent-highlight urgent-highlight-message">Early release</span>' %}
    {% else %}
        {% set releaseDateHtml = '<p>' + releaseDate + '</p>' %}
    {% endif %}

    {% set dateRows = [
            {
                key: { text: "Release date" },
                value: { html: releaseDateHtml }
            }
        ]
     %}

     {% if licence.typeCode === 'AP_PSS' or licence.typeCode === 'AP' %}
        {% set dateRows = (dateRows.push(
                 {
                    key: { text: "Licence start date" },
                    value: { text: licence.licenceStartDate | datetimeToDateShort }
                },
                {
                    key: { text: "Licence expiry date" },
                    value: { text: licence.licenceExpiryDate | datetimeToDateShort }
                }
        ), dateRows) %}
    {% endif %}

    {% if licence.typeCode === 'AP_PSS' or licence.typeCode === 'PSS' %}
        {% set dateRows = (dateRows.push(
                {
                    key: { text: "Post sentence supervision order start date" },
                    value: { text: licence.topupSupervisionStartDate | datetimeToDateShort }
                },
                {
                    key: { text: "Post sentence supervision order end date" },
                    value: { text: licence.topupSupervisionExpiryDate | datetimeToDateShort }
                }
        ), dateRows) %}
    {% endif %}

    {{ govukSummaryList({
        attributes: { id: 'key-dates' },
        rows: dateRows
    }) }}

{% endmacro %}
