{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro keyDates(licence) %}

    {% set releaseDate = licence.licenceStartDate | datetimeToDate %}

    {% if licence.kind === 'HDC' %}
        {% set releaseDateHtml = '<span class="urgent-highlight">' + releaseDate + '</span><span class="urgent-highlight urgent-highlight-message">HDC release</span>' %}
    {% else %}
        {% set releaseDateHtml = '<p>' + releaseDate + '</p>' %}
    {% endif %}

    {% set releaseDateHeading = "Release date/HDC start date" if licence.kind === 'HDC' else "Release date" %}

    {% set dateRows = [
            {
                key: { text: releaseDateHeading, classes: "release-date-heading" },
                value: { html: releaseDateHtml }
            }
        ]
     %}

    {% if licence.kind === 'HDC' %}
        {% set dateRows = (dateRows.push(
                 {
                    key: { text: "HDC end date" },
                    value: { text: licence.homeDetentionCurfewEndDate | datetimeToDate, classes: "hdc-end-date" }
                },
                {
                    key: { text: "Conditional release date" },
                    value: { text: licence.conditionalReleaseDate | datetimeToDate, classes: "conditional-release-date" }
                }
        ), dateRows) %}
    {% endif %}

     {% if licence.typeCode === 'AP_PSS' or licence.typeCode === 'AP' %}
        {% set dateRows = (dateRows.push(
                 {
                    key: { text: "Licence start date" },
                    value: { text: licence.licenceStartDate | datetimeToDate }
                },
                {
                    key: { text: "Licence expiry date" },
                    value: { text: licence.licenceExpiryDate | datetimeToDate }
                }
        ), dateRows) %}
    {% endif %}

    {% if licence.typeCode === 'AP_PSS' or licence.typeCode === 'PSS' %}
        {% set dateRows = (dateRows.push(
                {
                    key: { text: "Post sentence supervision order start date" },
                    value: { text: licence.topupSupervisionStartDate | datetimeToDate }
                },
                {
                    key: { text: "Post sentence supervision order end date" },
                    value: { text: licence.topupSupervisionExpiryDate | datetimeToDate }
                }
        ), dateRows) %}
    {% endif %}

    {{ govukSummaryList({
        attributes: { id: 'key-dates' },
        rows: dateRows
    }) }}

{% endmacro %}
