{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - licence rejected" %}
{% set pageId = "confirm-reject-page" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Licence rejected for " + licence.forename + " " + licence.surname
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body" id="sent-to">
                We have sent a notification to probation that this licence has been rejected.
            </p>

            <p class="govuk-body">
                {{ govukButton({
                    text: "Return to case list",
                    classes: "govuk-button--primary govuk-!-margin-bottom-0 govuk-body",
                    href: '/licence/approve/cases',
                    attributes: { 'data-qa': 'return-to-case-list' }
                }) }}
            </p>
        </div>
    </div>
{% endblock %}
