{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "../../partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "../../partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "../../partials/bespokeConditionsSummary.njk" import bespokeConditions %}

{% set pageTitle = applicationName + " - Approve a licence" %}
{% set pageId = "approval-view-page" %}
{% set backLinkHref = "/licence/approve/cases" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if licence.typeCode === 'AP' %}
                <h1 class="govuk-heading-l">Approve licence</h1>
            {% elseif licence.typeCode === 'AP_PSS' %}
                <h1 class="govuk-heading-l">Approve licence and post sentence supervision order</h1>
            {% elseif licence.typeCode === 'PSS' %}
                <h1 class="govuk-heading-l">Approve post sentence supervision order</h1>
            {% else %}
                <h1 class="govuk-heading-l">Approve licence type {{ licence.typeCode }}</h1>
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            {{ inductionMeetingDetails(licence) }}

            {% if licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS' %}
                {{ additionalLicenceConditions(licence) }}
                {{ bespokeConditions(licence) }}
            {% endif %}
            {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
                {{ additionalPssConditions(licence) }}
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="licenceId" value="{{ licence.id }}">

                {{ govukButton({
                    text: "Approve licence",
                    classes: "govuk-button--primary",
                    type: "submit",
                    name: "result",
                    value: "approve",
                    attributes: { 'data-qa': 'approve-licence' }
                }) }}

                {#  Visually hidden for now so available to the integration but not shown on screen #}
                <button type="submit" name="result" value="reject" class="govuk-body link-button govuk-!-margin-top-2 govuk-visually-hidden" data-qa="reject-licence">
                    Reject and send back to probation
                </button>
            </form>
        </div>
    </div>
{% endblock %}
