{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "../../partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "../../partials/prisonerSummaryDetails.njk" import prisonerSummaryDetails %}
{% from "../../partials/keyDates.njk" import keyDates %}
{% from "../../partials/InitialAppointment.njk" import InitialAppointment %}
{% from "../../partials/ProbationPractitionerDetails.njk" import ProbationPractitionerDetails %}
{% from "../../partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "../../partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "../../partials/bespokeConditionsSummary.njk" import bespokeConditions %}

{% set pageTitle = applicationName + " - Approve a licence" %}
{% set pageId = "approval-view-page" %}
{% set backLinkHref = "/licence/approve/cases" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-column-two-thirds-from-desktop float-none">
        <div class="govuk-grid-row">
            {% if licence.typeCode === 'AP' %}
                <h1 class="govuk-heading-l" id="approve-licence-heading">Approve licence</h1>
            {% elseif licence.typeCode === 'AP_PSS' %}
                <h1 class="govuk-heading-l" id="approve-licence-and-pss-heading">Approve licence and post sentence supervision order</h1>
            {% elseif licence.typeCode === 'PSS' %}
                <h1 class="govuk-heading-l" id="approve-pss-heading">Approve post sentence supervision order</h1>
            {% else %}
                <h1 class="govuk-heading-l">Approve licence type {{ licence.typeCode }}</h1>
            {% endif %}
        </div>

        <div class="govuk-grid-row">
            <div class="prisoner-record-detail flex">
                <div class="govuk-grid-column-three-quarters">
                    {{ prisonerSummaryDetails(licence) }}
                </div>
                <div class="govuk-grid-column-one-quarter">
                    {% if imageData %}
                        <img src="data:image/jpeg;charset-utf8;base64,{{ imageData }}"
                                class="prisoner-image"
                                alt="{{ licence.lastName }}, {{ licence.firstName }}" 
                                data-qa="prisoner-image" 
                        />
                    {% else %}
                    <img src="/assets/images/image-missing.png"
                                class="prisoner-missing-image"
                                alt="{{ licence.lastName }}, {{ licence.firstName }}" 
                                data-qa="prisoner-missing-image" 
                        />
                    {% endif %}  
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <h2 class="govuk-heading-l">Review details</h2>

                {% set items = [
                        {
                            heading: {
                                text: "Key dates"
                            },
                            content: {
                                html: keyDates(licence)
                            },
                            expanded: true
                        }
                    ]
                %}

                {% if licence.typeCode === 'AP_PSS' or licence.typeCode === 'AP' %}
                    {% set items = (items.push(
                            {
                                heading: {
                                    text: "Additional licence conditions (" +  additionalConditions.length + ")"
                                },
                                content: {
                                        html:  
                                                additionalLicenceConditions(licence, additionalConditions, conditionsWithUploads, null, [], null, true) 
                                                if additionalConditions.length else
                                                "<p>No additional licence conditions added</p>"       
                                },
                                expanded: true
                            }, {
                                heading: {
                                    text: "Bespoke licence conditions (" +  licence.bespokeConditions.length + ")"
                                },
                                content: {
                                    html:
                                            bespokeConditions(licence, null, null, true)
                                        if licence.bespokeConditions.length else
                                        "<p>No bespoke licence conditions added</p>"
                                },
                                expanded: true
                            }
                    ), items) %}
                {% endif %}

                {% if licence.typeCode === 'AP_PSS' or licence.typeCode === 'PSS' %}
                    {% set items = (items.push(
                            {
                                heading: {
                                    text: "Additional post sentence supervision requirements (" +  licence.additionalPssConditions.length + ")",
                                    visuallyHiddenText: "test"
                                },
                                content: {
                                    html:
                                            additionalPssConditions(licence, null, [], null, true)
                                            if licence.additionalPssConditions.length else
                                            "<p>No additional post sentence supervision requirements added</p>"
                                },
                                expanded: true
                            }
                    ), items) %}
                {% endif %}

                {{
                    govukAccordion({
                        id: "review-details",
                        rememberExpanded: false,
                        items: items
                    })
                }}
        </div>
        <div class="govuk-grid-row">
            <h2 class="govuk-heading-l">View more information</h2>
            <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state" href="#">See this person’s full Digital Prison Services profile</a> 
                <br><br>
            </p>
            <div class="govuk-grid-column-full">
                {{ govukAccordion({
                    id: "view-more-information",
                    rememberExpanded: false,
                    items: [
                        {
                            heading: {
                                text: "Initial appointment"
                            },
                            content: {
                                html: InitialAppointment(licence)
                            }
                        }, {
                            heading: {
                                text: "Community probation practitioner details"
                            },
                            content: {
                                html: ProbationPractitionerDetails(staffDetails)
                            }
                        }
                    ]
                }) }}
            </div>    
        </div>

        <div class="govuk-grid-row">
            <h2 class="govuk-heading-l">Approve this licence</h2>
            <p>Contact the probation practitioner directly if you need more information about something.</p> 
        </div>
        <div class="govuk-grid-row govuk-button-group">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="licenceId" value="{{ licence.id }}">

                {{ govukButton({
                    text: "Approve",
                    classes: "govuk-button--primary",
                    type: "submit",
                    name: "result",
                    value: "approve",
                    attributes: { 'data-qa': 'approve-licence' }
                }) }}

                
                {{ govukButton({
                    text: "Return to case list",
                    classes: "govuk-button--secondary",
                    href: '/licence/approve/cases',
                    attributes: { 'data-qa': 'return-to-case-list' }
                }) }}

                {#  Visually hidden for now so available to the integration but not shown on screen #}
                <button type="submit" name="result" value="reject" class="govuk-body link-button govuk-!-margin-top-2 govuk-visually-hidden" data-qa="reject-licence">
                    Reject and send back to probation
                </button>
            </form>
        </div>
        
    </div>
{% endblock %}
