{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "../../partials/additionalConditionsSummary.njk" import additionalConditions %}
{% from "../../partials/bespokeConditionsSummary.njk" import bespokeConditions %}

{% set pageTitle = applicationName + " - Approve a licence" %}
{% set pageId = "view-approve-licence-page" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Approve a licence for {{ licence.forename }} {{ licence.surname }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            {{ inductionMeetingDetails(licence) }}

            {{ additionalConditions(licence) }}

            {{ bespokeConditions(licence) }}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <input type="hidden" name="licenceId" value="{{ licence.id }}">

                {{ govukButton({
                    text: "Approve licence",
                    classes: "govuk-button--primary",
                    type: "submit",
                    name: "result",
                    value: "approve",
                    attributes: { 'data-qa': 'approve-licence' }
                }) }}

                <button type="submit" name="result" value="reject" class="govuk-body link-button govuk-!-margin-top-2" data-qa="reject-licence">
                    Reject and send back to probation
                </button>
            </form>
        </div>
    </div>
{% endblock %}
