{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = applicationName + " - Create a licence - Additional Licence Conditions" %}
{% set pageId = "additional-licence-conditions-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/additional-licence-conditions-question" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Select additional licence conditions</h1>
            <p class="govuk-body">Select all relevant conditions</p>
        </div>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

                {% for group in additionalConditions %}
                    {% set items = [] %}
                    {% for condition in group.conditions %}
                        {% set items = (items.push({
                            id: condition.code,
                            value: condition.code,
                            text: condition.text,
                            checked: condition.code | additionalConditionChecked(licence.additionalLicenceConditions),
                            label: {
                                classes: 'govuk-!-padding-top-0'
                            }
                        }), items) %}
                    {% endfor %}

                    {{ govukCheckboxes({
                        name: "additionalConditions[]",
                        fieldset: {
                            legend: {
                                html: "<h2 class='govuk-heading-l govuk-!-margin-bottom-0 govuk-!-margin-top-6'>"+group.category+"</h2>",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--l"
                            }
                        },
                        items: items
                    }) }}
                {% endfor %}
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        type: "submit",
                        classes: 'govuk-!-margin-top-6',
                        attributes: { 'data-qa': 'continue' }
                    }) }}

                    <a class="govuk-link js-backlink" href={{ backLinkHref }}>Cancel</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
