{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Create a licence - What is the contact phone number for the initial appointment?" %}
{% set pageId = "appointment-contact-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/initial-meeting-place" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">What is the contact phone number for the initial appointment?</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-input--width-20">
                    {{ govukInput({
                        label: {
                            text: "UK phone number"
                        },
                        id: "telephone",
                        name: "telephone",
                        classes: "govuk-input--width-20",
                        errorMessage: validationErrors | findError('telephone'),
                        value: licence.appointmentTelephoneNumber | fillFormResponse(formResponses.telephone)
                    }) }}
                </div>
                <div class="govuk-input--width-20">
                    {{ govukInput({
                        label: {
                            text: "Alternative UK phone number (optional)"
                        },
                        id: "telephoneAlternative",
                        name: "telephoneAlternative",
                        classes: "govuk-input--width-20",
                        errorMessage: validationErrors | findError('telephoneAlternative'),
                        value: licence.appointmentAlternativeTelephoneNumber | fillFormResponse(formResponses.telephoneAlternative)
                    }) }}
                </div>
                {{ govukButton({
                    text: continueOrSave,
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
