{% extends "layout.njk" %}
{% from "partials/card.njk" import card %}

{% set pageTitle = applicationName + " - Support Home" %}
{% set backLinkHref = "/" %}

{% block content %}
    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Create and vary a licence support</h1>
            <div class="govuk-grid-row card-group">
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "href": "/support/offender-search",
                        "clickable": "true",
                        "heading": "Search an offender",
                        "description": "Search for an offender by prisoner number (NOMIS ID) or case reference number (CRN) to view their details."
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "href": "/support/manage-omu-email-address",
                        "clickable": "true",
                        "heading": "Manage OMU email address",
                        "description": "View, add, edit and delete OMU email addresses"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "href": "/support/prrd-cases/by-prison",
                        "clickable": "true",
                        "heading": "View PRRD cases",
                        "description": "View PRRD cases at a prison"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "href": "/support/time-served-cases/by-prison",
                        "clickable": "true",
                        "heading": "View Time Served cases",
                        "description": "View Time Served cases at a prison"
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third card-group__item">
                    {{ card({
                        "href": "/support/last-minute-handover-cases",
                        "clickable": "true",
                        "heading": "Upcoming Releases with Incomplete Licences",
                        "description": "View & dowload data for upcoming releases with incomplete licences"
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/card.js"></script>
{% endblock %}
