{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Tag a source Report" %}
{% set pageId = "last-minute-handover-cases-page" %}
{% set backLinkHref = "/support" %}
{% set noJsBackLink = true %}

{% set cases = [] %}

{% for lastMinuteCase in lastMinuteCases %}
    {% set cases = (cases.push([
        {
            attributes: {
            id: 'probation-region-' + loop.index,
            "data-sort-value": lastMinuteCase.probationRegion
        },
            text: lastMinuteCase.probationRegion
        },
        {
            attributes: {
            id: 'prion-code-' + loop.index,
            "data-sort-value": lastMinuteCase.prisonCode
        },
            text: lastMinuteCase.prisonCode
        },
        {
            attributes: {
            id: 'release-date-' + loop.index,
            "data-sort-value": lastMinuteCase.releaseDate
        },
            text: lastMinuteCase.releaseDate
        },
        {
            attributes: {
            id: 'status-' + loop.index,
            "data-sort-value": lastMinuteCase.status
        },
            text: lastMinuteCase.status
        },
        {
            attributes: {
            id: 'probation-practitioner-' + loop.index,
            "data-sort-value": lastMinuteCase.probationPractitioner
        },
            text: lastMinuteCase.probationPractitioner
        },
        {
            attributes: {
            id: 'prisoner-number' + loop.index,
            "data-sort-value": lastMinuteCase.prisonerNumber
        },
            html: lastMinuteCase.prisonerNumber
        },
        {
            attributes: {
            id: 'crn-' + loop.index,
            "data-sort-value": lastMinuteCase.crn
        },
            html: lastMinuteCase.crn
        },
        {
            attributes: {
            id: 'prisoner-name-' + loop.index,
            "data-sort-value": lastMinuteCase.prisonerName
        },
            classes: "min-width-300",
            text: lastMinuteCase.prisonerName
        }
    ]), cases) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Tag a Source Report</h1>
                <div class="govuk-button-group">
                {{ govukButton({
                    text: "Download CSV",
                    href: "/support/last-minute-handover-cases/download-csv",
                    classes: "govuk-button--secondary"
                }) }}
                </div>
        </div>
    </div>
    {% if lastMinuteCases.length > 0 %}
        {{ govukTable({
            attributes: {
                'data-module': 'moj-sortable-table'
            },
            caption: "Caseload",
            captionClasses: "govuk-visually-hidden",
            head: [
                {
                    text: "Probation region",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Prison code",
                    attributes: {
                        "aria-sort": "none"
                     }
                },
                {
                    text: "Release date",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Licence status",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Probation practitioner",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Prison number",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "CRN",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Prisoner name",
                    attributes: {
                        "aria-sort": "none"
                    }
                }
            ],
            rows: cases
        }) }}

    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-s">There are no last minute cases.</h2>
            </div>
        </div>
    {% endif %}

{% endblock %}
