{% extends "layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "../../partials/datePicker.njk" import datePicker %}

{% set pageTitle = applicationName + " - licence dates" %}
{% set backLinkHref = "/support/offender-search" %}

{% block content %}

    <div class="govuk-width-container">
        <span class="govuk-caption-xl"> Licence Id {{ licence.id }}</span>
        <h1 class="govuk-heading-l">Override Licence Dates</h1>
        <p>
            Use care when manually updating the dates for a licence. You should only override the dates when
            there's an edge case CVL cannot account for.
        </p>
        <P>
            Please enter a reason for overriding the licence dates. The reason will be visible in the audit log against
            the current licence.
        </P>
    </div>

    <hr/>
    <br/>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <h2 class="govuk-heading-m">Licence kind</h2>
        {{ govukSelect({
            id: "updatedKind",
            name: "updatedKind",
            items: [
                {
                    value: "CRD",
                    text: "CRD",
                    selected: licence.kind == 'CRD'
                },
                {
                    value: "PRRD",
                    text: "PRRD",
                    selected: licence.kind == 'PRRD'
                }
            ],
            errorMessage : validationErrors | findError('updatedKind')
        }) }}

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Licence dates</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date</th>
                  <th scope="col" class="govuk-table__header">Current licence date</th>
                  <th scope="col" class="govuk-table__header">New licence date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Conditional release date</th>
                    <td class="govuk-table__cell">
                        {% if licence.conditionalReleaseDate %}
                            {{ licence.conditionalReleaseDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "crd",
                            errorMessage: validationErrors | findError('crd'),
                            formResponses: formResponses.crd or licenceDates.crd
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Confirmed release date</th>
                    <td class="govuk-table__cell">
                        {% if licence.actualReleaseDate %}
                            {{ licence.actualReleaseDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "ard",
                            errorMessage: validationErrors | findError('ard'),
                            formResponses: formResponses.ard or licenceDates.ard
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sentence start date</th>
                    <td class="govuk-table__cell">
                        {% if licence.sentenceStartDate %}
                            {{ licence.sentenceStartDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "ssd",
                            errorMessage: validationErrors | findError('ssd'),
                            formResponses: formResponses.ssd or licenceDates.ssd
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sentence end date</th>
                    <td class="govuk-table__cell">
                        {% if licence.sentenceEndDate %}
                            {{ licence.sentenceEndDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "sed",
                            errorMessage: validationErrors | findError('sed'),
                            formResponses: formResponses.sed or licenceDates.sed
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Licence start date</th>
                    <td class="govuk-table__cell">
                        {% if licence.licenceStartDate %}
                            {{ licence.licenceStartDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Licence expiry date</th>
                    <td class="govuk-table__cell">
                        {% if licence.licenceExpiryDate %}
                            {{ licence.licenceExpiryDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "led",
                            errorMessage: validationErrors | findError('led'),
                            formResponses: formResponses.led or licenceDates.led
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Top-up supervision start date</th>
                    <td class="govuk-table__cell">
                        {% if licence.topupSupervisionStartDate %}
                            {{ licence.topupSupervisionStartDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "tussd",
                            errorMessage: validationErrors | findError('tussd'),
                            formResponses: formResponses.tussd or licenceDates.tussd
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Top-up supervision expiry date</th>
                    <td class="govuk-table__cell">
                        {% if licence.topupSupervisionExpiryDate %}
                            {{ licence.topupSupervisionExpiryDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "tused",
                            errorMessage: validationErrors | findError('tused'),
                            formResponses: formResponses.tused or licenceDates.tused
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Post recall release date</th>
                    <td class="govuk-table__cell">
                        {% if licence.postRecallReleaseDate %}
                            {{ licence.postRecallReleaseDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "prrd",
                            errorMessage: validationErrors | findError('prrd'),
                            formResponses: formResponses.prrd or licenceDates.prrd
                        }) }}JGA
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Home detention curfew actual date</th>
                    <td class="govuk-table__cell">
                        {% if licence.homeDetentionCurfewActualDate %}
                            {{ licence.homeDetentionCurfewActualDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "hdcad",
                            errorMessage: validationErrors | findError('hdcad'),
                            formResponses: formResponses.hdcad or licenceDates.hdcad
                        }) }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Home detention curfew end date</th>
                    <td class="govuk-table__cell">
                        {% if licence.homeDetentionCurfewEndDate %}
                            {{ licence.homeDetentionCurfewEndDate | datetimeToDate }}
                        {% else %}
                            Not found
                        {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                        {{ datePicker({
                            id: "hdcEndDate",
                            errorMessage: validationErrors | findError('hdcEndDate'),
                            formResponses: formResponses.hdcEndDate or licenceDates.hdcEndDate
                        }) }}
                    </td>
                </tr>
            </tbody>
        </table>

        {{ govukCharacterCount({
            name: "dateChangeReason",
            id: "dateChangeReason",
            value: dateChangeReason,
            maxlength: 200,
            rows: 3,
            label: {
                text: "Reason for dates change",
                classes: "govuk-label--m",
                isPageHeading: true
            },
            hint: {
                text: "Enter a reason for overriding the licence dates"
            },
            errorMessage : validationErrors | findError('dateChangeReason')
        }) }}

        <div class="govuk-width-container">
            <div class="govuk-button-group">
                {{ govukButton({
                    classes: "govuk-button--primary",
                    text: "Submit",
                    preventDoubleClick: true,
                    attributes: {  'data-qa': 'search-prison' }
                }) }}

                {{ govukButton({
                    classes: "govuk-button--secondary",
                    text: "Cancel",
                    href: '/support/offender-search'
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
