{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/alert/macro.njk" import mojAlert %}

{% set pageTitle = applicationName + " - prisoner detail" %}
{% set backLinkHref = "/support/offender-search" %}
{% set hideLicenceBanner = true %}

{% set redirectPath = "/prisoner/" + prisonerDetail.prisonerNumber %}
{% set returnPath = "/support/offender/" + prisonerDetail.prisonerNumber + "/detail" %}
{% set dpsBackLink = dpsUrl+ "/save-backlink?service=" + serviceName + "&returnPath=" + returnPath + "&redirectPath=" + redirectPath %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if not prisonerDetail.crn %}
                {{ mojAlert({
                    variant: "warning",
                    dismissible: false,
                    text: "No Delius record found linked to this NOMIS ID"
                }) }}
            {% endif %}
            <div class="govuk-width-container">
                <span class="govuk-caption-xl">{{ prisonerDetail.name }}</span>
                <h1 class="govuk-heading-xl">Offender detail</h1>
            </div>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Offender</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Name</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.name }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">DOB</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.dob }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">Prison number</th>
                        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="{{dpsBackLink}}">{{ prisonerDetail.prisonerNumber }}</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">CRN</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.crn }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Location</th>
                        <td class="govuk-table__cell">
                          {% if prisonerDetail.prisonId %}
                            <a class="govuk-link--no-visited-state" href="/support/manage-omu-email-address/{{ prisonerDetail.prisonId }}">
                                {{ prisonerDetail.locationDescription }}
                            </a>
                          {% else %}
                            {{ prisonerDetail.locationDescription }}
                          {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{ govukButton({
        text: "View licences",
        href: '/support/offender/' + prisonerDetail.prisonerNumber + '/licences'
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Probation practitioner</caption>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Name</th>
                    <td class="govuk-table__cell">{{ probationPractitioner.name | default('') }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email</th>
                    <td class="govuk-table__cell">{{ probationPractitioner.email | default('') }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Telephone</th>
                    <td class="govuk-table__cell">{{ probationPractitioner.telephone | default('') }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">Team</th>
                    {% if probationPractitioner.team | length %}
                        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="/support/probation-teams/{{probationPractitioner.teamCode}}/caseload">{{ probationPractitioner.team }}</a></td>
                    {% else %}
                        {{ probationPractitioner.team | default('', true) }}
                    {% endif %}
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">LDU</th>
                    <td class="govuk-table__cell">{{ probationPractitioner.ldu | default('') }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">LAU</th>
                    <td class="govuk-table__cell">{{ probationPractitioner.lau | default('') }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">PDU</th>
                    <td class="govuk-table__cell">{{ probationPractitioner.pdu | default('') }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">Region</th>
                    <td class="govuk-table__cell">{{ probationPractitioner.region | default('') }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">Caseload</th>
                    {% if probationPractitioner.staffCode | length %}
                        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="/support/probation-practitioner/{{ probationPractitioner.staffCode }}/caseload">link</a></td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View COM details stored by Create and vary a licence
            </span>
        </summary>
        <div class="govuk-details__text">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Email</th>
                        <td class="govuk-table__cell">{{ cvlCom.email }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Username</th>
                        <td class="govuk-table__cell">{{ cvlCom.username }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Team</th>
                        <td class="govuk-table__cell">{{ cvlCom.team }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">LAU</th>
                        <td class="govuk-table__cell">{{ cvlCom.lau }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PDU</th>
                        <td class="govuk-table__cell">{{ cvlCom.pdu }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Region</th>
                        <td class="govuk-table__cell">{{ cvlCom.region }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Sentence details from NOMIS</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Legal status</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.legalStatus }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">CRD</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.conditionalReleaseDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">Confirmed release date</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.confirmedReleaseDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PRRD</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.postRecallReleaseDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">TUSED</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.tused }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">HDCED</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.hdced }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">HDCAD</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.hdcad }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">HDC end date</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.hdcEndDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">HDC status</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.hdcStatus }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">SED</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.sentenceExpiryDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">LED</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.licenceExpiryDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PED</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.paroleEligibilityDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">APD</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.actualParoleDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Determinate</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.determinate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Recall</th>
                        <td class="govuk-table__cell">{{ prisonerDetail.recall }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">IS-91</th>
                        <td class="govuk-table__cell">{{ is91Status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View dates stored by Create and vary a licence
        </span>
      </summary>
      <div class="govuk-details__text">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">CRD</th>
                        <td class="govuk-table__cell">{{ licence.crd }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Confirmed release date</th>
                        <td class="govuk-table__cell">{{ licence.ard }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence start date</th>
                        <td class="govuk-table__cell">{{ licence.ssd }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">SED</th>
                        <td class="govuk-table__cell">{{ licence.sed }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">LSD</th>
                        <td class="govuk-table__cell">{{ licence.lsd }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">LED</th>
                        <td class="govuk-table__cell">{{ licence.led }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">TUSSD</th>
                        <td class="govuk-table__cell">{{ licence.tussd }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">TUSED</th>
                        <td class="govuk-table__cell">{{ licence.tused }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">HDCAD</th>
                        <td class="govuk-table__cell">{{ licence.hdcad }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">HDC end date</th>
                        <td class="govuk-table__cell">{{ licence.hdcEndDate }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PRRD</th>
                        <td class="govuk-table__cell">{{ licence.prrd }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </details>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Hard stop details</caption>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Warning date</th>
                    <td class="govuk-table__cell">{{ prisonerDetail.hardStop.warningDate }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Cutoff date</th>
                    <td class="govuk-table__cell">{{ prisonerDetail.hardStop.cutoffDate }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Is in hardstop period?</th>
                    <td class="govuk-table__cell">{{ prisonerDetail.hardStop.isInHardStopPeriod }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Eligibility</caption>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Licence eligibility</th>
                      <td class="govuk-table__cell">{% if ineligibilityReasons.eligibleKind %} Eligible for {{ ineligibilityReasons.eligibleKind }} licence {% else %} Ineligible for CVL {% endif %}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">CRD ineligibility reasons</th>
                        <td class="govuk-table__cell">
                            {% if ineligibilityReasons.genericIneligibilityReasons.concat(ineligibilityReasons.crdIneligibilityReasons) | length %}
                                {% for reason in (ineligibilityReasons.genericIneligibilityReasons.concat(ineligibilityReasons.crdIneligibilityReasons)) %}
                                    <li>{{reason}}</li>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">PRRD ineligibility reasons</th>
                        <td class="govuk-table__cell">
                            {% if ineligibilityReasons.genericIneligibilityReasons.concat(ineligibilityReasons.prrdIneligibilityReasons) | length %}
                                {% for reason in (ineligibilityReasons.genericIneligibilityReasons.concat(ineligibilityReasons.prrdIneligibilityReasons)) %}
                                    <li>{{reason}}</li>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
    <div class="govuk-button-group">
        {{ govukButton({
            text: "Return to search",
            classes: 'js-backlink',
            href: '/support/offender-search'
        }) }}
        <a class="govuk-link" href="/">Create and vary a licence home</a>
    </div>

{% endblock %}
