{% extends "layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - licence type" %}
{% set backLinkHref = "/support/offender-search" %}
{% set cancelLinkHref = "/support/offender/"+ nomsId +"/licences" %}

{% block content %}
    <div class="govuk-width-container">
        <span class="govuk-caption-xl"> Licence Id: {{ licence.id }}</span>
        <h1 class="govuk-heading-l">Override Licence Type from: {{ licence.typeCode }}</h1>
        <p>
            Use case when manually updating the type for a licence. You should only override the status when
            there's an edge case CVL cannot account for.
        </p>
        <P>
            Please enter a reason for overriding the licence status. The reason will be visible in the audit log against
            the current licence.
        </P>
    </div>

    <hr/>
    <br/>

    {% set typeCodeError = ({ text: "You must select a new licence type" } if typeError else null)%}
    {% set reasonError = ({ text: "You must enter a reason" } if reasonError else null)%}

    {% set licenceTypes = [
        {
            value: null,
            text: 'select...'
        },
        {
            value: AP,
            text: 'AP'
        },
        {
            value: 'PSS',
            text: 'PSS'
        },
        {
            value: 'AP_PSS',
            text: 'AP_PSS'
        }
    ] %}


    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukSelect({
            id: "licenceType",
            name: "licenceType",
            label: {
                text: "New Licence Type"
            },
            items: licenceTypes,
            value: formResponses.licenceType,
            errorMessage: validationErrors | findError('licenceType')
        }) }}

        {{ govukCharacterCount({
            name: "reason",
            id: "reason",
            value: formResponses.reason,
            maxlength: 200,
            rows: 3,
            label: {
                text: "Reason for type change",
                classes: "govuk-label--m",
                isPageHeading: true
            },
            hint: {
                text: "Enter a reason for overriding the licence type"
            },
            errorMessage: validationErrors | findError('reason')
        }) }}

        <div class="govuk-width-container">
            <div class="govuk-button-group">
                {{ govukButton({
                    classes: "govuk-button--primary",
                    text: "Submit",
                    preventDoubleClick: true,
                    attributes: {  'data-qa': 'search-prison' }
                }) }}

                {{ govukButton({
                    classes: "govuk-button--secondary",
                    text: "Cancel",
                    href: cancelLinkHref
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
