{% extends "layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/licenceDescription.njk" import licenceDescription %}
{% from "partials/statusBadge.njk" import statusBadge %}

{% set pageTitle = applicationName + " - Support - Probationer Search" %}
{% set backLinkHref = "/support/probationerSearch" %}

{% macro offenderName(offenderName, crn, prisonerNumber, licenceId, isClickable, index) %}
    <div class="caseload-offender-name">
        {% set link = "/licence/create/id/" + licenceId + "/check-your-answers" if licenceId else "/licence/create/nomisId/" + prisonerNumber + "/confirm"%}
        {% if isClickable %}
            <a id="name-button-{{ index }}" href="{{ link }}" class="govuk-link govuk-heading-s govuk-!-padding-left-0 govuk-!-margin-bottom-0">{{ offenderName }}</a>
        {% else %}
            <span id="name-button-{{ index }}" class="govuk-heading-s govuk-!-padding-left-0 govuk-!-margin-bottom-0">{{ offenderName }}</span>
        {% endif %}
        <div class="govuk-hint govuk-!-font-size-16">CRN: {{ crn }}</div>
    </div>
{% endmacro %}

{% set offenders = [] %}

{% for offender in caseload %}

    {% if offender.probationPractitioner %}
        {% set comDetailsHtml = '<a class="govuk-link" href="/licence/create/probation-practitioner/staffCode/' + offender.probationPractitioner.staffCode + '">' + offender.probationPractitioner.name + '</a>' %}
    {% else %}
        {% set comDetailsHtml = 'Unallocated' %}
    {% endif %}

    {% set offenders = (offenders.push([
        {
            attributes: {
                "data-sort-value": offender.name
            },
            classes: "max-width max-width-220",
            html: '<a href="/support/offender/' + offender.prisonerNumber + '/detail" class="govuk-link govuk-heading-s govuk-!-padding-left-0 govuk-!-margin-bottom-0">' + offender.name + '</a>'
        },
        {
            attributes: {
                id: 'licence-type-' + loop.index,
                "data-sort-value": offender.prisonerNumber
            },
            text: offender.prisonerNumber
        },
        {
            attributes: {
                id: 'probation-practitioner-' + loop.index,
                "data-sort-value": offender.probationPractitioner.name
            },
            classes: "max-width max-width-200",
            text: offender.probationPractitioner.name
        },
        {
            attributes: {
                id: 'release-date-' + loop.index,
                "data-sort-value": offender.releaseDate | dateToUnix
            },
            text: offender.releaseDate
        },
        {
            attributes: {
                id: 'licence-status-' + loop.index,
                "data-sort-value": offender.licenceStatus | getStatusOrder
            },
            html: statusBadge({ status: offender.licenceStatus, size: 'small' }, statusConfig)
        }
    ]), offenders) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">{{user.userName}}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
        <h3 class="govuk-heading-xxl">Teams</h3>
            <ul class="govuk-list">
                {% for team in teams %}
                    <li>
                        <a class="govuk-link" href="/support/probationer-user-search/{{team.description}}/{{team.code}}/{{user.deliusStaffIdentifier}}">{{team.description}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="govuk-grid-row">
        {% if caseload.length > 0 %}
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukTable({
                attributes: {
                    'data-module': 'moj-sortable-table'
                },
                caption: "Caseload",
                captionClasses: "govuk-visually-hidden",
                head: [
                    {
                        text: "Name",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Prison number",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Probation practitioner",
                        attributes: {
                            "aria-sort": "none"
                        }
                    },
                    {
                        text: "Release date",
                        attributes: {
                            "aria-sort": "ascending"
                        }
                    },
                    {
                        text: "Status",
                        attributes: {
                            "aria-sort": "none"
                        }
                    }
                ],
                rows: offenders
            }) }}
        </form>
        {% else %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h3 class="govuk-heading-s">There are no offenders in your caseload who match the search criteria.</h3>
                </div>
            </div>
        {% endif %}
    </div>
    
{% endblock %}
