{% extends "layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = applicationName + " - PRRD cases by Prison" %}
{% set pageId = "prrd-case-by-prison-page" %}
{% set backLinkHref = "/support" %}
{% set noJsBackLink = true %}

{% macro offenderName(offenderName, nomisId, licenceId, index) %}
    <div class="caseload-offender-name">
        <a href="/support/offender/{{ nomisId }}/detail" id="name-link-{{ index }}"
           class="govuk-link govuk-heading-s govuk-!-padding-left-0 govuk-!-margin-bottom-0">{{ offenderName }}</a>
    </div>
{% endmacro %}

{% set licences = [] %}

{% for offender in caseload %}
    {% set licences = (licences.push([
        {
            attributes: {
                id: 'name-' + loop.index,
                "data-sort-value": offender.name
            },
            classes: "max-width max-width-220",
            html: offenderName(offender.name, offender.prisonerNumber, offender.licenceId, loop.index)
        },
        {
            attributes: {
                id: 'prison-number-' + loop.index,
                "data-sort-value": offender.prisonerNumber
            },
            html: offender.prisonerNumber
        },
        {
            attributes: {
                id: 'licence-status-' + loop.index,
                "data-sort-value": offender.licenceStatus
            },
            html: offender.licenceStatus
        },
        {
            attributes: {
                id: 'probation-practitioner-' + loop.index,
                "data-sort-value": offender.probationPractitioner
            },
            classes: "max-width max-width-200",
            text: offender.probationPractitioner
        },
        {
            attributes: {
                id: 'release-date-type' + loop.index,
                "data-sort-value": offender.releaseDateLabel
            },
            text: offender.releaseDateLabel
        },
        {
            attributes: {
                id: 'release-date-' + loop.index,
                "data-sort-value": offender.releaseDate | dateToUnix
            },
            text: offender.releaseDate
        }
    ]), licences) %}
{% endfor %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">PRRD cases by Prison: {{ user.activeCaseload }}</h1>
        </div>
    </div>
    {% if caseload.length > 0 %}
        {{ govukTable({
            attributes: {
                'data-module': 'moj-sortable-table'
            },
            caption: "Caseload",
            captionClasses: "govuk-visually-hidden",
            head: [
                {
                    text: "Name",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Prison number",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Licence status",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Probation practitioner",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Release date type",
                    attributes: {
                        "aria-sort": "none"
                    }
                },
                {
                    text: "Release date",
                    attributes: {
                        "aria-sort": "ascending"
                    }
                }
            ],
            rows: licences
        }) }}
    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-s">There are no PRRD cases which meet the eligibility criteria.</h2>
            </div>
        </div>
    {% endif %}

{% endblock %}
