---
# Per environment values which override defaults in create-and-vary-a-licence/values.yaml
generic-service:
  replicaCount: 2

  ingress:
    hosts:
     - create-and-vary-a-licence-preprod.hmpps.service.justice.gov.uk
    contextColour: green

  env:
    SYSTEM_PHASE: PRE-PRODUCTION
    INGRESS_URL: "https://create-and-vary-a-licence-preprod.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    DELIUS_API_URL: 'https://create-and-vary-a-licence-and-delius-preprod.hmpps.service.justice.gov.uk'
    PRISON_API_URL: "https://prison-api-preprod.prison.service.justice.gov.uk"
    LICENCE_API_URL: "https://create-and-vary-a-licence-api-preprod.hmpps.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search-preprod.prison.service.justice.gov.uk"
    PRISON_REGISTER_API_URL: "https://prison-register-preprod.hmpps.service.justice.gov.uk"
    LICENCE_WATERMARK: "true"
    # A reference to the Gotenberg service - to submit HTML to PDF conversions (internal within namespace)
    GOTENBERG_API_URL: "http://create-and-vary-a-licence-gotenberg"
    # A reference to the CVL service - for links in HTML to get images/stylesheets (internal within namespace)
    LICENCES_URL: "http://create-and-vary-a-licence"
    DPS_URL: "https://digital-preprod.prison.service.justice.gov.uk"

    # To enable common front-end components
    COMPONENT_API_URL: "https://frontend-components-preprod.hmpps.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-preprod.hmpps.service.justice.gov.uk"
    HDC_INTEGRATION_MVP2_ENABLED: "false"
    HDC_LICENCE_CREATION_BLOCK: "true"
    TIME_SERVED_ENABLED_PRISONS: "MDI, BAI, BNI, WCI, EXI, WDI, IWI, EWI"

  namespace_secrets:
    create-and-vary-a-licence-prison-events-sqs-instance-output:
      SQS_PRISON_EVENTS_QUEUE_URL: 'sqs_id'
    create-and-vary-a-licence-domain-events-sqs-instance-output:
      SQS_DOMAIN_EVENTS_QUEUE_URL: 'sqs_id'

  scheduledDowntime:
    enabled: true
    businessHoursOnly: true

gotenberg:
  replicaCount: 1
  env:
    GOOGLE_CHROME_IGNORE_CERTIFICATE_ERRORS: 1
    DISABLE_UNOCONV: 1
    DEFAULT_WAIT_TIMEOUT: 30

  scheduledDowntime:
    enabled: true
    businessHoursOnly: true

generic-prometheus-alerts:
  alertSeverity: cvl-alerts-non-prod
  businessHoursOnly: true
