---
# Per environment values which override defaults in create-and-vary-a-licence/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    hosts: 
     - create-and-vary-a-licence.hmpps.service.justice.gov.uk
    contextColour: green

  env:
    INGRESS_URL: "https://create-and-vary-a-licence.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"
    DELIUS_API_URL: 'https://create-and-vary-a-licence-and-delius.hmpps.service.justice.gov.uk'
    PRISON_API_URL: "https://prison-api.prison.service.justice.gov.uk"
    LICENCE_API_URL: "https://create-and-vary-a-licence-api.hmpps.service.justice.gov.uk"
    PRISONER_SEARCH_API_URL: "https://prisoner-search.prison.service.justice.gov.uk"
    PRISON_REGISTER_API_URL: "https://prison-register.hmpps.service.justice.gov.uk"
    LICENCE_WATERMARK: "false"
    # A reference to the Gotenberg service - to submit HTML to PDF conversions (internal within namespace)
    GOTENBERG_API_URL: "http://create-and-vary-a-licence-gotenberg"
    # A reference to the CVL service - for links in HTML to get images/stylesheets (internal within namespace)
    LICENCES_URL: "http://create-and-vary-a-licence"
    DPS_URL: "https://digital.prison.service.justice.gov.uk"

    # To enable common front-end components
    COMPONENT_API_URL: "https://frontend-components.hmpps.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api.hmpps.service.justice.gov.uk"
    HDC_INTEGRATION_MVP2_ENABLED: "false"
    HDC_LICENCE_CREATION_BLOCK: "true"
    APPROVER_NEW_SEARCH_ENABLED: "true"
    PDU_HEAD_NEW_SEARCH_ENABLED: "true"
    RECALLS_ENABLED: "false"

gotenberg:
  replicaCount: 2
  env:
    GOOGLE_CHROME_IGNORE_CERTIFICATE_ERRORS: 1
    DISABLE_UNOCONV: 1
    DEFAULT_WAIT_TIMEOUT: 30

generic-prometheus-alerts:
  alertSeverity: cvl-alerts
  sqsAlertsQueueNames:
    - "Digital-Prison-Services-prod-cvl_domain_events_queue"
    - "Digital-Prison-Services-prod-cvl_domain_events_dl"
