{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Vary a licence - Are you sure?" %}
{% set pageId = "confirm-vary-question-page" %}
{% set backLinkHref = "/licence/vary/id/" + licence.id + "/view" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                {{ "Are you sure you want to vary this post sentence supervision order?" if licence.isInPssPeriod else "Are you sure you want to vary this licence?" }}
            </h1>
            {% if licence.isInPssPeriod %}
                <div class="govuk-hint">
                    This person reached their LED on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>, so only their post sentence supervision order can be varied.
                </div>
            {% endif %}
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "radio-option",
                    name: "answer",
                    fieldset: {
                        attributes: {
                            id: 'answer'
                        },
                        legend: {
                            text: "Are you sure you want to vary this licence?",
                            classes: "govuk-visually-hidden"
                        }
                    },
                    errorMessage: validationErrors | findError('answer'),
                    items: [
                        {
                            value: "Yes",
                            text: "Yes"
                        },
                        {
                            value: "No",
                            text: "No"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { 'data-qa': 'continue' },
                    preventDoubleClick: true
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
