{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Vary a licence - Confirmation" %}
{% set pageId = "confirmation-page" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
              titleText: titleText
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>
                We have sent the variation request to the head of PDU for approval.
            </p>
            <p>
                They will contact you if they need more information.
            </p>
            <p>
                You will get an email when the variation is approved and you will be able to print 	and issue the licence or post sentence supervision order.          
            </p>

            <h2 class="govuk-heading-m">Give us your feedback</h2>
            <p>
                <a href="{{ exitSurveyLink }}" rel="noreferrer noopener" target="_blank" id="exit-survey" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
            </p>

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Return to case list",
                    classes: "govuk-button--primary govuk-!-margin-top-3",
                    href: backLinkHref,
                    attributes: { 'data-qa': 'return-to-case-list' }
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
