{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Vary a licence - Are you sure?" %}
{% set pageId = "discard-page" %}
{% set backLinkHref = "/licence/vary/id/" + licence.id + "/view" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Are you sure you want to delete this variation?</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {{ govukRadios({
                    idPrefix: "radio-option",
                    name: "answer",
                    fieldset: {
                        attributes: {
                            id: 'answer'
                        },
                        legend: {
                            text: "Are you sure you want to vary this licence?",
                            classes: "govuk-visually-hidden"
                        }
                    },
                    errorMessage: validationErrors | findError('answer'),
                    items: [
                        {
                            value: "Yes",
                            text: "Yes - delete changes and return to case list"
                        },
                        {
                            value: "No",
                            text: "No - keep changes and continue varying"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Confirm",
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
