{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/variedConditions.njk" import variedConditions %}

{% set pageTitle = applicationName + " - Vary a licence - Reason for variation" %}
{% set pageId = "reason-for-variation-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/check-your-answers" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Add reason for the licence variation</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <div class="govuk-hint">Add a short explanation for each licence condition you want to vary. Include what led to your decision, why it’s necessary to manage any change in risk and what the management plan is.</div>

                {{ govukDetails({
                    summaryText: "View the varied licence conditions",
                    html: variedConditions(conditionComparison)
                }) }}

                {{ govukTextarea({
                    id: 'reasonForVariation',
                    name: 'reasonForVariation',
                    attributes: {
                        'data-module': 'moj-rich-text-editor',
                        'data-moj-rich-text-editor-toolbar': 'bold,italic,underline,bullets,numbers'
                    },
                    label: {
                        text: 'Reason for variation',
                        classes: 'govuk-visually-hidden'
                    },
                    errorMessage: validationErrors | findError('reasonForVariation'),
                    value: licence.reasonForVariation | fillFormResponse(formResponses.reasonForVariation)
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        attributes: { 'data-qa': 'continue' }
                    }) }}
                    {{ govukButton({
                        text: "Discard changes",
                        classes: "govuk-button--secondary",
                        attributes: { 'data-qa': 'discard' },
                        href: '/licence/vary/id/' + licence.id + '/confirm-discard-variation'
                    }) }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
