{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/variedConditions.njk" import variedConditions %}
{% from "partials/variationDetails.njk" import variationDetails %}

{% set pageTitle = applicationName + " - Vary a licence - Reason for variation" %}
{% set pageId = "reason-for-variation-page" %}
{% set backLinkHref = "/licence/create/id/" + licence.id + "/check-your-answers" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Add reasons for the licence variation</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {{ variationDetails(licence, conversation) }}

                <div class="govuk-hint">Add a short explanation for every licence condition you want to vary. You should include:
                    <ul class="govuk-list govuk-list--bullet govuk-hint">
                        <li>why the changes are being made now and why they are necessary to manage current risk</li>
                        <li>who you have consulted about the variations and if they support your decision</li>
                    </ul>
                </div>

                {{ govukDetails({
                    summaryText: "View the licence variation details",
                    html: variedConditions(conditionComparison)
                }) }}

                {{ govukTextarea({
                    id: 'reasonForVariation',
                    name: 'reasonForVariation',
                    attributes: {
                        'data-module': 'moj-rich-text-editor',
                        'data-moj-rich-text-editor-toolbar': 'bold,italic,underline,bullets,numbers'
                    },
                    label: {
                        text: 'Reason for variation',
                        classes: 'govuk-visually-hidden'
                    },
                    errorMessage: validationErrors | findError('reasonForVariation'),
                    value: formResponses.reasonForVariation
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        attributes: { 'data-qa': 'continue' }
                    }) }}
                    {{ govukButton({
                        text: "Discard changes",
                        classes: "govuk-button--secondary",
                        attributes: { 'data-qa': 'discard' },
                        href: '/licence/vary/id/' + licence.id + '/confirm-discard-variation'
                    }) }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
