{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = applicationName + "– Vary a licence – Have you reviewed this licence?" %}
{% set pageId = "review-licence-question-page" %}
{% set backLinkHref = "/licence/vary/id/" + licence.id + "/timeline" %}
{% set printLink = '/licence/view/id/' + licence.id + '/pdf-print' %}

{% block content %}

    {% set isTimeServed = (licence.kind == "TIME_SERVED") %}
    {% if isTimeServed %}
        {% set noLableText = 'No - leave unchanged and return to licence history' %}
    {% else %}
        {% set noLableText = 'No - return to licence history' %}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                {{ "Does anything on this licence need changing?" }}
            </h1>
            {% if licence.eligibleKind == 'PRRD' %}
                <p class="govuk-body">
                    {{
                    govukWarningText({
                        iconFallbackText: "Warning",
                        html: "This person was released following a fixed-term recall." +
                        "<br> Check their previous licence conditions. You should do this using " +
                        "<a class='govuk-link' href='https://epf.linkspace.uk/planning' target='_blank' rel='noreferrer noopener'>EPF 2</a>.",
                        attributes: { 'data-qa': 'prrd-warning' }
                    })
                    }}
                </p>
            {% endif %}
            {% if not isTimeServed %}
            <p class="govuk-body" data-qa="additional-message">
              You can vary this licence to add information such as additional licence conditions or leave it unchanged if you are happy with it.
            </p>
            {% endif %}
        </div>
    </div>



    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukRadios({
                    classes: "govuk-radios",
                    idPrefix: "radio-option",
                    name: "answer",
                    fieldset: {
                        attributes: {
                            id: 'answer'
                        },
                        legend: {
                            text: "Does anything on this licence need changing?",
                            classes: "govuk-visually-hidden"
                        }
                    },
                    errorMessage: validationErrors | findError('answer'),
                    items: [
                        {
                            value: "Yes",
                            text: "Yes - vary this licence now"
                        },
                        {
                            value: "No",
                            text: noLableText
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Submit",
                    type: "submit",
                    attributes: { 'data-qa': 'continue' },
                    preventDoubleClick: true
                }) }}
            </div>
        </div>
    </form>

    {% set licenceConditions = "This licence contains:<ul><li>standard conditions</li><li>the following additional condition:</li></ul>
                                    <p class='govuk-inset-text'>Not to approach or communicate with any victims of your offences without the prior approval of your supervising officer.</p>"
                                if licence.typeCode  === 'AP_PSS' or licence.typeCode === 'AP' else   
                                "<p>This licence contains standard post sentence supervision requirements only by default.</p>" %}

    {% set licenceContains = licenceConditions +"<br><a href="+ printLink + " target='_blank'>View or print this licence PDF</a>" 
    %}

    {{ govukDetails({
        summaryText: "What does this licence contain?",
        html: licenceContains,
        classes: "licence-conditions"
    }) }}
{% endblock %}
