{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Vary a licence - Have you have discussed this variation request with your SPO?" %}
{% set pageId = "spo-discussion-page" %}
{% set backLinkHref = "/licence/vary/caseload" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Have you have discussed this variation request with your SPO?</h1>
        </div>
    </div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "radio-option",
                    name: "answer",
                    fieldset: {
                        attributes: {
                            id: 'answer'
                        },
                        legend: {
                            text: "Have you have discussed this variation request with your SPO?",
                            classes: "govuk-visually-hidden"
                        }
                    },
                    errorMessage: validationErrors | findError('answer'),
                    items: [
                        {
                            value: "Yes",
                            text: "Yes",
                            checked: licence.spoDiscussion == 'Yes'
                        },
                        {
                            value: "No",
                            text: "No",
                            checked: licence.spoDiscussion == 'No'
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { 'data-qa': 'continue' }
                }) }}
            </div>
        </div>
    </form>
{% endblock %}
