{% extends "layout.njk" %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "partials/varyCallToActions.njk" import timelineCta %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = applicationName + " - Vary a licence - licence history" %}
{% set pageId = "view-timeline-page" %}
{% set backLinkHref = "/licence/vary/caseload" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Current licence and licence history</h1>
        </div>
    </div>

    {%- set currentLicenceHtml  %}
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ timelineCta(callToAction, licence) }}
            {{ currentLicenceEvents(timelineEvents) }}

            {% if not hdcIntegrationMvp2Enabled %}
                {% if licence.kind === 'HDC' %}
                    {{ govukDetails({
                        summaryText: "How do I vary this licence?",
                        html: "Email createandvaryalicence@digital.justice.gov.uk to vary this licence.",
                        attributes: { 'data-qa': 'hdc-vary-licence' }
                    }) }}
                {% endif %}
            {% endif %}
        </form>
    {% endset -%}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukTabs({
                items: [
                    {
                        label: "Current licence",
                        id: "current-licence",
                        panel: {
                            html: currentLicenceHtml
                        }
                    }
                ]
            }) }}
        </div>
    </div>

{% endblock %}

{% macro currentLicenceEvents(events) %}
    <div class="moj-timeline">
        {% for event in events %}
            <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">{{ event.title }}</h2>
                    <p class="moj-timeline__byline">by {{ event.createdBy }}</p>
                </div>

                <p class="moj-timeline__date">{{"Last update: " if event.statusCode === 'VARIATION_IN_PROGRESS'}} {{ event.lastUpdate | datetimeToDate }} at {{ event.lastUpdate | datetimeTo12HourTime }}</p>

                <div class="moj-timeline__description">
                    {# Set up the links associated with this event #}
                    {% set viewLink = '/licence/vary/id/' + event.licenceId + '/view' %}
                    {% set printLink = '/licence/view/id/' + event.licenceId + '/pdf-print' %}

                    {# Show content specific to each status/event type #}
                    {% if event.statusCode === 'VARIATION_APPROVED' %}
                        {{ variationApproved(event, viewLink) }}
                    {% elseif (event.statusCode === 'ACTIVE' or event.statusCode == 'INACTIVE') and event.eventType === 'VARIATION' %}
                        {{ variationComplete(event, viewLink, printLink) }}
                    {% elseif (event.statusCode === 'ACTIVE' or event.statusCode === 'INACTIVE') and event.eventType === 'CREATION' %}
                       {{ originalLicence(event, printLink) }}
                    {% elseif event.statusCode === 'VARIATION_REJECTED' %}
                        {{ variationRejected(event, viewLink) }}
                    {% elseif event.statusCode === 'VARIATION_SUBMITTED' %}
                       {{ variationSubmitted(event, viewLink) }}
                    {% elseif event.statusCode === 'VARIATION_IN_PROGRESS' %}
                       {{ variationInProgress(event, viewLink) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro variationApproved(event, viewLink, printLink) %}
    <div class="govuk-!-margin-left-5">
      <a class="govuk-link govuk-!-font-size-16" href="{{ viewLink }}">View variation details</a>
    </div>
{% endmacro %}

{% macro variationComplete(event, viewLink, printLink) %}
    <div class="govuk-!-margin-left-5">
        <a class="govuk-link govuk-!-font-size-16" href="{{ viewLink }}">View variation details</a>
    </div>
    <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
            <a class="moj-timeline__document-link govuk-!-font-size-16" href="{{ printLink }}" target="_blank">View or print this version of the licence PDF</a>
        </li>

    </ul>
{% endmacro %}

{% macro originalLicence(event, printLink) %}
    <ul class="moj-timeline__documents">
        <li class="moj-timeline__document-item">
            <a class="moj-timeline__document-link govuk-!-font-size-16" href="{{ printLink }}" target="_blank">View or print this version of the licence PDF</a>
        </li>
    </ul>
{% endmacro %}

{% macro variationRejected(event, viewLink) %}
    <div class="govuk-!-margin-left-5">
        <a class="govuk-link govuk-!-font-size-16" href="{{ viewLink }}">Attention needed: view variation details</a>
    </div>
{% endmacro %}

{% macro variationSubmitted(event, viewLink) %}
    <div class="govuk-!-margin-left-5">
      <a class="govuk-link govuk-!-font-size-16" href="{{ viewLink }}">View or edit submitted variation details</a>
    </div>
{% endmacro %}

{% macro variationInProgress(event, viewLink) %}
    <div class="govuk-!-margin-left-5">
        <a class="govuk-link govuk-!-font-size-16" href="{{ viewLink }}">View or edit variation details</a>
    </div>
{% endmacro %}
