{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "partials/bespokeConditionsSummary.njk" import bespokeConditions %}
{% from "partials/varyCallToActions.njk" import activeCta %}
{% from "pages/licence/partials/hdcCurfewTimes.njk" import hdcCurfewTimes %}

{% set pageTitle = applicationName + " - Vary a licence - Active licence" %}
{% set isInVariation = licence.statusCode == 'VARIATION_IN_PROGRESS' or licence.statusCode == 'VARIATION_SUBMITTED'
    or licence.statusCode == 'VARIATION_REJECTED' or licence.statusCode == 'VARIATION_APPROVED' %}
{% set pageId = "view-active-licence-page" %}
{% set backLinkHref = "/licence/vary/caseload" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if licence.typeCode === 'AP' %}
                <h1 class="govuk-heading-l">View licence details</h1>
            {% elseif licence.typeCode === 'AP_PSS' %}
                <h1 class="govuk-heading-l">View or vary licence and post sentence supervision order</h1>
            {% elseif licence.typeCode === 'PSS' %}
                <h1 class="govuk-heading-l">View post sentence supervision order details</h1>
            {% endif %}
        </div>
    </div>

    {% if hdcEnabled %}
        {{ activeCta(callToActions, licence, false) }}
    {% else %}
        {% if licence.kind !== 'HDC' %}
            {{ activeCta(callToActions, licence, false ) }}
        {% endif %}
    {% endif %}

    {% if licence.kind === 'HDC' or licence.kind === 'HDC_VARIATION' %}
        <h2 class="govuk-!-margin-bottom-3 govuk-!-margin-top-3 govuk-heading-m">HDC curfew details</h2>
        {{ hdcCurfewTimes(hdcLicenceData) }}
    {% endif %}

    <div class="govuk-grid-row govuk-!-margin-bottom-3">
        <div class="govuk-grid-column-full">
            {% if ( licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS')
                and (not licence.isInPssPeriod or (licence.isInPssPeriod and (not isInVariation and not licence.isActivatedInPssPeriod))) %}
                {{ additionalLicenceConditions(licence, additionalConditions, null, [], 'Additional licence conditions') }}
                {{ bespokeConditions(licence.id, null, 'Bespoke licence conditions', null, licence.bespokeConditions) }}
            {% endif %}
            {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
                {{ additionalPssConditions(licence, null, [], 'Additional post sentence supervision requirements') }}
            {% endif %}
            {% if licence.typeCode === 'AP_PSS' and licence.isInPssPeriod and (isInVariation or licence.isActivatedInPssPeriod)
                and (additionalConditions.length or bespokeConditionsToDisplay.length)  %}
                <div>
                    <h2 class="govuk-heading-m" id="conditions-expired">Conditions from expired licence</h2>
                    <p>This person reached their LED on <span class="bold">{{ licence.licenceExpiryDate | datetimeToDate }}</span>,
                    so the conditions from their standard determinate licence can no longer be varied.</p>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View conditions from expired licence
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            {{ additionalLicenceConditions(licence, additionalConditions, null, [], 'Additional licence conditions') }}
                            {{ bespokeConditions(licence.id, null, 'Bespoke licence conditions', null, bespokeConditionsToDisplay) }}
                        </div>
                    </details>
                </div>
            {% endif %}

        </div>
    </div>

    {% if hdcEnabled %}
        {{ activeCta(callToActions, licence, true) }}
    {% else %}
        {% if licence.kind !== 'HDC' %}
            {{ activeCta(callToActions, licence, true) }}
        {% endif %}
    {% endif %}

{% endblock %}
