{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/inductionMeetingDetailsSummary.njk" import inductionMeetingDetails %}
{% from "partials/additionalLicenceConditionsSummary.njk" import additionalLicenceConditions %}
{% from "partials/additionalPssConditionsSummary.njk" import additionalPssConditions %}
{% from "partials/bespokeConditionsSummary.njk" import bespokeConditions %}

{% set pageTitle = applicationName + " - Vary a licence - View active licence" %}
{% set pageId = "vary-view-active-page" %}
{% set backLinkHref = "/licence/vary/caseload" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if licence.typeCode === 'AP' %}
               <h1 class="govuk-heading-l">View licence</h1>
            {% elseif licence.typeCode === 'AP_PSS' %}
                <h1 class="govuk-heading-l">View licence and post sentence supervision</h1>
            {% elseif licence.typeCode === 'PSS' %}
                <h1 class="govuk-heading-l">View post sentence supervision order</h1>
            {% endif %}
        </div>
    </div>

    <div class="govuk-body">
        {{ govukButton({
            text: "Vary licence",
            classes: "govuk-button--primary govuk-!-margin-right-1",
            href: '#',
            attributes: { 'data-qa': 'vary-licence' }
        }) }}

        {{ govukButton({
            text: "Print",
            classes: "govuk-button--secondary",
            href: '/licence/view/id/' + licence.id + '/pdf-print',
            attributes: { 'data-qa': 'print-licence', 'target': "_blank" }
        }) }}
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ inductionMeetingDetails(licence) }}
            {% if licence.typeCode === 'AP' or licence.typeCode === 'AP_PSS' %}
                {{ additionalLicenceConditions(licence, expandedLicenceConditions) }}
                {{ bespokeConditions(licence) }}
            {% endif %}
            {% if licence.typeCode === 'PSS' or licence.typeCode === 'AP_PSS' %}
                {{ additionalPssConditions(licence, expandedPssConditions) }}
            {% endif %}

            <div class="govuk-body">
                {{ govukButton({
                    text: "Vary licence",
                    classes: "govuk-button--primary govuk-!-margin-right-1",
                    href: '#',
                    attributes: { 'data-qa': 'vary-licence' }
                }) }}

                {{ govukButton({
                    text: "Print",
                    classes: "govuk-button--secondary",
                    href: '/licence/view/id/' + licence.id + '/pdf-print',
                    attributes: { 'data-qa': 'print-licence', 'target': "_blank" }
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
