{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "pages/immediateReleaseConditions.njk" import immediateReleaseConditions %}

{% set pageTitle = applicationName + " - Create a hardstop licence - Are you sure?" %}
{% set pageId = "hardstop-confirm-create-page" %}
{% set backLinkHref = backLink %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
              Are you sure you want to generate a standard licence for this person?
            </h1>
            {% if licence.isEligibleForEarlyRelease %}
                {{ govukWarningText({
                    html: "This person is eligible for an earlier release. It may affect their initial appointment. Find more information <br> in the <a class='govuk-link' rel='noreferrer noopener' target='_blank' href="+ fridayReleasePolicy +">Friday or pre-bank holiday release policy framework (opens in new tab).</a>",
                    iconFallbackText: "Warning"
                }) }}
            {% endif %}
            <div class="licence-conditions">
                {{ immediateReleaseConditions(licence.licenceType) }}
            </div>
            {% if licence.licenceType === 'AP_PSS' or licence.licenceType === 'AP' %}
                <p class="govuk-body">You cannot add any other additional or bespoke licence conditions.<br> <br> A community probation practitioner can do this after release.</p>
            {% endif %}
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full-from-desktop">
                        {{ govukRadios({
                            classes: "govuk-radios--inline",
                            idPrefix: "answer",
                            name: "answer",
                            fieldset: {
                                legend: {
                                    text: "Are you sure you want to create this hardstop licence?",
                                    isPageHeading: false,
                                    classes: "govuk-visually-hidden"
                                }
                            },
                            errorMessage: validationErrors | findError('answer'),
                            items: [
                                {
                                    value: "Yes",
                                    text: "Yes"
                                },
                                {
                                    value: "No",
                                    text: "No"
                                }
                            ]
                        }) }}
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-button-group">
                            {{ govukButton({
                                text: 'Continue',
                                type: "submit",
                                attributes: { 'data-qa': 'continue' },
                                preventDoubleClick: true
                            }) }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
