{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = applicationName + " - Select an address" %}
{% set backLinkHref = "/" %}
{% set addressCountLabel = "One address" if addresses.length == 1 else addresses.length + " addresses" %}

{% macro renderMultipleAddresses(addresses, validationErrors) %}
    {% set addressesOptions = [] %}
    {% for address in addresses %}
        {% set addressesOptions = (addressesOptions.push({
            text: address | formatAddressTitleCase(true) | safe,
            value: address | dump,
            attributes: {
                "data-qa": "address-" + loop.index
            }
        }), addressesOptions) %}
    {% endfor %}
    {{ govukRadios({
        idPrefix: "radio-option",
        id: "selectedAddress",
        name: "selectedAddress",
        errorMessage: validationErrors | findError('selectedAddress'),
        attributes: {
                "data-qa": "multiple-address"
        },
        items: addressesOptions
    }) }}
{% endmacro %}

{% macro renderSingleAddress(address) %}
    <div data-qa="single-address" class="govuk-body govuk-!-padding-2 govuk-!-margin-bottom-8 address-highlight">
        {{ address | formatAddressTitleCase | safe }}
    </div>
{% endmacro %}

{% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <h1 class="govuk-heading-l">
                    Select address
                </h1>
                <p class="govuk-body">
                    {{ addressCountLabel }} found for <strong>{{ searchQuery }}</strong>. <a class="govuk-link govuk-link--no-visited-state" href="{{ postcodeLookupSearchUrl }}">Search again</a>
                </p>

                {% if addresses.length == 1 %}
                    <input type="hidden" name="selectedAddress" value="{{ addresses[0] | dump | escape }}">
                    {{ renderSingleAddress(addresses[0]) }}
                {% else %}
                    {{ renderMultipleAddresses(addresses, validationErrors) }}
                {% endif %}

                                <h1 class="govuk-heading-s">
                    Save this address (optional)
                </h1>

                {{ govukCheckboxes({
                    id: "isPreferredAddress",
                    name: "isPreferredAddress",
                    fieldset: {
                        legend: {
                            text: "",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [
                        {
                            id: "isPreferredAddressSelected",
                            value: "true",
                            text: "Add to your list of saved addresses",
                            label: {
                                classes: 'govuk-!-padding-top-0'
                            }
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: continueOrSaveLabel,
                    preventDoubleClick: true,
                    attributes: { 'data-qa': 'continue' }
                }) }}

                <p class="govuk-body">
                    <a data-qa="enterAddressManually" class="govuk-link govuk-link--no-visited-state" href={{ manualAddressEntryUrl }}>Enter address manually</a>
                </p>
            </form>
        </div>
      </div>
    </div>
{% endblock %}
