{% extends "layout.njk" %}

{% set pageTitle = applicationName + " about us" %}
{% set pageId = 'about-us-page' %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">About the Create and vary a licence service</h1>

            <p class="govuk-body">This service replaces both the PD1 creation and the nDelius variation forms and process for :</p>

            <ul class="govuk-body govuk-list--bullet">
                <li>standard determinate (all purpose) licence</li>
                <li>post sentence supervision orders</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"/>

            <h2 class="govuk-heading-m">Before you start</h2>

            <p class="govuk-body">Before using this service, probation practitioners must
                <a class="govuk-link" href="https://epf.linkspace.uk" target="_blank" rel="noreferrer noopener">go to the EPF2 service to decide the appropriate licence conditions</a>
            </p>

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"/>

            <h2 class="govuk-heading-m">How the service works</h2>

            <p class="govuk-body">For licence creation this service allows:</p>
            <div class="steps">
              <ol class="govuk-body">
                <li>Community probation practitioners to create and edit licences, then send them to prison for approval</li>
                <li>Prison OMU staff to view submitted licences</li>
                <li>Prison Grade 7 (and above) staff to approve licences with a digital signature</li>
                <li>Prison OMU staff to print licences ready for a person's release</li>
              </ol>
            </div>

            <p class="govuk-body">For licence variation this service allows:</p>
            <div class="steps">
              <ol class="govuk-body">
                <li>Community probation practitioners to vary licence conditions after a person's release and send them to the Head of Probation Delivery Unit (PDU) for approval</li>
                <li>Heads of PDU to review variation requests and approve with a digital signature</li>
                <li>Community probation practitioners to print the licence ready to issue it to the person on licence</li>
              </ol>
            </div>
            <p class="govuk-body">You can only vary licences that have been created in this service</p>

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"/>

            <h2 class="govuk-heading-m">Licence types managed outside of Create and vary a licence</h2>

            <p class="govuk-body">You should continue to create and vary these licences using the current process:</p>
            <ul class="govuk-body govuk-list--bullet">
                <li>licences for re-release after standard recall</li>
                <li>time-served on the day releases</li>
                <li>life licences</li>
                <li>licences for indeterminate sentences</li>
                <li>Detention and Training Order (DTO) licences</li>
                <li>Release on Temporary Licence (ROTL)</li>
                <li>licences requiring parole board approval (including extended determinate sentences and special custodial sentences)</li>
            </ul>

            <p class="govuk-body">You can find out more about
                <a class="govuk-link"
                   href="https://equip-portal.rocstac.com/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3A9A63E167DE4B400EA07F81A9271E1944&dgm=C09C31EA7B5A4F37B5053CAF62AE8DFA"
                   target="_blank" rel="noreferrer noopener">licences on the EQuiP website
                </a>
            </p>

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"/>

            <h2 class="govuk-heading-m">Home detention curfew (HDC) licences</h2>
            <p class="govuk-body">There is an HMPPS digital service if you need to create home detention curfew (HDC) licences.</p>

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"/>

            <h2 class="govuk-heading-m">Licences for a person both recalled and serving another sentence</h2>
            <p class="govuk-body">
                Use this service for a release when someone has been recalled to prison and stays beyond the recall
                period because they are also serving a sentence for a new offence. This is not classed as a re-release
                after recall, but is a standard release from the new sentence. This means you will see them in your
                Create and vary a licence case list.
            </p>

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"/>

            <h2 class="govuk-heading-m">Getting new licences onto nDelius and NOMIS</h2>
            <p class="govuk-body">This service will not automatically upload the licences it creates or varies to nDelius or NOMIS.</p>
            <p class="govuk-body">You will need to upload new licences manually until we introduce this feature.</p>

            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"/>

            <h2 class="govuk-heading-m">Sharing licences with the police</h2>
            <p class="govuk-body">Prison OMU staff and community probation practitioners will still need to share licences manually with the police
                and PNC Bureau. This needs to happen as soon as a prison governor or head of the probation delivery unit approves it.
            </p>
        </div>
    </div>

{% endblock %}