{% extends "layout.njk" %}

{% set pageTitle = applicationName + " about us" %}
{% set pageId = 'about-us-page' %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">About us</h1>

            <p class="govuk-body">The service is run by the HMPPS Create and vary a licence team.</p>

            <p class="govuk-body">Email the team at <a class="govuk-link" href="mailto: createandvaryalicence@digital.justice.gov.uk">createandvaryalicence@digital.justice.gov.uk</a>.</p>

        </div>
    </div>

{% endblock %}