{% extends "layout.njk" %}

{% from "govuk/components//button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Access restricted on NDelius" %}
{% set backLinkHref = "/" %}
{% set pageId = "access-restricted-ndelius" %}

{% if user.userRoles.includes('ROLE_LICENCE_ACO') %}
    {% set caseloadLink = '/licence/vary-approve/caseload' %}
{% elseif isVaryJourney %}
    {% set caseloadLink = '/licence/vary/caseload' %}
{% else %}
    {% set caseloadLink = '/licence/create/caseload' %}
{% endif %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Access restricted on NDelius<br>
                <span class="govuk-caption-l">CRN: {{ caseAccessDetails.crn }}</span>
            </h1>
            <p class="govuk-body">
                Access to this person’s details has been restricted on NDelius.<br>
                This could be because the information is sensitive.
            </p>
            <span class="govuk-heading-m govuk-!-margin-top-6">Additional information from NDelius</span>
            <p class="govuk-hint">Recorded by the person who restricted access.</p>
            <div class="govuk-inset-text" style="margin-top: 20px;">
                {{ caseAccessDetails.message }}
            </div>
            <span class="govuk-heading-m govuk-!-margin-top-6">If you need more guidance</span>
            <p class="govuk-body">
                <a data-qa="equip-link" href="https://equip-portal.equip.service.justice.gov.uk/ctrlwebisapi.dll/app/diagram/0%3AFF2D8D3F16B44268B814F7F8177A16F7.0CCF9118DFAC43F697E66CE331889D60">
                    Check EQuiP to find out more about restricted access
                </a>.
            </p>
            <br>

            {{ govukButton({
                text: "Return to cases",
                classes: "govuk-button--secondary",
                href: caseloadLink,
                attributes: {
                    'data-qa': 'return-to-cases'
                }
            }) }}
        </div>
    </div>
{% endblock %}
