{% extends "layout.njk" %}

{% set pageTitle = applicationName + " Activating a licence after a variation" %}
{% set pageId = 'activating-a-licence-after-a-variation' %}
{% set backLinkHref = "/" %}
{% set hideLicenceBanner = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Varying and reviewing licences</h1>
            <p class="govuk-body">The last approved version of a licence will always be used if you change something without getting it reapproved by the prison in time for release.<br><br>
                This is the version that will be given to the person when they leave prison, and also saved to the list of cases you see when you choose to vary a licence.<br><br>
                Because this version of the licence will not contain your most recent changes, you should review it and then vary it to add any missing information needed. You can then submit a variation request to your PDU head.<br><br>
                When varying any licence, you must always make it active after your changes have been approved by your PDU head.<br><br>
                Otherwise, the changes you have requested will not be made and you will not be able to print an updated version of the licence.<br><br>
                As long as your email address is present in NDelius, you should receive an email whenever licences need reviewing or making active.<br><br>
                To activate a licence, choose to set licence to active after selecting a licence you have varied from your case list, as shown in the screenshot below. This button will display only when a variation request has been approved.<br><br>
            </p>
            <div class="govuk-grid-column-three-thirds govuk-!-padding-top-4">
                <img src="assets/images/activating-licence-after-variation.png" alt="A picture of Create and vary a licence highlighting a button that lets you set a licence to active" width="750">
            </div>
        </div>
    </div>
{% endblock %}
