{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Caseload" %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l govuk-!-margin-top-7">My caseload</h1>
        <div class="govuk-grid-row">
          <div id="content-container">
              {%  include "../partials/caseloadTable.njk" %}
          </div>
        </div>
    </div>
{% endblock %}
