{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - View a licence - team selection" %}
{% set pageId = "change-team-page" %}

{% block content %}
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% set probationTeamOptions = [] %}
                {% for team in probationTeamsWithCount %}
                    {% set probationTeamOptions = (probationTeamOptions.push(
                        {   value: team.code, 
                            html: '<p class="govuk-!-margin-0">'+ team.label | escape  +' (<b>'+ team.count +'</b> licences to review)</p>' if showTeamsCount else '<p class="govuk-!-margin-0">'+ team.label | escape +'</p>'
                        }), probationTeamOptions) %}
                {% endfor %}
                {{ govukRadios({
                    name: "teams[]",
                    idPrefix: "teams",
                    fieldset: {
                        legend: {
                            text: 'Select a team\'s licences to view',
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    hint: {
                        text: ""
                    },
                    errorMessage: validationErrors | findError('teams'),
                    value: checked,
                    items: probationTeamOptions
                }) }}

                <div class="govuk-button-group govuk-!-padding-top-4">
                    {{ govukButton({
                        text: "Continue",
                        type: "submit",
                        attributes: { 'data-qa': 'continue' }
                    }) }}
                    <a class="govuk-link" href="{{ backLinkHref }}" data-qa="cancel-link">Cancel</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
