{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Contact" %}
{% set pageId = 'contact-us-page' %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Contact</h1>

            <p class="govuk-body">The service is run by the HMPPS Create and vary a licence team.</p>

            <h2 class="govuk-heading-m">Report a problem</h2>

            <p class="govuk-body">Contact the helpdesk by calling 0800 917 5148, or #6598 from inside a prison.</p>

            <p class="govuk-body">It can help if you tell us:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>what you were doing</li>
                <li>what page you were on</li>
                <li>what went wrong</li>
                <li>the date and time it happened</li>
            </ul>
        </div>
    </div>

{% endblock %}
