{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - Contact" %}
{% set pageId = 'contact-us-page' %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Contact us</h1>

            <p class="govuk-body">The service is run by the HMPPS Create and vary a licence team.</p>

            <h2 class="govuk-heading-m">Contact us or report a problem</h2>

            <p class="govuk-body">Email the team at <a class="govuk-link" href="mailto: createandvaryalicence@digital.justice.gov.uk">createandvaryalicence@digital.justice.gov.uk</a> if you need help.</p>

            <p class="govuk-body">If you've found a problem, include:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>what you were doing</li>
                <li>what page you were on</li>
                <li>what went wrong</li>
                <li>the date and time it happened</li>
            </ul>

            <p class="govuk-body">Do not include screenshots or any personal information.</p>

            <h2 class="govuk-heading-m">Feedback</h2>

            <p class="govuk-body">Help us to improve the service or get involved with our user research by <a href="{{ exitSurveyLink }}" rel="noreferrer noopener" target="_blank" id="exit-survey" class="govuk-link">completing the feedback form</a>. Feedback is anonymous.</p>
        </div>
    </div>

{% endblock %}
