{% extends "layout.njk" %}

{% set pageTitle = applicationName + " - There is a problem with the service" %}
{% set backLinkHref = "/" %}
{% set pageId = "error-page" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Sorry, there is a problem with Create and vary a licence</h1>
            <p class="govuk-body">Try again later.</p>
            <div class="govuk-!-padding-top-7">
                <h2 class="govuk-heading-l govuk-!-margin-bottom-4">For support</h2>
                <p id="support" class="govuk-body">
                    You must report your issue to the helpdesk using <a class="govuk-link" href="{{serviceNowUrl}}">this form on ServiceNow.
                    <br>
                    <br>
                    {% if user.authSource == 'nomis' %}
                        <a class="govuk-link" href="{{dpsUrl}}">Go to the Digital Prison Services homepage.</a>
                    {% endif %}
                    {% if user.authSource == 'delius' %}
                        <a class="govuk-link" href="https://sign-in.hmpps.service.justice.gov.uk/auth">Go to the Digital Services homepage.</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
