{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{%  macro immediateReleaseConditions() %}
    <p class="govuk-body">By default, the licence will automatically contain the following restrictions:</p>
    <ul class="govuk-list govuk-list--bullet standard-conditions">
        <li>standard conditions</li>
        <li>the following additional condition:</li>
        {{ govukInsetText({
            text: "Not to approach or communicate with any victims of your offences without the prior approval of your supervising officer."
        }) }}
    </ul>
{% endmacro %}
