{% extends "layout.njk" %}
{% from "partials/card.njk" import card %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = 'index-page' %}

{% block content %}
    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Create and vary a licence</h1>
            <div class="govuk-grid-row card-group">
                {% if shouldShowCreateLicenceCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "createLicenceCard",
                            "href": "/licence/create/caseload",
                            "clickable": "true",
                            "heading": "Create a licence",
                            "description": "Create and edit all purpose licences and post sentence supervision orders for a person leaving custody.",
                            "data-qa": "create-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowVaryLicenceCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "varyLicenceCard",
                            "href": "/licence/vary/caseload",
                            "clickable": "true",
                            "heading": "Vary a licence",
                            "description": "View and vary licences and post sentence supervision orders for a person on licence in the community.",
                            "data-qa": "create-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowViewOrPrintCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "viewLicenceCard",
                            "href": "/licence/view/cases",
                            "clickable": "true",
                            "heading": "View or print a licence",
                            "description": "View or print an approved all purpose or post sentence supervision order.",
                            "data-qa": "view-print-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowApproveLicenceCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "approveLicenceCard",
                            "href": "/licence/approve/cases",
                            "clickable": "true",
                            "heading": "Approve a licence",
                            "description": "Approve all purpose licences and post sentence supervision orders.",
                            "data-qa": "approve-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowVaryApprovalCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "approveVariationCard",
                            "href": "/licence/vary-approve/list",
                            "clickable": "true",
                            "heading": "Approve licence variations",
                            "description": "Approve variations to all purpose licences and post sentence supervision orders.",
                            "data-qa": "approve-variation-link"
                        }) }}
                    </div>
                {% endif %}

{#
                {% if shouldShowMyCaseloadCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "myCaseloadCard",
                            "href": "/caseload/staffId/1",
                            "clickable": "true",
                            "heading": "My caseload",
                            "description": "View a list of my cases and their licences.",
                            "data-qa": "my-caseload--link"
                        }) }}
                    </div>
                {% endif %}
#}

            </div>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/card.js"></script>
{% endblock %}
