{% extends "layout.njk" %}
{% from "partials/card.njk" import card %}

{% set pageTitle = applicationName + " - Home" %}
{% set pageId = 'index-page' %}
{% set showCommsBanner = showWhatsNewBanner %}

{% block content %}
    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Create and vary a licence</h1>
            <div class="govuk-grid-row card-group">
                {% if shouldShowCreateLicenceCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "createLicenceCard",
                            "href": "/licence/create/caseload",
                            "clickable": "true",
                            "heading": "Create and edit a licence before a release date",
                            "description": "Create standard determinate licences and post sentence supervision orders for people in custody and send to prison for approval.",
                            "data-qa": "create-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowVaryLicenceCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "varyLicenceCard",
                            "href": "/licence/vary/caseload",
                            "clickable": "true",
                            "heading": "View and vary a licence after a release date",
                            "description": "Find standard determinate licences and post sentence supervision orders for people on licence and send variation requests to the PDU head for approval.",
                            "data-qa": "create-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowViewOrPrintCard %}
                    <div class="govuk-grid-column-one-third card-group__item govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "viewLicenceCard",
                            "href": "/licence/view/cases",
                            "clickable": "true",
                            "heading": "Print or generate a licence",
                            "description": "Print licences and post sentence supervision orders or generate standard licences.",
                            "data-qa": "view-print-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowApproveLicenceCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "approveLicenceCard",
                            "href": "/licence/approve/cases",
                            "clickable": "true",
                            "heading": "Approve a licence",
                            "description": "Approve standard determinate licences and post sentence supervision orders.",
                            "data-qa": "approve-licence-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowVaryApprovalCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "approveVariationCard",
                            "href": "/licence/vary-approve/list",
                            "clickable": "true",
                            "heading": "Approve licence variations",
                            "description": "Approve variations for standard determinate licences and post sentence supervision orders requested by probation practitioners.",
                            "data-qa": "approve-variation-link"
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowSupportCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "id": "supportCard",
                            "href": "/support",
                            "clickable": "true",
                            "heading": "Support",
                            "description": "View details about an offender or staff member to help with support."
                        }) }}
                    </div>
                {% endif %}

                {% if shouldShowReportsCard %}
                    <div class="govuk-grid-column-one-third card-group__item">
                        {{ card({
                            "href": "/reports",
                            "clickable": "true",
                            "heading": "Reporting",
                            "description": "View reports generated by CVL and DPR."
                        }) }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/js/card.js"></script>
{% endblock %}
