{% extends "layout.njk" %}

{% set pageTitle = applicationName + " service not available" %}
{% set pageId = 'service-not-available-page' %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">The service is not available in your region yet</h1>

            <p class="govuk-body">The service is available in Wales and will be available across England by the end of 2022.</p>

            <p class="govuk-body">We'll let you know when it's coming and give you everything you need to use it.</p>

            <h2 class="govuk-heading-m">About the Create and vary a licence service</h2>

            <p class="govuk-body">It will replace both the PD1 and nDelius variation forms and processes for:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>standard determinate (all purpose) licence</li>
                <li>post sentence supervision orders</li>
            </ul>

            <p class="govuk-body">The service is built and tested with users using designs familiar from other HMPPS and central government services.</p>

            <h2 class="govuk-heading-m">Contact us to find out more</h2>
            <p class="govuk-body">If you would like to find out more, email the team at <a href="mailto: createandvaryalicence@digital.justice.gov.uk">createandvaryalicence@digital.justice.gov.uk</a>.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <a id="return-to-home" href="{{ homeUrl }}" class="govuk-button">HMPPS services home page</a>
        </div>
    </div>

{% endblock %}
