{%  macro selectedAppointmentPerson(licence) %}
    {% switch licence.appointmentPersonType %}
        {% case 'DUTY_OFFICER' %}
            {% set appointmentPerson = 'Duty officer' %}
        {% case 'RESPONSIBLE_COM' %}
            {% set appointmentPerson = licence.responsibleComFullName %}
        {% default %}
            {% set appointmentPerson = licence.appointmentPerson %}
    {% endswitch %}
    {{ appointmentPerson }}
{% endmacro %}
